@import "./variables";

.page-adv {
  header {
    flex-wrap: wrap;

    h2 {
      text-align: center;
      line-height: 1.2;
      padding-top: 50px;
    }

    h2, .advantages {
      width: 100%;
    }

    .advantages {
      margin-top: -100px;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;

      .advantage {
        display: flex;
        align-items: center;
        width: 50%;
        max-width: 600px;
        padding: 20px 20px;
        box-sizing: border-box;

        &__caption {
          font-family: "TT Norms Bold", sans-serif;
          font-size: 28px;
          width: 100%;
          margin-bottom: 10px;
          color: #000000
        }

        &__description {
          font-size: 14px;
          line-height: 1.6;
          width: 100%;
        }

        &:before {
          content: "";
          display: block;
          width: 100px;
          height: 113px;
          margin-right: 20px;
        }

        &:nth-child(1):before {
          background: url(../img/trust.png) center / contain no-repeat;
        }

        &:nth-child(2):before {
          background: url(../img/save.png) center / contain no-repeat;
          height: 172px;
        }

        &:nth-child(3):before {
          background: url(../img/reduce.png) center / contain no-repeat;
        }

        &:nth-child(4):before {
          background: url(../img/increase.png) center / contain no-repeat;
        }

        &:nth-child(5):before {
          background: url(../img/megaphone-small.png) center / contain no-repeat;
        }

        .blockquote {
          position: relative;
          top: 0;
          font-family: "TT Norms Italic", sans-serif;
          font-size: 12px;
          color: #6a6a6a;
          text-align: left;
          border-right: none;
          border-left: 1px solid #899fac;
          padding-right: 0;
          padding-left: 20px;

          &:before {
            content: "*";
            position: absolute;
            left: 13px;
            top: 0;
          }
        }
      }
    }
  }

  .service {
    min-height: 100vh;

    h2 {
      line-height: 1.2;
    }

    &__map {
      position: relative;
      margin-top: -80px;

      img {
        width: 120%;
        max-width: 1413px;
        margin-left: -8%;
      }

      .info {
        position: absolute;
        left: 5%;
        bottom: 100px;
      }
    }
  }
}

.outdoor {
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  h2:first-child {
    font-family: "TT Norms Bold", sans-serif;
    font-size: 34px;
    color: #000000;
    margin-bottom: 15px;
    line-height: 1.1;

    span {
      color: $main-color
    }
  }

  h2, p, ul {
    width: 100%;
    max-width: 870px;
  }

  p {
    font-size: 18px;
    margin-bottom: 70px;
  }

  ul {
    font-family: "TT Norms", sans-serif;
    font-size: 18px;
    color: #010101;
    line-height: 1.2;

    li {
      position: relative;
      //opacity: 0;
      transition: opacity .3s;

      &:before {
        content: "";
        position: absolute;
        top: 8px;
        left: -60px;
        width: 46px;
        height: 7px;
        background-color: $main-color;
        margin-right: 28px;
        vertical-align: middle;
        transition: width .3s;
      }

      &.go {
        opacity: 1;
      }

      //&.go:before {
      //  width: 46px;
      //}
    }

    li + li {
      margin-top: 20px;
    }
  }
}

.how-it-work {
  position: relative;
  height: 101vh;
  margin-bottom: 0;

  h2 {
    font-size: 32px;
  }

  .line {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 1055px;
  }

  .step_1 {
    left: -4vw;
    top: 14%;
  }

  .step_2 {
    left: 2vw;
    top: 58%;
  }

  .step_3 {
    left: 19vw;
    top: 19%;
  }

  .step_4 {
    left: 24vw;
    top: 58%;
  }

  button {
    left: 10%;
    z-index: 2;
  }

  .woman-img {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    right: -20%;

    &__tooltip {
      position: absolute;
      right: 18%;
      top: 38%;
    }
  }
}