.page-adv header {
  flex-wrap: wrap;
}
.page-adv header h2 {
  text-align: center;
  line-height: 1.2;
  padding-top: 50px;
}
.page-adv header h2, .page-adv header .advantages {
  width: 100%;
}
.page-adv header .advantages {
  margin-top: -100px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.page-adv header .advantages .advantage {
  display: flex;
  align-items: center;
  width: 50%;
  max-width: 600px;
  padding: 20px 20px;
  box-sizing: border-box;
}
.page-adv header .advantages .advantage__caption {
  font-family: "TT Norms Bold", sans-serif;
  font-size: 28px;
  width: 100%;
  margin-bottom: 10px;
  color: #000000;
}
.page-adv header .advantages .advantage__description {
  font-size: 14px;
  line-height: 1.6;
  width: 100%;
}
.page-adv header .advantages .advantage:before {
  content: "";
  display: block;
  width: 100px;
  height: 113px;
  margin-right: 20px;
}
.page-adv header .advantages .advantage:nth-child(1):before {
  background: url(../img/trust.png) center/contain no-repeat;
}
.page-adv header .advantages .advantage:nth-child(2):before {
  background: url(../img/save.png) center/contain no-repeat;
  height: 172px;
}
.page-adv header .advantages .advantage:nth-child(3):before {
  background: url(../img/reduce.png) center/contain no-repeat;
}
.page-adv header .advantages .advantage:nth-child(4):before {
  background: url(../img/increase.png) center/contain no-repeat;
}
.page-adv header .advantages .advantage:nth-child(5):before {
  background: url(../img/megaphone-small.png) center/contain no-repeat;
}
.page-adv header .advantages .advantage .blockquote {
  position: relative;
  top: 0;
  font-family: "TT Norms Italic", sans-serif;
  font-size: 12px;
  color: #6a6a6a;
  text-align: left;
  border-right: none;
  border-left: 1px solid #899fac;
  padding-right: 0;
  padding-left: 20px;
}
.page-adv header .advantages .advantage .blockquote:before {
  content: "*";
  position: absolute;
  left: 13px;
  top: 0;
}
.page-adv .service {
  min-height: 100vh;
}
.page-adv .service h2 {
  line-height: 1.2;
}
.page-adv .service__map {
  position: relative;
  margin-top: -80px;
}
.page-adv .service__map img {
  width: 120%;
  max-width: 1413px;
  margin-left: -8%;
}
.page-adv .service__map .info {
  position: absolute;
  left: 5%;
  bottom: 100px;
}

.outdoor h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
.outdoor h2:first-child {
  font-family: "TT Norms Bold", sans-serif;
  font-size: 34px;
  color: #000000;
  margin-bottom: 15px;
  line-height: 1.1;
}
.outdoor h2:first-child span {
  color: #00e5a6;
}
.outdoor h2, .outdoor p, .outdoor ul {
  width: 100%;
  max-width: 870px;
}
.outdoor p {
  font-size: 18px;
  margin-bottom: 70px;
}
.outdoor ul {
  font-family: "TT Norms", sans-serif;
  font-size: 18px;
  color: #010101;
  line-height: 1.2;
}
.outdoor ul li {
  position: relative;
  transition: opacity 0.3s;
}
.outdoor ul li:before {
  content: "";
  position: absolute;
  top: 8px;
  left: -60px;
  width: 46px;
  height: 7px;
  background-color: #00e5a6;
  margin-right: 28px;
  vertical-align: middle;
  transition: width 0.3s;
}
.outdoor ul li.go {
  opacity: 1;
}
.outdoor ul li + li {
  margin-top: 20px;
}

.how-it-work {
  position: relative;
  height: 101vh;
  margin-bottom: 0;
}
.how-it-work h2 {
  font-size: 32px;
}
.how-it-work .line {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 1055px;
}
.how-it-work .step_1 {
  left: -4vw;
  top: 14%;
}
.how-it-work .step_2 {
  left: 2vw;
  top: 58%;
}
.how-it-work .step_3 {
  left: 19vw;
  top: 19%;
}
.how-it-work .step_4 {
  left: 24vw;
  top: 58%;
}
.how-it-work button {
  left: 10%;
  z-index: 2;
}
.how-it-work .woman-img {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  right: -20%;
}
.how-it-work .woman-img__tooltip {
  position: absolute;
  right: 18%;
  top: 38%;
}

/*# sourceMappingURL=advertisers.css.map */
