@import "./variables";

html, body {
  width: 100%;
}

body {
  margin: 0;
  background: #f5f5f9;
}

a {
  text-decoration: none;
}

button, input {
  border: none;
}

a, button {
  cursor: pointer;
}

a, button, input {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

h3 {
  margin-bottom: 0;
}

p {
  margin: 5px 0;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}



/* header */

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  min-width: 1280px;
  background: #2b1b50 url(../img/header-bg.png) center / cover no-repeat;
  font-family: "TT Norms", sans-serif;
  font-size: 20px;
  z-index: 3;

  .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }

  &-logo {
    width: 201px;
  }

  &-menu {
    display: flex;
    margin-left: auto;
    margin-right: 50px;

    &__item {
      padding: 10px 30px;
      line-height: 0.8;

      a {
        color: #ffffff;
      }

      &:hover {
        a {
          font-family: "TT Norms Bold", sans-serif;
          color: #35e5f5;
        }
      }
    }
  }

  &-phone {
    font-family: "TT Norms Bold", sans-serif;

    a {
      color: #ffffff;

      &:before {
        content: "";
        display: block;
        float: left;
        width: 23px;
        height: 23px;
        background: url(../img/phone-calc.svg) center / contain no-repeat;
        margin-right: 10px;
      }

      &:hover {
        color: #35e5f5
      }
    }
  }
}



/* page */

section {
  height: 100vh;
  min-height: 700px;
  max-height: 1080px;
  padding-top: 70px;
  box-sizing: border-box;
}


/* brief */

.section-brief {
  height: calc(100vh - 65px);

  & > .container {
    height: 100%;
  }

  .brief-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    min-width: 1280px;
    margin: 40px 0;

    .briefs {
      width: 895px;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      border-right: 1px solid #d6dfe6;
      transition: width .3s;
      box-sizing: border-box;

      .owl-item {
        min-width: 880px;
      }

      &.w-100 {
        width: 100% !important;
        border: none !important;

        //.owl-stage {
        //  width: 6680px !important;
        //
        //  .owl-item:last-child {
        //    margin-right: 0 !important;
        //    width: 1260px !important;
        //
        //    .brief {
        //      width: 100% !important;
        //
        //      h3 {
        //        text-align: center;
        //      }
        //
        //      .row:nth-child(2) {
        //        justify-content: center;
        //      }
        //    }
        //  }
        //}
      }

      .owl-stage {
        min-width: 6286px;
      }

      &__container {
        display: inline-flex;
      }

      &.hide {
        width: 0;
        height: 0;
      }
    }

    .brief {
      width: 895px;
      height: 100%;
      padding: 0 10px;
      box-sizing: border-box;

      .count-pages {
        width: 70%;
        display: flex;
        align-items: center;
        font-family: "TT Norms", sans-serif;
        font-size: 16px;
        padding-left: 35px;

        &__select {
          min-width: 47px;
          width: fit-content;
          margin-left: 22px;
          height: 26px;
        }
      }

      h3 {
        font-family: "PT Mono Bold", sans-serif;
        font-size: 28px;
        color: #054673;
        width: 100%;
        line-height: 1.4;
        margin: 0;
      }

      p {
        font-family: "TT Norms Light", sans-serif;
        font-size: 18px;
        color: #010101;
      }

      p + .row {
        margin-top: 50px;
      }

      .row + .row {
        margin-top: 40px;
      }

      &-multi {
        margin-top: 80px;

        .cont + .cont {
          margin-top: 70px;
        }
      }

      &-footer {
        position: relative;
        width: 100%;

        &__left {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          width: calc(100% - 385px);
          border-right: 1px solid #d6dfe6;
          height: 65px;
          padding-top: 20px;
          padding-left: 15px;
          box-sizing: border-box;

          .steps-container {
            width: 520px;
            height: 32px;
            margin-left: -25px;
            float: left;

            .brief-steps {
              counter-reset: step;

              li {
                position: relative;
                float: left;
                width: 56px;
                text-align: center;
                cursor: not-allowed;
                pointer-events: none;

                .step-count {
                  position: absolute;
                  bottom: -12px;
                  left: 12px;
                  font-family: "TT Commons", sans-serif;
                  font-size: 14px;
                  color: #819eb2;
                }

                &:before {
                  content: "";
                  width: 14px;
                  height: 14px;
                  line-height: 1;
                  border: 2px solid #819eb2;
                  display: block;
                  text-align: center;
                  margin: 0 auto 10px auto;
                  border-radius: 50%;
                  background-color: #f5f5f9;
                  box-sizing: border-box;
                }

                &:after {
                  content: '';
                  position: absolute;
                  width: 100%;
                  height: 2px;
                  background-color: #819eb2;
                  top: 6px;
                  left: -50%;
                  z-index: -1;
                }

                &:first-child {
                  &:after {
                    content: none;
                  }
                }

                &.visited, &.active {
                  position: relative;
                  color: #0b4a76;
                  cursor: pointer;
                  pointer-events: initial;

                  .step-count {
                    color: #010101;
                  }

                  &:before {
                    border-color: #0b4a76;
                  }

                  & + li:after {
                    background: #0b4a76;
                  }

                  .circle {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 4px;
                    margin: 0 auto;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: #0b4a76;
                  }
                }

                &.gradient {
                  & + li:after {
                    background: linear-gradient(to right, #0b4a76, #819eb2);
                  }
                }

                &.active.gradient {
                  cursor: initial;
                  pointer-events: initial;

                  .circle {
                    background-color: #35e5f5;
                  }
                }

                //&.active:first-child {
                //  .circle {
                //    left: 36px;
                //  }
                //}
              }
            }
          }

          .brief-actions {
            margin-right: 3%;
            margin-left: auto;

            button {
              display: flex;
              align-items: center;
              float: left;

              &[data-direction="prev"] {
                &:before {
                  content: "";
                  display: block;
                  width: 20px;
                  height: 20px;
                  margin-right: 15px;
                  background: url(../img/arrow-calc.svg) center / contain no-repeat;
                  transform: rotate(180deg);
                }
              }

              &[data-direction="next"] {
                &:after {
                  content: "";
                  display: block;
                  width: 20px;
                  height: 20px;
                  margin-left: 15px;
                  background: url(../img/arrow-calc.svg) center / contain no-repeat;
                }
              }
            }
          }
        }

        &__right {
          position: absolute;
          right: 0;
          top: 0;
          width: 385px;
          padding-left: 3%;
          padding-top: 20px;
          box-sizing: border-box;
        }
      }

      h3 + .row {
        margin-top: 80px;
      }

      &-block {
        margin-right: 55px;

        textarea {
          resize: none;
          width: 100%;
          max-width: 553px;
          height: 109px;
          outline: none;
          border-radius: 2px;
          border: 1px solid #cccccc;
          background-color: #ffffff;
          padding: 15px;
          font-family: "TT Norms", sans-serif;
          font-size: 18px;
        }

        &:last-child {
          margin-right: 0;
        }

        .key {
          display: flex;
          align-items: center;
          font-family: "TT Norms Medium", sans-serif;
          font-size: 24px;
          color: #010101;
          margin-bottom: 20px;
          line-height: 1;
        }

        .value {
          .cont {
            font-family: "TT Norms", sans-serif;
            font-size: 18px;
            line-height: 1.1;
            float: left;

            & + .cont {
              margin-left: 23px;
            }
          }
        }

        &.count-shows {
          .count-pages__select {
            margin-left: 0;

            .select-custom {
              width: 130px;
            }
          }
        }
      }

      &-geolocation {
        margin-top: 75px;
        margin-bottom: 75px;

        .brief-block {
          width: 100%;

          .key {
            float: left;
            margin-right: 20px;
            margin-bottom: 0;
            padding-top: 10px;
          }
        }

        &__cities {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          .city {
            display: flex;
            align-items: center;
            padding: 7px 10px 7px 14px;
            border: 1px solid #cccccc;
            border-radius: 100px;
            background-color: #ffffff;
            margin-right: 10px;
            margin-top: 10px;
            font-family: "TT Norms", sans-serif;
            font-size: 18px;
            color: #010101;
            line-height: 1;

            &-remove {
              width: 10px;
              height: 10px;
              margin-left: 15px;
              background: url(../img/close-calc.svg) center / contain no-repeat;
              filter: grayscale(1);
              opacity: 0.5;
              cursor: pointer;

              &:hover {
                opacity: 1;
                filter: none;
              }
            }
          }

          .add-city {
            display: block;
            width: 34px;
            height: 34px;
            background: url(../img/add-plus-button.svg) center / contain no-repeat;
            background-size: 50%;
            cursor: pointer;
            padding: 0;

            &:hover {
              color: #054673;
            }
          }
        }
      }

      #map, #map2 {
        width: 555px;
        height: 500px;
      }

      .map-info {
        padding: 0 10px 0 30px;
        flex: 1;

        .list-selected-objects {
          display: flex;
          flex-direction: column;
          max-height: 200px;
          overflow-y: auto;
          overflow-x: hidden;

          li {
            width: 100%;
            display: flex;
            align-items: center;
            font-family: "TT Norms", sans-serif;
            font-size: 15px;
            margin: 5px 0;
            cursor: pointer;

            &:hover {
              .obj-remove {
                filter: grayscale(0);
              }
            }

            .obj-remove {
              min-width: 13px;
              width: 13px;
              height: 13px;
              background: url(../img/close-red.svg) center / contain no-repeat;
              background-size: 80%;
              margin-right: 5px;
              filter: grayscale(1);
              cursor: pointer;

              &:hover {
                filter: grayscale(0);
              }
            }
          }
        }

        .btn-remove-all {
          display: none;
          padding: 8px 28px;
        }
      }

      &.map {
        .brief-block {
          margin-right: 20px;

          .key {
            font-family: "TT Norms", sans-serif;
            font-size: 12px;
            color: #054673;
            margin-bottom: 3px;
          }

          .value {

          }
        }

        .count-all-macs,
        .total-selected {
          display: flex;
          align-items: center;
          font-family: "TT Norms", sans-serif;
          font-size: 18px;
          color: #010101;
          line-height: 1;
          margin-right: 40px;

          .count {
            position: relative;
            font-family: "TT Norms Medium", sans-serif;
            font-size: 24px;
            margin-left: 5px;
            min-height: 24px;

            .loader {
              display: block !important;
              width: 25px !important;
            }
          }
        }

        .count-all-macs {
          margin-right: 0;
          flex-direction: column;
          align-items: flex-start;

          .count {
            margin-left: 0;
            margin-top: 4px;
          }
        }
      }
    }

    .brief-result {
      width: 385px;
      padding-left: 3%;
      padding-top: 10%;
      box-sizing: border-box;
      overflow: hidden;
      transition: width .3s, padding-left .3s, padding-top .3s;

      h3 {
        display: flex;
        align-items: center;
        font-family: "PT Mono Bold", sans-serif;
        font-size: 28px;
        color: #054673;
        width: 100%;
        line-height: 1.4;
        margin: 0;

        .get-pdf {
          width: 20px;
          cursor: pointer;
          margin-left: 20px;
        }
      }

      label {
        font-family: "TT Norms Medium", sans-serif;
        font-size: 24px;
        color: #010101;
        line-height: 1;
      }

      p {
        font-family: "TT Norms", sans-serif;
        font-size: 14px;
      }

      &__price {
        font-family: "TT Commons DemiBold", sans-serif;
        font-size: 52px;
        color: #054673;
        margin-top: 30px;
      }

      &.full {
        height: 100%;
        width: 1280px;
      }
    }
  }
}

/* checkbox */

.cont {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: "TT Norms Medium", sans-serif;
  font-size: 24px;
  color: #010101;
  line-height: 0.8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label.cont {
  p {
    font-family: "TT Norms", sans-serif !important;
    margin-top: 10px;
  }
}

.cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid #b7b7b7;
  border-radius: 2px;
  box-sizing: border-box;
}

.cont:hover input ~ .checkmark {
  border-color: #1a75b4;
}

.cont input:checked ~ .checkmark {
  border-color: #1a75b4;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.cont input:checked ~ .checkmark:after {
  display: block;
}

.cont .checkmark:after {
  left: 4px;
  top: 0;
  width: 5px;
  height: 10px;
  border: solid #1a75b4;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cont:hover input:checked ~ .checkmark:after {
  border-color: #35e5f5;
}

label.cont.disabled {
  color: #b7b7b7;
  pointer-events: none;

  .checkmark {
    border-color: #b7b7b7;
  }

  p {
    color: #b7b7b7 !important;
  }
}

/* buttons */

.btn-primary {
  font-family: "TT Norms Medium", sans-serif;
  font-size: 18px;
  color: #ffffff;
  background-color: #054673;
  border-radius: 100px;
  padding: 12px 35px;

  &:hover {
    background: url(../img/bg-btn-primary.png) center / cover no-repeat;
  }

  & + button {
    margin-left: 20px;
  }
}


.btn-transparent {
  font-family: "TT Norms Medium", sans-serif;
  font-size: 18px;
  color: #054673;
  background-color: transparent;
  border: 2px solid #054673;
  border-radius: 100px;
  padding: 10px 35px;
  box-sizing: border-box;

  &:hover {
    color: #35e5f5;
    border-color: #35e5f5;
  }
}

/* slider-range */

.slider-range.ui-widget {
  width: 200px;
  margin-top: 40px;

  &-content {
    background-color: #cccccc;
    height: 2px;
    border-radius: 0;
    border: none;
  }

  .ui-widget-header {
    background-color: #054673;
  }

  .ui-slider-handle  {
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    border: 2px solid #35e5f5;
    border-radius: 50%;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    z-index: 2;

    div {
      width: 30px;
      margin-left: -11px;
      margin-top: -22px;
      text-align: center;
      font-family: "TT Norms", sans-serif;
      font-size: 18px;
      color: #010101;
      line-height: 1;
      cursor: initial;
    }
  }
}

#slider-income {
  .ui-slider-handle {
    div {
      width: 80px;
      margin-left: -35px;
    }
  }
}

.ui-slider-horizontal .ui-slider-handle {
  top: -.4em;
}

.blocker {
  z-index: 4 !important;
}


/* scroll */

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  background-color: #054673;
}


/* select */

.select-custom {
  cursor: pointer;
  position: relative;
  min-width: 60px;

  &__span {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: absolute;
    padding-left: 10px;
    padding-right: 22px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #cccccc;
    width: 100%;
    height: 26px;
    border-radius: 100px;
    font-family: "TT Norms", sans-serif;
    font-size: 16px;
  }

  &__arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 7px;
    margin: auto 0;
    width: 12px;
    height: 12px;
    display: block;
    background: url(../img/drop-down-arrow.svg) center / contain no-repeat;
  }

  &__option {
    box-sizing: border-box;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .select__default {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .select__option {
    color: #010101;
  }
}

#select-map-city, #select-map-type-object {
  height: 34px;

  .select-custom__span {
    height: 34px;
    border-radius: 2px;
    color: #054673;
    font-size: 18px;
    padding-left: 8px;
  }
}

#select-map-city {
  width: 176px;
}

#select-map-type-object {
  width: 290px;
}

.bord-hint {
  position: relative;
  padding: 1px 8px;
  box-sizing: border-box;
  display: block;
  line-height: 1;
  white-space: nowrap;
  background-color: #ffffff;
  color: $dark-blue;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 14px;
  width: fit-content;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -9px;
    border: 10px solid transparent;
    border-left: 10px solid #ffffff;
  }
}

.map-hint {
  margin: 3px 0 0;
  font-size: 12px !important;
  text-align: right;
  width: calc(100% - 320px);
}

.map-period input {
  font-family: "TT Norms", sans-serif;
  font-size: 18px;
  color: #054673;
  height: 34px;
  width: 230px;
  border-radius: 2px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #fff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

.loader-wrapper {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0.7;
    z-index: 2;
    pointer-events: none;
  }

  &.hidden:before {
    display: none;
  }

  .loader {
    width: 130px !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 3;
  }

  &.hidden {
    .loader {
      display: none;
    }
  }
}

.jquery-modal {
  .modal {
    font-family: "TT Norms", sans-serif;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 2px;
    border: none;

    .select2 {
      width: 250px !important;
      text-align: left;
      margin-bottom: 30px;
    }
  }
}

#modal-add-cities {
  width: 400px;
  padding: 30px;

  .modal__form {
    margin: 0;
  }

  .modal__form-row:not(:first-child) {
    margin-top: 0;
  }
}

.select2-selection {
  height: 34px !important;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #cccccc !important;
  outline: none;

  .select2-selection__rendered {
    height: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    color: #054673 !important;
    font-size: 18px;
    padding-top: 2px;
  }

  .select2-selection__arrow {
    height: 34px !important;
  }
}

.select2-results__option {
  font-family: "TT Norms", sans-serif;
}

.section-brief .brief-container .brief-result {
  h3 {
    text-align: center;
    display: none;
  }

  .brief-order {
    font-family: "TT Norms", sans-serif;
    font-size: 18px;
    max-width: 760px;
    color: #010101;
    margin: 70px auto 0;
    width: 0;
    height: 0;
    overflow: hidden;

    .service {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      &-name {
        padding-right: 20px;
        font-family: "TT Norms", sans-serif;
        font-size: 18px;
      }

      &-border {
        flex: 1;
        height: 1px;
        border-bottom: 1px dotted #c0c0c1;
        margin-bottom: 4px;
      }

      &-price {
        font-family: "TT Norms Medium", sans-serif;
        padding-left: 20px;
        flex: none;
      }

      & + .service {
        margin-top: 20px;
      }
    }
  }

  .coupon-final {
    .coupon {
      display: none;
    }
  }
}

.total {
  display: flex;
  align-items: flex-end;
  font-family: "TT Norms Medium", sans-serif;
  font-size: 22px;

  .sum {
    font-family: "TT Commons DemiBold", sans-serif;
    font-size: 60px;
    line-height: 0.5;
    color: #054673;
    margin-left: 0;
    transition: margin-left .3s;
  }

  span:not(.sum) {
    width: 0;
    overflow: hidden;
    transition: width .3s;
  }
}

.old-sum {
  display: none;
  position: relative;
  width: initial !important;
  color: #c1b2b2;

  &:before {
    content: "";
    border-bottom: 2px solid #f52f2f;
    position: absolute;
    width: 100%;
    height: 50%;
    transform: rotate(-12deg);
  }
}

.brief-result.full {
  padding-left: 0 !important;
  padding-top: 0 !important;
  overflow: auto !important;

  .total {
    justify-content: flex-end;
    margin-top: 20px;
  }

  .total span:not(.sum) {
    width: 69px;
  }

  .total .sum {
    margin-left: 10px;
  }

  .btn-primary.checkout {
    opacity: 1;
    margin-left: auto;
    display: block;
  }

  label {
    display: none;
  }

  .brief-order__container {
    h3 {
      display: block;
    }

    .brief-order {
      height: initial;
      overflow: initial;
      width: 100%;
    }

    .coupon-final {
      .coupon {
        display: flex;
      }

      .old-sum {
        margin-left: 10px;
        display: block;
      }
    }
  }
}

.btn-primary.checkout {
  height: 45px;
  margin-top: 20px;
  padding: 0 20px;
  font-size: 18px;
  transition: opacity .1s;
  line-height: 1;
  opacity: 0;
  display: none;
  background: url(../img/bg-btn-primary-2.png) center / cover no-repeat;

  &:hover {
    background: #e0294c;
  }
}

.helper {
  width: 18px;
  height: 18px;
  background: url(../img/question.svg) center / cover no-repeat;
  cursor: pointer;
  margin-left: 10px;
}

.ui-tooltip {
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
  padding: 10px 15px;
  background-color: #ffffff;
  border: 1px solid #dbe4ea !important;
  box-shadow: 0 0 10px rgba(219,228,234,0.5);
  color: #010101;
}


.modal-wrapper {
  position: fixed;
  left: 0; top: 0; bottom: 0; right: 0;
  background-color: #000000;
  opacity: 0.4;
  display: none;
  z-index: 10000;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
  background: none;
  border: none;
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon {
  background: none;
}

.ui-front {
  z-index: 10000;
}

.ui-dialog {
  width: 100% !important;
  max-width: 800px;

  &.ui-widget-content {
    background: #ffffff;
    border: none;
    border-radius: 0;
    padding: 25px 25px 0;
  }

  .ui-dialog-content {
    padding: 10% 4% 4%;
  }

  .ui-widget-header {
    border: none;
    background: none;
  }

  &-titlebar-close {
    width: 30px !important;
    height: 30px !important;
    border: none;
    background-color: inherit;
    padding: 0 !important;

    .ui-icon {
      background: url(../img/close.svg) center / contain no-repeat;
      width: 30px;
      height: 30px;
      top: 28%;
      left: 28%;
      opacity: 0.7;
    }

    &:hover {
      .ui-icon {
        background: url(../img/close.svg) center / contain no-repeat;
        opacity: 1;
      }
    }
  }
}

.modal {
  max-width: 600px !important;
  margin: 0 auto;
  box-shadow: none !important;
  box-sizing: initial !important;

  .important{
    margin-right: auto;

    &:before {
      content: "*";
      color: $turquoise;
      font-family: "TT Norms Bold", sans-serif;
      font-size: 20px;
    }
  }

  &__caption {
    font-family: "PT Mono Bold", sans-serif;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
  }

  &__description {
    font-family: "TT Norms", sans-serif;
    font-size: 16px;
    text-align: center;
    color: #010101;
    line-height: 1.3;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin: 10% 0 10%;

    &-row {
      & > label {
        line-height: 1;
      }

      label {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-family: "TT Norms Bold", sans-serif;
        font-size: 20px;
        color: $black-2;
      }

      &:not(:first-child) {
        margin-top: 25px;
      }
    }

    input[type="text"], input[type="email"] {
      font-family: "TT Norms", sans-serif;
      font-size: 18px;
      width: 395px;
      border: none;
      border-bottom: 1px solid #c6cfd5;
      outline: none;
      padding: 5px;
    }
  }

  &__hint {
    font-family: "TT Norms Light", sans-serif;
    font-size: 12px;
    color: $black-2;
    text-align: center;
    line-height: 1;

    a {
      color: $dark-blue;
      text-decoration: underline;
      text-underline-position: under;

      &:hover {
        color: $turquoise
      }
    }
  }

  button {
    max-width: 200px;
    margin: 12% auto 0;
    font-family: "TT Norms Medium", sans-serif;
    background-color: #054673;
    color: #ffffff;
    padding: 16px 30px;
    font-size: 18px;
    border-radius: 100px;
    line-height: 1;
  }
}

.iframe-invoice {
  border: none;
  width: 100%;
  height: 400px;
}

.dialog-invoice {
  padding-top: 4% !important;
}

.dialog-invoice-html {
  padding: 4% 0 4% !important;
  max-width: 800px !important;
  overflow: initial !important;
}

#invoice-print {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(../img/printer.svg) center / contain no-repeat;
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.dialog-notification {
  padding-top: 4% !important;
  padding-bottom: 8% !important;

  h2 {
    line-height: 1;
    margin-bottom: 30px;
    font-size: 32px;
  }

  a {
    color: $dark-blue;
    text-decoration: none;

    &:hover {
      color: $turquoise;
    }
  }
}

.modal-wrapper-notification {
  z-index: 10001;
}

.balloon-content {
  font-family: "TT Norms", sans-serif;
  font-size: 14px;
  color: #000000;
  line-height: 1.2;

  &__type {
    font-family: "TT Norms Medium", sans-serif;
    margin-bottom: 8px;
  }

  .balloon-content__count-macs {
    margin-bottom: 18px;
  }

  &__count-macs {
    .value {
      font-size: 20px;
    }
  }

  .label {
    font-family: "TT Norms Medium", sans-serif;
    color: #054673;
  }

  a {
    display: block;
    color: #000000;
  }

  .phone {
    display: flex;
    align-items: center;

    &:before {
      content: "";
      display: block;
      width: 14px;
      height: 14px;
      margin-right: 3px;
      background: url(../img/phone.svg) center / contain no-repeat;
      background-size: 80%;
    }
  }

  .site {
    display: flex;
    align-items: center;
    color: #3984f3;

    &:before {
      content: "";
      display: block;
      width: 14px;
      height: 14px;
      margin-right: 3px;
      background: url(../img/global.svg) center / contain no-repeat;
      background-size: 80%;
    }
  }
}

.block-social {
  width: 33.33%;

  .block-social__name {
    display: flex;
    align-items: center;
    font-family: "TT Commons Medium", sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1;
  }

  .block-social__multi {
    .cont {
      margin-left: 8px;
      font-family: "TT Norms", sans-serif;
      font-size: 18px;
      min-height: 20px;
      padding-top: 3px;
      padding-left: 30px;
      box-sizing: border-box;
    }
  }

  &[data-name="vk"] {
    .block-social__name {
      &:before {
        content: "";
        display: block;
        margin-right: 10px;
        width: 38px;
        height: 38px;
        background: url(../img/icon-vk.png) center / contain no-repeat;
      }
    }
  }

  &[data-name="facebook"] {
    .block-social__name {
      &:before {
        content: "";
        display: block;
        margin-right: 10px;
        width: 38px;
        height: 38px;
        background: url(../img/icon-facebook.png) center / contain no-repeat;
      }
    }
  }

  &[data-name="inst"] {
    .block-social__name {
      &:before {
        content: "";
        display: block;
        margin-right: 10px;
        width: 38px;
        height: 38px;
        background: url(../img/icon-instagram.png) center / contain no-repeat;
      }
    }
  }
}

.block-reputation {
  .value {
    .cont {
      width: 100%;
      margin-left: 0 !important;
    }
  }
}

.burger {
  display: none;
  width: 45px;
  height: 45px;
  border: 0;
  position: relative;
  cursor: pointer;
  background: #ffffff;
  border-radius: 50%;

  div {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #100e4e;
    width: 60%;
    height: 3px;
    transition: transform .2s ease, top .2s ease .2s, bottom .2s ease .2s, opacity .2s ease .2s;

    &:nth-child(1) {
      top: 13px;
    }
    &:nth-child(2) {
      top: calc(50% - 2px);
    }
    &:nth-child(3) {
      bottom: 13px;
    }
  }
  &.active {
    div {
      transition: transform .2s ease .2s, top .2s ease, bottom .2s ease, opacity .2s ease;
      &:nth-child(1) {
        transform: rotate(45deg);
        top: calc(50% - 2px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        bottom: calc(50% - 2px);
      }
    }
  }
}

.header-mobile-menu {
  display: none;
  flex-direction: column;
  order: 1;
  font-size: 18px;

  .header-menu__item {
    padding: 15px;
  }
}

.coupon {
  width: 30%;
  margin-top: 60px;
  float: left;
  display: flex;
  flex-direction: column;

  &-input {
    width: 165px;
    height: 46px;
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #05528f;
    text-align: center;
    font-family: "TT Norms", sans-serif;
    font-size: 20px;
    color: #010101;
    box-sizing: border-box;
    outline: none;
  }

  button {
    margin-top: 20px;
    width: 165px;
    height: 45px;
  }
}

//.brief-result.full {
//  .total {
//    margin-top: 60px;
//  }
//}

.final {
  width: 70%;
  float: left;
}

button {
  &.load {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      background: url("../img/loader.svg") center / contain no-repeat;
    }
  }
}

.coupon-final {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}

@media (max-width: 640px) {
  .header {
    min-width: initial;
    height: 60px;

    .container {
      padding: 0 15px;
    }

    .burger {
      display: flex;

      div {
        &:nth-child(2) {
          top: calc(50% - 1px);
        }
      }
    }

    &-phone {
      display: none;
    }

    &-logo {
      width: 170px;
    }

    &.open {
      height: 100vh;

      .header-mobile-menu {
        display: flex;
        margin-top: 30px;
      }
    }
  }

  section {
    padding-top: 60px;
    min-height: initial;
    max-height: initial;
  }

  .section-brief {
    height: initial;

    .brief-container {
      min-width: initial;
      margin-top: 15px;
      margin-bottom: 100px;

      .brief-multi {
        margin-top: 20px;
        padding: 0 15px;

        .cont + .cont {
          margin-top: 20px !important;
        }
      }

      .briefs {
        width: 100%;
        height: initial;
        border-right: none;

        &__container {
          display: block;
        }

        .owl-item {
          min-width: 375px;
        }

        .owl-stage {
          min-width: initial;
        }
      }

      .cont {
        min-height: 20px;
        font-size: 18px;
        padding-top: 1px;
      }

      .brief {
        padding: 0;
        width: 100%;
        height: initial;

        h3 + .row {
          margin-top: 15px;
        }

        .row + .row {
          margin-top: 15px;
        }

        .support-designer {
          .brief-block {
            .value {
              & > div {
                margin-left: 0 !important;
              }
            }
          }
        }

        .block-design:nth-child(5) {
          padding: 0 15px;

          .cont {
            font-size: 16px;
          }
        }

        .row:last-child {
          .brief-block {
            .value {
              label {
                margin-left: 0 !important;
                width: 100%;
              }
            }
          }
        }

        .brief-block {
          padding: 0 15px;

          &.type-site {
            .value {
              & > div {
                margin-left: 0 !important;
              }
            }
          }

          &.has-creatives {
            .value {
              & > div {
                margin-left: 0 !important;
              }
            }
          }

          &.price-site {
            .value {
              & > div {
                margin-left: 0 !important;
                margin-right: 23px;

                &:not(:first-child) {
                  margin-top: 15px;
                }
              }
            }
          }

          textarea {
            box-sizing: border-box;
          }

          & + .brief-block {
            margin-top: 20px;
          }

          .cont {
            margin-top: 0 !important;
            margin-bottom: 0;
            font-size: 16px;
          }

          .key {
            font-size: 16px;
            margin-bottom: 15px;
          }
        }

        &.map {
          .brief-block {
            margin-right: 0;
            padding: 0;

            & + .brief-block {
              margin-top: 10px;
            }
          }

          .count-all-macs {
            font-size: 14px;
          }

          .total-selected {
            margin-right: 0;
            font-size: 14px;

            .count {
              font-size: 22px;
            }
          }

          & > .row {
            flex-wrap: wrap;
          }
        }

        .map-hint {
          display: none;
        }

        h3 {
          padding: 0 15px;
          font-size: 22px;
          line-height: 1.2;
          box-sizing: border-box;
        }

        p {
          padding: 0 15px;
          font-size: 14px;
          box-sizing: border-box;
        }

        p + .row {
          padding: 0 15px;
          margin-top: 15px;

          .brief-block {
            padding: 0;
          }
        }

        &-block {
          margin-left: 0;
          margin-right: 0;
          width: 100%;
        }

        #map, #map2 {
          width: 100%;
          height: 200px;
        }

        .map-info {
          padding: 0 15px;
          margin-top: 15px;
        }
      }

      .brief-result {
        width: 100%;
        padding: 0 15px;

        .hint {
          display: none !important;
        }


        &__container {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &.full {
          padding: 0;
          height: initial;

          .brief-result__container {
            flex-wrap: wrap;
            padding: 0 15px;
          }

          h3 {
            font-size: 24px;
            line-height: 1.2;
            text-align: left;
          }

          .brief-order__container {
            .brief-order {
              margin-top: 15px;
              font-size: 16px;

              .service-name {
                font-size: 14px;
                width: 60%;
                padding-right: 10px;
              }

              .service-price {
                padding-left: 10px;
              }
            }
          }
        }

        label {
          font-size: 14px;
        }

        &__price {
          font-size: 36px;
          margin-top: 11px;
          margin-left: 10px;
        }
      }

      .brief-footer {
        &__left {
          width: 100%;
          height: initial;
          padding-right: 15px;
          border: none;

          .steps-container {
            display: flex;
            justify-content: center;
            width: calc(100% + 30px);
            margin-left: 0;

            .brief-steps {
              li {
                width: 36px;

                .step-count {
                  font-size: 10px;
                  bottom: -8px;
                  left: 7px;
                }
              }
            }
          }
        }

        &__right {
          display: none;
        }
      }

      .brief-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 0 !important;
        margin-left: 0 !important;
        width: 100%;
        margin-top: 20px;

        .btn-primary + button {
          margin-left: 0;
        }
      }
    }
  }

  #select-map-city {
    width: 100%;
    max-width: 350px;
  }

  #select-map-type-object {
    width: 100%;
    max-width: 350px;
  }

  .helper {
    width: 15px;
    height: 15px;
    flex: none;
  }

  .slider-range.ui-widget-content {
    width: 100%;
  }

  .section-brief .brief-container .brief-geolocation .brief-block .key {
    padding-top: 18px;
  }

  .block-social {
    width: 100%;
    padding: 0 15px;

    &__multi {
      .cont {
        margin-left: 0;
      }
    }

    & + .block-social {
      margin-top: 20px;
    }
  }

  .owl-stage-outer {
    overflow-y: auto;
  }

  #modal-add-cities {
    width: calc(100% - 30px);
    box-sizing: border-box;
  }

  .ui-dialog {
    box-sizing: border-box;
    padding: 15px !important;
    width: calc(100% - 30px) !important;
  }

  .modal__form input[type=text], .modal__form input[type=email] {
    width: 65%;
  }

  .modal__form-row label {
    font-size: 16px;
  }

  .ui-dialog-titlebar-close .ui-icon {
    width: 20px;
    height: 20px;
  }

  .ui-dialog .ui-dialog-content {
    padding: 0;
    overflow: hidden;
  }

  .modal__caption {
    font-size: 28px;
  }

  .modal__description {
    font-size: 14px;
  }

  .modal__form {
    margin: 20px 0;
  }

  .modal__form-row:not(:first-child) {
    margin-top: 15px;
  }

  .modal button {
    margin-top: 20px;
  }

  .modal__hint {
    font-size: 8px;
  }

  .modal {
    width: 100%;
  }

  .dialog-notification h2 {
    font-size: 22px;
  }

  .dialog-notification {
    .modal__description {
      font-size: 14px;
    }
  }

  .header {
    &.open {
      .container {
        height: initial;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 8px 15px;

        & > a {
          padding-top: 10px;
        }

        .header-mobile-menu {
          margin: 60px 0 0;
          width: 100%;
        }
      }

      .header-menu__item {
        padding-left: 0;
      }
    }
  }

  .coupon-final {
    flex-direction: column;

    .coupon {
      width: 100%;
      align-items: center;
      margin-top: 15px;
    }

    .final {
      width: 100%;
      margin-top: 15px;

      .total {
        justify-content: center !important;
        font-size: 20px !important;
      }
    }
  }

  .brief-result.full .btn-primary.checkout {
    margin-right: auto;
  }

  .map-row {
    margin-top: 15px !important;
    padding: 0 15px !important;
  }

  .list-selected-objects {
    margin-top: 0 !important;

    li:first-child {
      margin-top: 15px !important;
    }
  }

  .section-brief .brief-container .brief-result .brief-order {
    margin-top: 0;
  }

  .owl-dots {
    display: none;
  }

  .section-brief .brief-container .brief-geolocation {
    margin-bottom: 15px;
  }

  .view-page:not(:first-child) {
    margin-top: 15px;
  }

  .margin0 {
    margin-bottom: 0 !important;
  }

  .mrg-btm-15 {
    margin-bottom: 15px !important;
  }

  .wdth-mobile-100 {
    width: 100%;
  }

  .float-none {
    float: initial !important;
  }

  .section-brief .brief-container .brief-result .brief-order .service + .service {
    margin-top: 15px;
  }

  .coupon button {
    margin-top: 15px;
  }

  .brief-result.full .total {
    margin-top: 5px;
  }

  html {
    overflow-y: scroll;
  }
}


