html, body {
  width: 100%;
}

body {
  margin: 0;
  background: #f5f5f9;
}

a {
  text-decoration: none;
}

button, input {
  border: none;
}

a, button {
  cursor: pointer;
}

a, button, input {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

h3 {
  margin-bottom: 0;
}

p {
  margin: 5px 0;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

/* header */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  min-width: 1280px;
  background: #2b1b50 url(../img/header-bg.png) center/cover no-repeat;
  font-family: "TT Norms", sans-serif;
  font-size: 20px;
  z-index: 3;
}
.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}
.header-logo {
  width: 201px;
}
.header-menu {
  display: flex;
  margin-left: auto;
  margin-right: 50px;
}
.header-menu__item {
  padding: 10px 30px;
  line-height: 0.8;
}
.header-menu__item a {
  color: #ffffff;
}
.header-menu__item:hover a {
  font-family: "TT Norms Bold", sans-serif;
  color: #35e5f5;
}
.header-phone {
  font-family: "TT Norms Bold", sans-serif;
}
.header-phone a {
  color: #ffffff;
}
.header-phone a:before {
  content: "";
  display: block;
  float: left;
  width: 23px;
  height: 23px;
  background: url(../img/phone-calc.svg) center/contain no-repeat;
  margin-right: 10px;
}
.header-phone a:hover {
  color: #35e5f5;
}

/* page */
section {
  height: 100vh;
  min-height: 700px;
  max-height: 1080px;
  padding-top: 70px;
  box-sizing: border-box;
}

/* brief */
.section-brief {
  height: calc(100vh - 65px);
}
.section-brief > .container {
  height: 100%;
}
.section-brief .brief-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  min-width: 1280px;
  margin: 40px 0;
}
.section-brief .brief-container .briefs {
  width: 895px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid #d6dfe6;
  transition: width 0.3s;
  box-sizing: border-box;
}
.section-brief .brief-container .briefs .owl-item {
  min-width: 880px;
}
.section-brief .brief-container .briefs.w-100 {
  width: 100% !important;
  border: none !important;
}
.section-brief .brief-container .briefs .owl-stage {
  min-width: 6286px;
}
.section-brief .brief-container .briefs__container {
  display: inline-flex;
}
.section-brief .brief-container .briefs.hide {
  width: 0;
  height: 0;
}
.section-brief .brief-container .brief {
  width: 895px;
  height: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}
.section-brief .brief-container .brief .count-pages {
  width: 70%;
  display: flex;
  align-items: center;
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
  padding-left: 35px;
}
.section-brief .brief-container .brief .count-pages__select {
  min-width: 47px;
  width: fit-content;
  margin-left: 22px;
  height: 26px;
}
.section-brief .brief-container .brief h3 {
  font-family: "PT Mono Bold", sans-serif;
  font-size: 28px;
  color: #054673;
  width: 100%;
  line-height: 1.4;
  margin: 0;
}
.section-brief .brief-container .brief p {
  font-family: "TT Norms Light", sans-serif;
  font-size: 18px;
  color: #010101;
}
.section-brief .brief-container .brief p + .row {
  margin-top: 50px;
}
.section-brief .brief-container .brief .row + .row {
  margin-top: 40px;
}
.section-brief .brief-container .brief-multi {
  margin-top: 80px;
}
.section-brief .brief-container .brief-multi .cont + .cont {
  margin-top: 70px;
}
.section-brief .brief-container .brief-footer {
  position: relative;
  width: 100%;
}
.section-brief .brief-container .brief-footer__left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100% - 385px);
  border-right: 1px solid #d6dfe6;
  height: 65px;
  padding-top: 20px;
  padding-left: 15px;
  box-sizing: border-box;
}
.section-brief .brief-container .brief-footer__left .steps-container {
  width: 520px;
  height: 32px;
  margin-left: -25px;
  float: left;
}
.section-brief .brief-container .brief-footer__left .steps-container .brief-steps {
  counter-reset: step;
}
.section-brief .brief-container .brief-footer__left .steps-container .brief-steps li {
  position: relative;
  float: left;
  width: 56px;
  text-align: center;
  cursor: not-allowed;
  pointer-events: none;
}
.section-brief .brief-container .brief-footer__left .steps-container .brief-steps li .step-count {
  position: absolute;
  bottom: -12px;
  left: 12px;
  font-family: "TT Commons", sans-serif;
  font-size: 14px;
  color: #819eb2;
}
.section-brief .brief-container .brief-footer__left .steps-container .brief-steps li:before {
  content: "";
  width: 14px;
  height: 14px;
  line-height: 1;
  border: 2px solid #819eb2;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: #f5f5f9;
  box-sizing: border-box;
}
.section-brief .brief-container .brief-footer__left .steps-container .brief-steps li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #819eb2;
  top: 6px;
  left: -50%;
  z-index: -1;
}
.section-brief .brief-container .brief-footer__left .steps-container .brief-steps li:first-child:after {
  content: none;
}
.section-brief .brief-container .brief-footer__left .steps-container .brief-steps li.visited, .section-brief .brief-container .brief-footer__left .steps-container .brief-steps li.active {
  position: relative;
  color: #0b4a76;
  cursor: pointer;
  pointer-events: initial;
}
.section-brief .brief-container .brief-footer__left .steps-container .brief-steps li.visited .step-count, .section-brief .brief-container .brief-footer__left .steps-container .brief-steps li.active .step-count {
  color: #010101;
}
.section-brief .brief-container .brief-footer__left .steps-container .brief-steps li.visited:before, .section-brief .brief-container .brief-footer__left .steps-container .brief-steps li.active:before {
  border-color: #0b4a76;
}
.section-brief .brief-container .brief-footer__left .steps-container .brief-steps li.visited + li:after, .section-brief .brief-container .brief-footer__left .steps-container .brief-steps li.active + li:after {
  background: #0b4a76;
}
.section-brief .brief-container .brief-footer__left .steps-container .brief-steps li.visited .circle, .section-brief .brief-container .brief-footer__left .steps-container .brief-steps li.active .circle {
  position: absolute;
  left: 0;
  right: 0;
  top: 4px;
  margin: 0 auto;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #0b4a76;
}
.section-brief .brief-container .brief-footer__left .steps-container .brief-steps li.gradient + li:after {
  background: linear-gradient(to right, #0b4a76, #819eb2);
}
.section-brief .brief-container .brief-footer__left .steps-container .brief-steps li.active.gradient {
  cursor: initial;
  pointer-events: initial;
}
.section-brief .brief-container .brief-footer__left .steps-container .brief-steps li.active.gradient .circle {
  background-color: #35e5f5;
}
.section-brief .brief-container .brief-footer__left .brief-actions {
  margin-right: 3%;
  margin-left: auto;
}
.section-brief .brief-container .brief-footer__left .brief-actions button {
  display: flex;
  align-items: center;
  float: left;
}
.section-brief .brief-container .brief-footer__left .brief-actions button[data-direction=prev]:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  background: url(../img/arrow-calc.svg) center/contain no-repeat;
  transform: rotate(180deg);
}
.section-brief .brief-container .brief-footer__left .brief-actions button[data-direction=next]:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 15px;
  background: url(../img/arrow-calc.svg) center/contain no-repeat;
}
.section-brief .brief-container .brief-footer__right {
  position: absolute;
  right: 0;
  top: 0;
  width: 385px;
  padding-left: 3%;
  padding-top: 20px;
  box-sizing: border-box;
}
.section-brief .brief-container .brief h3 + .row {
  margin-top: 80px;
}
.section-brief .brief-container .brief-block {
  margin-right: 55px;
}
.section-brief .brief-container .brief-block textarea {
  resize: none;
  width: 100%;
  max-width: 553px;
  height: 109px;
  outline: none;
  border-radius: 2px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  padding: 15px;
  font-family: "TT Norms", sans-serif;
  font-size: 18px;
}
.section-brief .brief-container .brief-block:last-child {
  margin-right: 0;
}
.section-brief .brief-container .brief-block .key {
  display: flex;
  align-items: center;
  font-family: "TT Norms Medium", sans-serif;
  font-size: 24px;
  color: #010101;
  margin-bottom: 20px;
  line-height: 1;
}
.section-brief .brief-container .brief-block .value .cont {
  font-family: "TT Norms", sans-serif;
  font-size: 18px;
  line-height: 1.1;
  float: left;
}
.section-brief .brief-container .brief-block .value .cont + .cont {
  margin-left: 23px;
}
.section-brief .brief-container .brief-block.count-shows .count-pages__select {
  margin-left: 0;
}
.section-brief .brief-container .brief-block.count-shows .count-pages__select .select-custom {
  width: 130px;
}
.section-brief .brief-container .brief-geolocation {
  margin-top: 75px;
  margin-bottom: 75px;
}
.section-brief .brief-container .brief-geolocation .brief-block {
  width: 100%;
}
.section-brief .brief-container .brief-geolocation .brief-block .key {
  float: left;
  margin-right: 20px;
  margin-bottom: 0;
  padding-top: 10px;
}
.section-brief .brief-container .brief-geolocation__cities {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.section-brief .brief-container .brief-geolocation__cities .city {
  display: flex;
  align-items: center;
  padding: 7px 10px 7px 14px;
  border: 1px solid #cccccc;
  border-radius: 100px;
  background-color: #ffffff;
  margin-right: 10px;
  margin-top: 10px;
  font-family: "TT Norms", sans-serif;
  font-size: 18px;
  color: #010101;
  line-height: 1;
}
.section-brief .brief-container .brief-geolocation__cities .city-remove {
  width: 10px;
  height: 10px;
  margin-left: 15px;
  background: url(../img/close-calc.svg) center/contain no-repeat;
  filter: grayscale(1);
  opacity: 0.5;
  cursor: pointer;
}
.section-brief .brief-container .brief-geolocation__cities .city-remove:hover {
  opacity: 1;
  filter: none;
}
.section-brief .brief-container .brief-geolocation__cities .add-city {
  display: block;
  width: 34px;
  height: 34px;
  background: url(../img/add-plus-button.svg) center/contain no-repeat;
  background-size: 50%;
  cursor: pointer;
  padding: 0;
}
.section-brief .brief-container .brief-geolocation__cities .add-city:hover {
  color: #054673;
}
.section-brief .brief-container .brief #map, .section-brief .brief-container .brief #map2 {
  width: 555px;
  height: 500px;
}
.section-brief .brief-container .brief .map-info {
  padding: 0 10px 0 30px;
  flex: 1;
}
.section-brief .brief-container .brief .map-info .list-selected-objects {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.section-brief .brief-container .brief .map-info .list-selected-objects li {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: "TT Norms", sans-serif;
  font-size: 15px;
  margin: 5px 0;
  cursor: pointer;
}
.section-brief .brief-container .brief .map-info .list-selected-objects li:hover .obj-remove {
  filter: grayscale(0);
}
.section-brief .brief-container .brief .map-info .list-selected-objects li .obj-remove {
  min-width: 13px;
  width: 13px;
  height: 13px;
  background: url(../img/close-red.svg) center/contain no-repeat;
  background-size: 80%;
  margin-right: 5px;
  filter: grayscale(1);
  cursor: pointer;
}
.section-brief .brief-container .brief .map-info .list-selected-objects li .obj-remove:hover {
  filter: grayscale(0);
}
.section-brief .brief-container .brief .map-info .btn-remove-all {
  display: none;
  padding: 8px 28px;
}
.section-brief .brief-container .brief.map .brief-block {
  margin-right: 20px;
}
.section-brief .brief-container .brief.map .brief-block .key {
  font-family: "TT Norms", sans-serif;
  font-size: 12px;
  color: #054673;
  margin-bottom: 3px;
}
.section-brief .brief-container .brief.map .count-all-macs,
.section-brief .brief-container .brief.map .total-selected {
  display: flex;
  align-items: center;
  font-family: "TT Norms", sans-serif;
  font-size: 18px;
  color: #010101;
  line-height: 1;
  margin-right: 40px;
}
.section-brief .brief-container .brief.map .count-all-macs .count,
.section-brief .brief-container .brief.map .total-selected .count {
  position: relative;
  font-family: "TT Norms Medium", sans-serif;
  font-size: 24px;
  margin-left: 5px;
  min-height: 24px;
}
.section-brief .brief-container .brief.map .count-all-macs .count .loader,
.section-brief .brief-container .brief.map .total-selected .count .loader {
  display: block !important;
  width: 25px !important;
}
.section-brief .brief-container .brief.map .count-all-macs {
  margin-right: 0;
  flex-direction: column;
  align-items: flex-start;
}
.section-brief .brief-container .brief.map .count-all-macs .count {
  margin-left: 0;
  margin-top: 4px;
}
.section-brief .brief-container .brief-result {
  width: 385px;
  padding-left: 3%;
  padding-top: 10%;
  box-sizing: border-box;
  overflow: hidden;
  transition: width 0.3s, padding-left 0.3s, padding-top 0.3s;
}
.section-brief .brief-container .brief-result h3 {
  display: flex;
  align-items: center;
  font-family: "PT Mono Bold", sans-serif;
  font-size: 28px;
  color: #054673;
  width: 100%;
  line-height: 1.4;
  margin: 0;
}
.section-brief .brief-container .brief-result h3 .get-pdf {
  width: 20px;
  cursor: pointer;
  margin-left: 20px;
}
.section-brief .brief-container .brief-result label {
  font-family: "TT Norms Medium", sans-serif;
  font-size: 24px;
  color: #010101;
  line-height: 1;
}
.section-brief .brief-container .brief-result p {
  font-family: "TT Norms", sans-serif;
  font-size: 14px;
}
.section-brief .brief-container .brief-result__price {
  font-family: "TT Commons DemiBold", sans-serif;
  font-size: 52px;
  color: #054673;
  margin-top: 30px;
}
.section-brief .brief-container .brief-result.full {
  height: 100%;
  width: 1280px;
}

/* checkbox */
.cont {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: "TT Norms Medium", sans-serif;
  font-size: 24px;
  color: #010101;
  line-height: 0.8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label.cont p {
  font-family: "TT Norms", sans-serif !important;
  margin-top: 10px;
}

.cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid #b7b7b7;
  border-radius: 2px;
  box-sizing: border-box;
}

.cont:hover input ~ .checkmark {
  border-color: #1a75b4;
}

.cont input:checked ~ .checkmark {
  border-color: #1a75b4;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.cont input:checked ~ .checkmark:after {
  display: block;
}

.cont .checkmark:after {
  left: 4px;
  top: 0;
  width: 5px;
  height: 10px;
  border: solid #1a75b4;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cont:hover input:checked ~ .checkmark:after {
  border-color: #35e5f5;
}

label.cont.disabled {
  color: #b7b7b7;
  pointer-events: none;
}
label.cont.disabled .checkmark {
  border-color: #b7b7b7;
}
label.cont.disabled p {
  color: #b7b7b7 !important;
}

/* buttons */
.btn-primary {
  font-family: "TT Norms Medium", sans-serif;
  font-size: 18px;
  color: #ffffff;
  background-color: #054673;
  border-radius: 100px;
  padding: 12px 35px;
}
.btn-primary:hover {
  background: url(../img/bg-btn-primary.png) center/cover no-repeat;
}
.btn-primary + button {
  margin-left: 20px;
}

.btn-transparent {
  font-family: "TT Norms Medium", sans-serif;
  font-size: 18px;
  color: #054673;
  background-color: transparent;
  border: 2px solid #054673;
  border-radius: 100px;
  padding: 10px 35px;
  box-sizing: border-box;
}
.btn-transparent:hover {
  color: #35e5f5;
  border-color: #35e5f5;
}

/* slider-range */
.slider-range.ui-widget {
  width: 200px;
  margin-top: 40px;
}
.slider-range.ui-widget-content {
  background-color: #cccccc;
  height: 2px;
  border-radius: 0;
  border: none;
}
.slider-range.ui-widget .ui-widget-header {
  background-color: #054673;
}
.slider-range.ui-widget .ui-slider-handle {
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  border: 2px solid #35e5f5;
  border-radius: 50%;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  z-index: 2;
}
.slider-range.ui-widget .ui-slider-handle div {
  width: 30px;
  margin-left: -11px;
  margin-top: -22px;
  text-align: center;
  font-family: "TT Norms", sans-serif;
  font-size: 18px;
  color: #010101;
  line-height: 1;
  cursor: initial;
}

#slider-income .ui-slider-handle div {
  width: 80px;
  margin-left: -35px;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -0.4em;
}

.blocker {
  z-index: 4 !important;
}

/* scroll */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #054673;
}

/* select */
.select-custom {
  cursor: pointer;
  position: relative;
  min-width: 60px;
}
.select-custom__span {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: absolute;
  padding-left: 10px;
  padding-right: 22px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #cccccc;
  width: 100%;
  height: 26px;
  border-radius: 100px;
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
}
.select-custom__arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 7px;
  margin: auto 0;
  width: 12px;
  height: 12px;
  display: block;
  background: url(../img/drop-down-arrow.svg) center/contain no-repeat;
}
.select-custom__option {
  box-sizing: border-box;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.select-custom .select__default {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.select-custom .select__option {
  color: #010101;
}

#select-map-city, #select-map-type-object {
  height: 34px;
}
#select-map-city .select-custom__span, #select-map-type-object .select-custom__span {
  height: 34px;
  border-radius: 2px;
  color: #054673;
  font-size: 18px;
  padding-left: 8px;
}

#select-map-city {
  width: 176px;
}

#select-map-type-object {
  width: 290px;
}

.bord-hint {
  position: relative;
  padding: 1px 8px;
  box-sizing: border-box;
  display: block;
  line-height: 1;
  white-space: nowrap;
  background-color: #ffffff;
  color: #054673;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 14px;
  width: fit-content;
}
.bord-hint:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -9px;
  border: 10px solid transparent;
  border-left: 10px solid #ffffff;
}

.map-hint {
  margin: 3px 0 0;
  font-size: 12px !important;
  text-align: right;
  width: calc(100% - 320px);
}

.map-period input {
  font-family: "TT Norms", sans-serif;
  font-size: 18px;
  color: #054673;
  height: 34px;
  width: 230px;
  border-radius: 2px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #fff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

.loader-wrapper {
  position: relative;
}
.loader-wrapper:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0.7;
  z-index: 2;
  pointer-events: none;
}
.loader-wrapper.hidden:before {
  display: none;
}
.loader-wrapper .loader {
  width: 130px !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 3;
}
.loader-wrapper.hidden .loader {
  display: none;
}

.jquery-modal .modal {
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 2px;
  border: none;
}
.jquery-modal .modal .select2 {
  width: 250px !important;
  text-align: left;
  margin-bottom: 30px;
}

#modal-add-cities {
  width: 400px;
  padding: 30px;
}
#modal-add-cities .modal__form {
  margin: 0;
}
#modal-add-cities .modal__form-row:not(:first-child) {
  margin-top: 0;
}

.select2-selection {
  height: 34px !important;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #cccccc !important;
  outline: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  color: #054673 !important;
  font-size: 18px;
  padding-top: 2px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 34px !important;
}

.select2-results__option {
  font-family: "TT Norms", sans-serif;
}

.section-brief .brief-container .brief-result h3 {
  text-align: center;
  display: none;
}
.section-brief .brief-container .brief-result .brief-order {
  font-family: "TT Norms", sans-serif;
  font-size: 18px;
  max-width: 760px;
  color: #010101;
  margin: 70px auto 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
.section-brief .brief-container .brief-result .brief-order .service {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.section-brief .brief-container .brief-result .brief-order .service-name {
  padding-right: 20px;
  font-family: "TT Norms", sans-serif;
  font-size: 18px;
}
.section-brief .brief-container .brief-result .brief-order .service-border {
  flex: 1;
  height: 1px;
  border-bottom: 1px dotted #c0c0c1;
  margin-bottom: 4px;
}
.section-brief .brief-container .brief-result .brief-order .service-price {
  font-family: "TT Norms Medium", sans-serif;
  padding-left: 20px;
  flex: none;
}
.section-brief .brief-container .brief-result .brief-order .service + .service {
  margin-top: 20px;
}
.section-brief .brief-container .brief-result .coupon-final .coupon {
  display: none;
}

.total {
  display: flex;
  align-items: flex-end;
  font-family: "TT Norms Medium", sans-serif;
  font-size: 22px;
}
.total .sum {
  font-family: "TT Commons DemiBold", sans-serif;
  font-size: 60px;
  line-height: 0.5;
  color: #054673;
  margin-left: 0;
  transition: margin-left 0.3s;
}
.total span:not(.sum) {
  width: 0;
  overflow: hidden;
  transition: width 0.3s;
}

.old-sum {
  display: none;
  position: relative;
  width: initial !important;
  color: #c1b2b2;
}
.old-sum:before {
  content: "";
  border-bottom: 2px solid #f52f2f;
  position: absolute;
  width: 100%;
  height: 50%;
  transform: rotate(-12deg);
}

.brief-result.full {
  padding-left: 0 !important;
  padding-top: 0 !important;
  overflow: auto !important;
}
.brief-result.full .total {
  justify-content: flex-end;
  margin-top: 20px;
}
.brief-result.full .total span:not(.sum) {
  width: 69px;
}
.brief-result.full .total .sum {
  margin-left: 10px;
}
.brief-result.full .btn-primary.checkout {
  opacity: 1;
  margin-left: auto;
  display: block;
}
.brief-result.full label {
  display: none;
}
.brief-result.full .brief-order__container h3 {
  display: block;
}
.brief-result.full .brief-order__container .brief-order {
  height: initial;
  overflow: initial;
  width: 100%;
}
.brief-result.full .brief-order__container .coupon-final .coupon {
  display: flex;
}
.brief-result.full .brief-order__container .coupon-final .old-sum {
  margin-left: 10px;
  display: block;
}

.btn-primary.checkout {
  height: 45px;
  margin-top: 20px;
  padding: 0 20px;
  font-size: 18px;
  transition: opacity 0.1s;
  line-height: 1;
  opacity: 0;
  display: none;
  background: url(../img/bg-btn-primary-2.png) center/cover no-repeat;
}
.btn-primary.checkout:hover {
  background: #e0294c;
}

.helper {
  width: 18px;
  height: 18px;
  background: url(../img/question.svg) center/cover no-repeat;
  cursor: pointer;
  margin-left: 10px;
}

.ui-tooltip {
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
  padding: 10px 15px;
  background-color: #ffffff;
  border: 1px solid #dbe4ea !important;
  box-shadow: 0 0 10px rgba(219, 228, 234, 0.5);
  color: #010101;
}

.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.4;
  display: none;
  z-index: 10000;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
  background: none;
  border: none;
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon {
  background: none;
}

.ui-front {
  z-index: 10000;
}

.ui-dialog {
  width: 100% !important;
  max-width: 800px;
}
.ui-dialog.ui-widget-content {
  background: #ffffff;
  border: none;
  border-radius: 0;
  padding: 25px 25px 0;
}
.ui-dialog .ui-dialog-content {
  padding: 10% 4% 4%;
}
.ui-dialog .ui-widget-header {
  border: none;
  background: none;
}
.ui-dialog-titlebar-close {
  width: 30px !important;
  height: 30px !important;
  border: none;
  background-color: inherit;
  padding: 0 !important;
}
.ui-dialog-titlebar-close .ui-icon {
  background: url(../img/close.svg) center/contain no-repeat;
  width: 30px;
  height: 30px;
  top: 28%;
  left: 28%;
  opacity: 0.7;
}
.ui-dialog-titlebar-close:hover .ui-icon {
  background: url(../img/close.svg) center/contain no-repeat;
  opacity: 1;
}

.modal {
  max-width: 600px !important;
  margin: 0 auto;
  box-shadow: none !important;
  box-sizing: initial !important;
}
.modal .important {
  margin-right: auto;
}
.modal .important:before {
  content: "*";
  color: #35e6f6;
  font-family: "TT Norms Bold", sans-serif;
  font-size: 20px;
}
.modal__caption {
  font-family: "PT Mono Bold", sans-serif;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
}
.modal__description {
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #010101;
  line-height: 1.3;
}
.modal__form {
  display: flex;
  flex-direction: column;
  margin: 10% 0 10%;
}
.modal__form-row > label {
  line-height: 1;
}
.modal__form-row label {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "TT Norms Bold", sans-serif;
  font-size: 20px;
  color: #010101;
}
.modal__form-row:not(:first-child) {
  margin-top: 25px;
}
.modal__form input[type=text], .modal__form input[type=email] {
  font-family: "TT Norms", sans-serif;
  font-size: 18px;
  width: 395px;
  border: none;
  border-bottom: 1px solid #c6cfd5;
  outline: none;
  padding: 5px;
}
.modal__hint {
  font-family: "TT Norms Light", sans-serif;
  font-size: 12px;
  color: #010101;
  text-align: center;
  line-height: 1;
}
.modal__hint a {
  color: #054673;
  text-decoration: underline;
  text-underline-position: under;
}
.modal__hint a:hover {
  color: #35e6f6;
}
.modal button {
  max-width: 200px;
  margin: 12% auto 0;
  font-family: "TT Norms Medium", sans-serif;
  background-color: #054673;
  color: #ffffff;
  padding: 16px 30px;
  font-size: 18px;
  border-radius: 100px;
  line-height: 1;
}

.iframe-invoice {
  border: none;
  width: 100%;
  height: 400px;
}

.dialog-invoice {
  padding-top: 4% !important;
}

.dialog-invoice-html {
  padding: 4% 0 4% !important;
  max-width: 800px !important;
  overflow: initial !important;
}

#invoice-print {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url(../img/printer.svg) center/contain no-repeat;
  cursor: pointer;
  opacity: 0.7;
}
#invoice-print:hover {
  opacity: 1;
}

.dialog-notification {
  padding-top: 4% !important;
  padding-bottom: 8% !important;
}
.dialog-notification h2 {
  line-height: 1;
  margin-bottom: 30px;
  font-size: 32px;
}
.dialog-notification a {
  color: #054673;
  text-decoration: none;
}
.dialog-notification a:hover {
  color: #35e6f6;
}

.modal-wrapper-notification {
  z-index: 10001;
}

.balloon-content {
  font-family: "TT Norms", sans-serif;
  font-size: 14px;
  color: #000000;
  line-height: 1.2;
}
.balloon-content__type {
  font-family: "TT Norms Medium", sans-serif;
  margin-bottom: 8px;
}
.balloon-content .balloon-content__count-macs {
  margin-bottom: 18px;
}
.balloon-content__count-macs .value {
  font-size: 20px;
}
.balloon-content .label {
  font-family: "TT Norms Medium", sans-serif;
  color: #054673;
}
.balloon-content a {
  display: block;
  color: #000000;
}
.balloon-content .phone {
  display: flex;
  align-items: center;
}
.balloon-content .phone:before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  margin-right: 3px;
  background: url(../img/phone.svg) center/contain no-repeat;
  background-size: 80%;
}
.balloon-content .site {
  display: flex;
  align-items: center;
  color: #3984f3;
}
.balloon-content .site:before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  margin-right: 3px;
  background: url(../img/global.svg) center/contain no-repeat;
  background-size: 80%;
}

.block-social {
  width: 33.33%;
}
.block-social .block-social__name {
  display: flex;
  align-items: center;
  font-family: "TT Commons Medium", sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 1;
}
.block-social .block-social__multi .cont {
  margin-left: 8px;
  font-family: "TT Norms", sans-serif;
  font-size: 18px;
  min-height: 20px;
  padding-top: 3px;
  padding-left: 30px;
  box-sizing: border-box;
}
.block-social[data-name=vk] .block-social__name:before {
  content: "";
  display: block;
  margin-right: 10px;
  width: 38px;
  height: 38px;
  background: url(../img/icon-vk.png) center/contain no-repeat;
}
.block-social[data-name=facebook] .block-social__name:before {
  content: "";
  display: block;
  margin-right: 10px;
  width: 38px;
  height: 38px;
  background: url(../img/icon-facebook.png) center/contain no-repeat;
}
.block-social[data-name=inst] .block-social__name:before {
  content: "";
  display: block;
  margin-right: 10px;
  width: 38px;
  height: 38px;
  background: url(../img/icon-instagram.png) center/contain no-repeat;
}

.block-reputation .value .cont {
  width: 100%;
  margin-left: 0 !important;
}

.burger {
  display: none;
  width: 45px;
  height: 45px;
  border: 0;
  position: relative;
  cursor: pointer;
  background: #ffffff;
  border-radius: 50%;
}
.burger div {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #100e4e;
  width: 60%;
  height: 3px;
  transition: transform 0.2s ease, top 0.2s ease 0.2s, bottom 0.2s ease 0.2s, opacity 0.2s ease 0.2s;
}
.burger div:nth-child(1) {
  top: 13px;
}
.burger div:nth-child(2) {
  top: calc(50% - 2px);
}
.burger div:nth-child(3) {
  bottom: 13px;
}
.burger.active div {
  transition: transform 0.2s ease 0.2s, top 0.2s ease, bottom 0.2s ease, opacity 0.2s ease;
}
.burger.active div:nth-child(1) {
  transform: rotate(45deg);
  top: calc(50% - 2px);
}
.burger.active div:nth-child(2) {
  opacity: 0;
}
.burger.active div:nth-child(3) {
  transform: rotate(-45deg);
  bottom: calc(50% - 2px);
}

.header-mobile-menu {
  display: none;
  flex-direction: column;
  order: 1;
  font-size: 18px;
}
.header-mobile-menu .header-menu__item {
  padding: 15px;
}

.coupon {
  width: 30%;
  margin-top: 60px;
  float: left;
  display: flex;
  flex-direction: column;
}
.coupon-input {
  width: 165px;
  height: 46px;
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #05528f;
  text-align: center;
  font-family: "TT Norms", sans-serif;
  font-size: 20px;
  color: #010101;
  box-sizing: border-box;
  outline: none;
}
.coupon button {
  margin-top: 20px;
  width: 165px;
  height: 45px;
}

.final {
  width: 70%;
  float: left;
}

button.load {
  position: relative;
}
button.load:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: url("../img/loader.svg") center/contain no-repeat;
}

.coupon-final {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}

@media (max-width: 640px) {
  .header {
    min-width: initial;
    height: 60px;
  }
  .header .container {
    padding: 0 15px;
  }
  .header .burger {
    display: flex;
  }
  .header .burger div:nth-child(2) {
    top: calc(50% - 1px);
  }
  .header-phone {
    display: none;
  }
  .header-logo {
    width: 170px;
  }
  .header.open {
    height: 100vh;
  }
  .header.open .header-mobile-menu {
    display: flex;
    margin-top: 30px;
  }

  section {
    padding-top: 60px;
    min-height: initial;
    max-height: initial;
  }

  .section-brief {
    height: initial;
  }
  .section-brief .brief-container {
    min-width: initial;
    margin-top: 15px;
    margin-bottom: 100px;
  }
  .section-brief .brief-container .brief-multi {
    margin-top: 20px;
    padding: 0 15px;
  }
  .section-brief .brief-container .brief-multi .cont + .cont {
    margin-top: 20px !important;
  }
  .section-brief .brief-container .briefs {
    width: 100%;
    height: initial;
    border-right: none;
  }
  .section-brief .brief-container .briefs__container {
    display: block;
  }
  .section-brief .brief-container .briefs .owl-item {
    min-width: 375px;
  }
  .section-brief .brief-container .briefs .owl-stage {
    min-width: initial;
  }
  .section-brief .brief-container .cont {
    min-height: 20px;
    font-size: 18px;
    padding-top: 1px;
  }
  .section-brief .brief-container .brief {
    padding: 0;
    width: 100%;
    height: initial;
  }
  .section-brief .brief-container .brief h3 + .row {
    margin-top: 15px;
  }
  .section-brief .brief-container .brief .row + .row {
    margin-top: 15px;
  }
  .section-brief .brief-container .brief .support-designer .brief-block .value > div {
    margin-left: 0 !important;
  }
  .section-brief .brief-container .brief .block-design:nth-child(5) {
    padding: 0 15px;
  }
  .section-brief .brief-container .brief .block-design:nth-child(5) .cont {
    font-size: 16px;
  }
  .section-brief .brief-container .brief .row:last-child .brief-block .value label {
    margin-left: 0 !important;
    width: 100%;
  }
  .section-brief .brief-container .brief .brief-block {
    padding: 0 15px;
  }
  .section-brief .brief-container .brief .brief-block.type-site .value > div {
    margin-left: 0 !important;
  }
  .section-brief .brief-container .brief .brief-block.has-creatives .value > div {
    margin-left: 0 !important;
  }
  .section-brief .brief-container .brief .brief-block.price-site .value > div {
    margin-left: 0 !important;
    margin-right: 23px;
  }
  .section-brief .brief-container .brief .brief-block.price-site .value > div:not(:first-child) {
    margin-top: 15px;
  }
  .section-brief .brief-container .brief .brief-block textarea {
    box-sizing: border-box;
  }
  .section-brief .brief-container .brief .brief-block + .brief-block {
    margin-top: 20px;
  }
  .section-brief .brief-container .brief .brief-block .cont {
    margin-top: 0 !important;
    margin-bottom: 0;
    font-size: 16px;
  }
  .section-brief .brief-container .brief .brief-block .key {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .section-brief .brief-container .brief.map .brief-block {
    margin-right: 0;
    padding: 0;
  }
  .section-brief .brief-container .brief.map .brief-block + .brief-block {
    margin-top: 10px;
  }
  .section-brief .brief-container .brief.map .count-all-macs {
    font-size: 14px;
  }
  .section-brief .brief-container .brief.map .total-selected {
    margin-right: 0;
    font-size: 14px;
  }
  .section-brief .brief-container .brief.map .total-selected .count {
    font-size: 22px;
  }
  .section-brief .brief-container .brief.map > .row {
    flex-wrap: wrap;
  }
  .section-brief .brief-container .brief .map-hint {
    display: none;
  }
  .section-brief .brief-container .brief h3 {
    padding: 0 15px;
    font-size: 22px;
    line-height: 1.2;
    box-sizing: border-box;
  }
  .section-brief .brief-container .brief p {
    padding: 0 15px;
    font-size: 14px;
    box-sizing: border-box;
  }
  .section-brief .brief-container .brief p + .row {
    padding: 0 15px;
    margin-top: 15px;
  }
  .section-brief .brief-container .brief p + .row .brief-block {
    padding: 0;
  }
  .section-brief .brief-container .brief-block {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .section-brief .brief-container .brief #map, .section-brief .brief-container .brief #map2 {
    width: 100%;
    height: 200px;
  }
  .section-brief .brief-container .brief .map-info {
    padding: 0 15px;
    margin-top: 15px;
  }
  .section-brief .brief-container .brief-result {
    width: 100%;
    padding: 0 15px;
  }
  .section-brief .brief-container .brief-result .hint {
    display: none !important;
  }
  .section-brief .brief-container .brief-result__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-brief .brief-container .brief-result.full {
    padding: 0;
    height: initial;
  }
  .section-brief .brief-container .brief-result.full .brief-result__container {
    flex-wrap: wrap;
    padding: 0 15px;
  }
  .section-brief .brief-container .brief-result.full h3 {
    font-size: 24px;
    line-height: 1.2;
    text-align: left;
  }
  .section-brief .brief-container .brief-result.full .brief-order__container .brief-order {
    margin-top: 15px;
    font-size: 16px;
  }
  .section-brief .brief-container .brief-result.full .brief-order__container .brief-order .service-name {
    font-size: 14px;
    width: 60%;
    padding-right: 10px;
  }
  .section-brief .brief-container .brief-result.full .brief-order__container .brief-order .service-price {
    padding-left: 10px;
  }
  .section-brief .brief-container .brief-result label {
    font-size: 14px;
  }
  .section-brief .brief-container .brief-result__price {
    font-size: 36px;
    margin-top: 11px;
    margin-left: 10px;
  }
  .section-brief .brief-container .brief-footer__left {
    width: 100%;
    height: initial;
    padding-right: 15px;
    border: none;
  }
  .section-brief .brief-container .brief-footer__left .steps-container {
    display: flex;
    justify-content: center;
    width: calc(100% + 30px);
    margin-left: 0;
  }
  .section-brief .brief-container .brief-footer__left .steps-container .brief-steps li {
    width: 36px;
  }
  .section-brief .brief-container .brief-footer__left .steps-container .brief-steps li .step-count {
    font-size: 10px;
    bottom: -8px;
    left: 7px;
  }
  .section-brief .brief-container .brief-footer__right {
    display: none;
  }
  .section-brief .brief-container .brief-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 100%;
    margin-top: 20px;
  }
  .section-brief .brief-container .brief-actions .btn-primary + button {
    margin-left: 0;
  }

  #select-map-city {
    width: 100%;
    max-width: 350px;
  }

  #select-map-type-object {
    width: 100%;
    max-width: 350px;
  }

  .helper {
    width: 15px;
    height: 15px;
    flex: none;
  }

  .slider-range.ui-widget-content {
    width: 100%;
  }

  .section-brief .brief-container .brief-geolocation .brief-block .key {
    padding-top: 18px;
  }

  .block-social {
    width: 100%;
    padding: 0 15px;
  }
  .block-social__multi .cont {
    margin-left: 0;
  }
  .block-social + .block-social {
    margin-top: 20px;
  }

  .owl-stage-outer {
    overflow-y: auto;
  }

  #modal-add-cities {
    width: calc(100% - 30px);
    box-sizing: border-box;
  }

  .ui-dialog {
    box-sizing: border-box;
    padding: 15px !important;
    width: calc(100% - 30px) !important;
  }

  .modal__form input[type=text], .modal__form input[type=email] {
    width: 65%;
  }

  .modal__form-row label {
    font-size: 16px;
  }

  .ui-dialog-titlebar-close .ui-icon {
    width: 20px;
    height: 20px;
  }

  .ui-dialog .ui-dialog-content {
    padding: 0;
    overflow: hidden;
  }

  .modal__caption {
    font-size: 28px;
  }

  .modal__description {
    font-size: 14px;
  }

  .modal__form {
    margin: 20px 0;
  }

  .modal__form-row:not(:first-child) {
    margin-top: 15px;
  }

  .modal button {
    margin-top: 20px;
  }

  .modal__hint {
    font-size: 8px;
  }

  .modal {
    width: 100%;
  }

  .dialog-notification h2 {
    font-size: 22px;
  }

  .dialog-notification .modal__description {
    font-size: 14px;
  }

  .header.open .container {
    height: initial;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 8px 15px;
  }
  .header.open .container > a {
    padding-top: 10px;
  }
  .header.open .container .header-mobile-menu {
    margin: 60px 0 0;
    width: 100%;
  }
  .header.open .header-menu__item {
    padding-left: 0;
  }

  .coupon-final {
    flex-direction: column;
  }
  .coupon-final .coupon {
    width: 100%;
    align-items: center;
    margin-top: 15px;
  }
  .coupon-final .final {
    width: 100%;
    margin-top: 15px;
  }
  .coupon-final .final .total {
    justify-content: center !important;
    font-size: 20px !important;
  }

  .brief-result.full .btn-primary.checkout {
    margin-right: auto;
  }

  .map-row {
    margin-top: 15px !important;
    padding: 0 15px !important;
  }

  .list-selected-objects {
    margin-top: 0 !important;
  }
  .list-selected-objects li:first-child {
    margin-top: 15px !important;
  }

  .section-brief .brief-container .brief-result .brief-order {
    margin-top: 0;
  }

  .owl-dots {
    display: none;
  }

  .section-brief .brief-container .brief-geolocation {
    margin-bottom: 15px;
  }

  .view-page:not(:first-child) {
    margin-top: 15px;
  }

  .margin0 {
    margin-bottom: 0 !important;
  }

  .mrg-btm-15 {
    margin-bottom: 15px !important;
  }

  .wdth-mobile-100 {
    width: 100%;
  }

  .float-none {
    float: initial !important;
  }

  .section-brief .brief-container .brief-result .brief-order .service + .service {
    margin-top: 15px;
  }

  .coupon button {
    margin-top: 15px;
  }

  .brief-result.full .total {
    margin-top: 5px;
  }

  html {
    overflow-y: scroll;
  }
}

/*# sourceMappingURL=calculator.13.css.map */
