@charset "UTF-8";
.owl-carousel-cases .case {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.owl-carousel-cases .case .col:first-child {
  width: 650px;
}
.owl-carousel-cases .case .col:first-child .description {
  margin-bottom: 50px;
  font-size: 16px;
}
.owl-carousel-cases .case .col:first-child > p:last-child {
  margin-top: 30px;
  font-size: 16px;
}
.owl-carousel-cases .case .col:first-child > .row:first-child {
  align-items: center;
  justify-content: left;
  margin-bottom: 45px;
}
.owl-carousel-cases .case .col:first-child > .row:first-child .type {
  font-family: "TT Norms", sans-serif;
  font-size: 36px;
  color: #010101;
  margin-right: 25px;
}
.owl-carousel-cases .case .col:first-child > .row:first-child img {
  width: initial;
}
.owl-carousel-cases .case .col:first-child .row:nth-last-child(3),
.owl-carousel-cases .case .col:first-child .row:last-child {
  justify-content: flex-start;
}
.owl-carousel-cases .case .col:first-child .dates {
  font-size: 16px;
  margin-bottom: 35px;
}
.owl-carousel-cases .case .col:first-child .price {
  font-family: "TT Commons", sans-serif;
  font-size: 72px;
  line-height: 0.6;
  margin-bottom: 5px;
}
.owl-carousel-cases .case .col:first-child .price:after {
  content: "человек";
  font-size: 34px;
  margin-left: 15px;
}
.owl-carousel-cases .case .col:first-child .price.dodo:after, .owl-carousel-cases .case .col:first-child .price.bm:after {
  content: "человека";
}
.owl-carousel-cases .case .col:first-child .price.citymoll:after, .owl-carousel-cases .case .col:first-child .price.kristall:after {
  content: "посетителях";
}
.owl-carousel-cases .case .col:first-child .percent {
  font-family: "TT Commons", sans-serif;
  font-size: 72px;
  line-height: 0.6;
  width: 115px;
  margin-right: 10px;
}
.owl-carousel-cases .case .col:first-child .percent + p {
  font-size: 16px;
}
.owl-carousel-cases .case .col:first-child .text {
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
  color: #010101;
  line-height: 1.1;
}
.owl-carousel-cases .case .col:first-child .text + .text {
  margin-top: 25px;
}
.owl-carousel-cases .case .col:first-child .text + .row {
  margin-top: 15px;
  justify-content: flex-start;
}
.owl-carousel-cases .case .col:first-child .row + .text {
  margin-top: 10px;
}
.owl-carousel-cases .case .col:nth-child(2) {
  width: calc(100% - 650px);
}
.owl-carousel-cases .case .col:nth-child(2) img {
  width: initial;
  margin-left: -5%;
  max-width: 100%;
}
.owl-carousel-cases .section-case {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 821px;
}
.owl-carousel-cases .section-case #scene_3,
.owl-carousel-cases .section-case #scene_2,
.owl-carousel-cases .section-case #scene_1 {
  top: 0;
}
.owl-carousel-cases .section-case #scene_3 .first,
.owl-carousel-cases .section-case #scene_2 .first,
.owl-carousel-cases .section-case #scene_1 .first {
  top: -5% !important;
}
.owl-carousel-cases .section-case #scene_3 .second,
.owl-carousel-cases .section-case #scene_2 .second,
.owl-carousel-cases .section-case #scene_1 .second {
  top: 42% !important;
}
.owl-carousel-cases .section-case #scene_3 {
  left: -30% !important;
}
.owl-carousel-cases .carousel-arrow-left {
  width: 45px;
  height: 45px;
  background: url(../img/arrow-point-to-right.svg) center/contain no-repeat;
  background-size: 25px 35px;
  transform: rotate(180deg);
}
.owl-carousel-cases .carousel-arrow-right {
  width: 45px;
  height: 45px;
  background: url(../img/arrow-point-to-right.svg) center/contain no-repeat;
  background-size: 25px 35px;
}
.owl-carousel-cases .em {
  margin-bottom: 30px;
}
.owl-carousel-cases em {
  font-size: 14px;
}
