@import "./variables";

.owl-carousel-cases {
  .case {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;

    .col:first-child {
      width: 650px;

      .description {
        margin-bottom: 50px;
        font-size: 16px;
      }

      & > p:last-child {
        margin-top: 30px;
        font-size: 16px;
      }

      & > .row:first-child {
        align-items: center;
        justify-content: left;
        margin-bottom: 45px;

        .type {
          font-family: "TT Norms", sans-serif;
          font-size: 36px;
          color: $black-2;
          margin-right: 25px;
        }

        img {
          width: initial;
        }
      }

      .row:nth-last-child(3),
      .row:last-child {
        justify-content: flex-start;
      }

      .dates {
        font-size: 16px;
        margin-bottom: 35px;
      }

      .price {
        font-family: "TT Commons", sans-serif;
        font-size: 72px;
        line-height: 0.6;
        margin-bottom: 5px;

        &:after {
          content: "человек";
          font-size: 34px;
          margin-left: 15px;
        }

        &.dodo:after,
        &.bm:after {
          content: "человека";
        }

        &.citymoll:after,
        &.kristall:after {
          content: "посетителях";
        }
      }

      .percent {
        font-family: "TT Commons", sans-serif;
        font-size: 72px;
        line-height: 0.6;
        width: 115px;
        margin-right: 10px;

        & + p {
          font-size: 16px;
        }
      }

      .text {
        font-family: "TT Norms", sans-serif;
        font-size: 16px;
        color: $black-2;
        line-height: 1.1;
      }

      .text + .text {
        margin-top: 25px;
      }

      .text + .row {
        margin-top: 15px;
        justify-content: flex-start;
      }

      .row + .text {
        margin-top: 10px;
      }
    }

    .col:nth-child(2) {
      width: calc(100% - 650px);

      img {
        width: initial;
        margin-left: -5%;
        max-width: 100%;
      }
    }
  }

  .section-case {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 821px;

    #scene_3,
    #scene_2,
    #scene_1 {
      top: 0;

      .first {
        top: -5% !important;
      }

      .second {
        top: 42% !important
      }
    }

    #scene_3 {
      left: -30% !important;
    }
  }

  .carousel-arrow-left {
    width: 45px;
    height: 45px;
    background: url(../img/arrow-point-to-right.svg) center / contain no-repeat;
    background-size: 25px 35px;
    transform: rotate(180deg);
  }

  .carousel-arrow-right {
    width: 45px;
    height: 45px;
    background: url(../img/arrow-point-to-right.svg) center / contain no-repeat;
    background-size: 25px 35px;
  }

  .em {
    margin-bottom: 30px
  }

  em {
    font-size: 14px;
  }
}