@import "./variables";

.contacts-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 100px;

  a {
    text-decoration: none;
  }

  .phone, .mail, .address {
    font-family: "PT Mono Bold", sans-serif;
    font-size: 48px;
    color: #05528f;
    margin-bottom: 30px;

    &.animated {
      display: block;
    }
  }

  .address {
    font-family: "TT Norms", sans-serif;
    font-size: 24px;
    font-style: normal;
  }

  .mail {
    font-family: "TT Norms", sans-serif;
    color: $turquoise
  }

  .social {
    margin-top: 10px;

    .social-item {
      svg {
        width: 40px;
        height: 40px;

        path {
          fill: #05528f;
        }
      }

      &:hover {
        path {
          fill: $turquoise;
        }
      }

      & + .social-item {
        margin-left: 24px;
      }
    }
  }
}

.call-me {
  #phone {
    margin-right: 30px;
    width: 245px;
    height: 46px;
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #05528f;
    text-align: center;
    font-family: "TT Norms", sans-serif;
    font-size: 20px;
    color: #010101;
    box-sizing: border-box;
    outline: none;
  }

  .btn-primary {
    font-family: "TT Norms Bold", sans-serif;
    text-transform: uppercase;
    width: 300px;
  }

  .row:first-child {
    margin-bottom: 20px;
  }

  p {
    font-family: "TT Norms", sans-serif;
    font-size: 12px;
    color: #7c7c7c;

    a {
      color: $turquoise;
      text-decoration: underline;

      &:hover {
        color: #05528f;
      }
    }
  }
}

@media (max-width: 640px) {
  .page-contacts {
    padding: 0 15px;

    .section-first {
      padding-top: 100px;

      .contacts-content {
        margin-bottom: 50px;

        .phone, .mail {
          font-size: 28px;
          margin-bottom: 20px;
        }

        .social {
          margin-top: 5px;
        }
      }

      .call-me {
        form.row {
          flex-direction: column;
          align-items: center;
          margin-bottom: 10px;

          #phone {
            margin-bottom: 15px;
            margin-left: auto;
            margin-right: auto;
          }
        }

        p {
          text-align: center;
          line-height: 1;
          font-size: 11px;
        }
      }

      .contacts-content .social .social-item + .social-item {
        margin-left: 15px;
      }
    }
  }
}