.contacts-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
}
.contacts-content a {
  text-decoration: none;
}
.contacts-content .phone, .contacts-content .mail, .contacts-content .address {
  font-family: "PT Mono Bold", sans-serif;
  font-size: 48px;
  color: #05528f;
  margin-bottom: 30px;
}
.contacts-content .phone.animated, .contacts-content .mail.animated, .contacts-content .address.animated {
  display: block;
}
.contacts-content .address {
  font-family: "TT Norms", sans-serif;
  font-size: 24px;
  font-style: normal;
}
.contacts-content .mail {
  font-family: "TT Norms", sans-serif;
  color: #35e6f6;
}
.contacts-content .social {
  margin-top: 10px;
}
.contacts-content .social .social-item svg {
  width: 40px;
  height: 40px;
}
.contacts-content .social .social-item svg path {
  fill: #05528f;
}
.contacts-content .social .social-item:hover path {
  fill: #35e6f6;
}
.contacts-content .social .social-item + .social-item {
  margin-left: 24px;
}

.call-me #phone {
  margin-right: 30px;
  width: 245px;
  height: 46px;
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #05528f;
  text-align: center;
  font-family: "TT Norms", sans-serif;
  font-size: 20px;
  color: #010101;
  box-sizing: border-box;
  outline: none;
}
.call-me .btn-primary {
  font-family: "TT Norms Bold", sans-serif;
  text-transform: uppercase;
  width: 300px;
}
.call-me .row:first-child {
  margin-bottom: 20px;
}
.call-me p {
  font-family: "TT Norms", sans-serif;
  font-size: 12px;
  color: #7c7c7c;
}
.call-me p a {
  color: #35e6f6;
  text-decoration: underline;
}
.call-me p a:hover {
  color: #05528f;
}

@media (max-width: 640px) {
  .page-contacts {
    padding: 0 15px;
  }
  .page-contacts .section-first {
    padding-top: 100px;
  }
  .page-contacts .section-first .contacts-content {
    margin-bottom: 50px;
  }
  .page-contacts .section-first .contacts-content .phone, .page-contacts .section-first .contacts-content .mail {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .page-contacts .section-first .contacts-content .social {
    margin-top: 5px;
  }
  .page-contacts .section-first .call-me form.row {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .page-contacts .section-first .call-me form.row #phone {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .page-contacts .section-first .call-me p {
    text-align: center;
    line-height: 1;
    font-size: 11px;
  }
  .page-contacts .section-first .contacts-content .social .social-item + .social-item {
    margin-left: 15px;
  }
}