@charset "UTF-8";
.cooperation-options {
  flex-wrap: wrap;
  margin: 100px 0;
}
.cooperation-options .row, .cooperation-options h2 {
  width: 100%;
}
.cooperation-options h2 {
  font-family: "PT Mono Bold", sans-serif;
  font-size: 40px;
  padding-left: 30px;
  margin-bottom: 80px;
}
.cooperation-options .row:nth-child(4), .cooperation-options .row:nth-child(5) {
  margin-top: auto;
}
.cooperation-options .row {
  justify-content: space-between;
}
.cooperation-options .row .col:first-child {
  padding-left: 30px;
}
.cooperation-options .row .col:last-child {
  padding-right: 30px;
}
.cooperation-options .row .col {
  width: 40%;
}
.cooperation-options .row .col .text1, .cooperation-options .row .col .text2 {
  color: #000000;
}
.cooperation-options .row .col .text1 {
  font-family: "TT Commons DemiBold", sans-serif;
  font-size: 32px;
}
.cooperation-options .row .col .text2 {
  font-family: "TT Commons", sans-serif;
  font-size: 28px;
  margin-bottom: 30px;
}
.cooperation-options .row .col .text2 span {
  color: #35e6f6;
  margin-right: 5px;
}
.cooperation-options .row .col .text8,
.cooperation-options .row .col .text5,
.cooperation-options .row .col .text3 {
  font-family: "TT Norms Bold", sans-serif;
  font-size: 18px;
  color: #010101;
  margin-bottom: 20px;
}
.cooperation-options .row .col .text9,
.cooperation-options .row .col .price2,
.cooperation-options .row .col .price1 {
  font-family: "TT Commons", sans-serif;
  font-size: 72px;
  line-height: 0.6;
}
.cooperation-options .row .col .text9:after,
.cooperation-options .row .col .price2:after,
.cooperation-options .row .col .price1:after {
  content: "₽";
  font-size: 34px;
  margin-left: 15px;
}
.cooperation-options .row .col .text6,
.cooperation-options .row .col .text4 {
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
  color: #010101;
  margin-bottom: 40px;
  line-height: 1.1;
}
.cooperation-options .row .col .price2:after {
  content: "₽/месяц";
}
.cooperation-options .row .col .text9:after {
  content: "месяцев";
}
.cooperation-options .row .col .text7 {
  font-family: "TT Norms Italic", sans-serif;
  font-size: 12px;
  color: #666666;
  margin-bottom: 40px;
}
.cooperation-options .btn-connect:hover {
  color: #010101;
}
.cooperation-options.device-storage .col {
  width: 100%;
}
.cooperation-options.device-storage .col .price1:after {
  content: "";
}
.cooperation-options.device-storage .col .price2:after {
  content: "";
}
.cooperation-options.mobile {
  display: none;
}

@media (max-width: 640px) {
  .cooperation-options:not(.mobile):not(:last-child) {
    display: none;
  }

  .cooperation-options.mobile, .cooperation-options.device-storage {
    display: block;
    padding: 0 15px;
    margin-bottom: 40px;
    margin-top: 0;
  }
  .cooperation-options.mobile h2, .cooperation-options.device-storage h2 {
    padding-left: 0;
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
  }
  .cooperation-options.mobile .row .col, .cooperation-options.device-storage .row .col {
    padding: 0;
    width: 100%;
  }
  .cooperation-options.mobile .row .col .text1, .cooperation-options.device-storage .row .col .text1 {
    font-size: 24px;
  }
  .cooperation-options.mobile .row .col .text2, .cooperation-options.device-storage .row .col .text2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .cooperation-options.mobile .row .col .text2 br, .cooperation-options.device-storage .row .col .text2 br {
    display: none;
  }
  .cooperation-options.mobile .row .col .text3, .cooperation-options.device-storage .row .col .text3 {
    font-size: 16px;
  }
  .cooperation-options.mobile .row .col .text6 br, .cooperation-options.device-storage .row .col .text6 br {
    display: none;
  }
  .cooperation-options.mobile .row .col .text4, .cooperation-options.mobile .row .col .text6, .cooperation-options.device-storage .row .col .text4, .cooperation-options.device-storage .row .col .text6 {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .cooperation-options.mobile .row .col .text3, .cooperation-options.mobile .row .col .text5, .cooperation-options.mobile .row .col .text8, .cooperation-options.device-storage .row .col .text3, .cooperation-options.device-storage .row .col .text5, .cooperation-options.device-storage .row .col .text8 {
    margin-bottom: 12px;
  }
  .cooperation-options.mobile .row .col .price1, .cooperation-options.mobile .row .col .price2, .cooperation-options.mobile .row .col .text9, .cooperation-options.device-storage .row .col .price1, .cooperation-options.device-storage .row .col .price2, .cooperation-options.device-storage .row .col .text9 {
    font-size: 50px;
  }
  .cooperation-options.mobile .row .col .price1:after, .cooperation-options.mobile .row .col .price2:after, .cooperation-options.mobile .row .col .text9:after, .cooperation-options.device-storage .row .col .price1:after, .cooperation-options.device-storage .row .col .price2:after, .cooperation-options.device-storage .row .col .text9:after {
    font-size: 22px;
    margin-left: 10px;
  }
  .cooperation-options.mobile .row .col .text7, .cooperation-options.device-storage .row .col .text7 {
    margin-bottom: 20px;
  }
  .cooperation-options.mobile .row .col .btn-connect, .cooperation-options.device-storage .row .col .btn-connect {
    margin: 0 auto;
  }
  .cooperation-options.mobile .row:last-child .col, .cooperation-options.device-storage .row:last-child .col {
    text-align: center;
  }

  .cooperation-options:nth-child(3) {
    margin-top: 100px;
  }

  .cooperation-options:nth-child(4) .text7 {
    margin-top: 20px;
  }
}