@import "./variables";

.cooperation-options {
  flex-wrap: wrap;
  margin: 100px 0;

  .row, h2 {
    width: 100%;
  }

  h2 {
    font-family: "PT Mono Bold", sans-serif;
    font-size: 40px;
    padding-left: 30px;
    margin-bottom: 80px;
  }

  .row:nth-child(4), .row:nth-child(5) {
    margin-top: auto;
  }

  .row {
    justify-content: space-between;

    .col:first-child {
      padding-left: 30px;
    }

    .col:last-child {
      padding-right: 30px;
    }

    .col {
      width: 40%;

      .text1, .text2 {
        color: $black
      }

      .text1 {
        font-family: "TT Commons DemiBold", sans-serif;
        font-size: 32px;
      }

      .text2 {
        font-family: "TT Commons", sans-serif;
        font-size: 28px;
        margin-bottom: 30px;

        span {
          color: $turquoise;
          margin-right: 5px;
        }
      }

      .text8,
      .text5,
      .text3 {
        font-family: "TT Norms Bold", sans-serif;
        font-size: 18px;
        color: $black-2;
        margin-bottom: 20px;
      }

      .text9,
      .price2,
      .price1 {
        font-family: "TT Commons", sans-serif;
        font-size: 72px;
        line-height: 0.6;

        &:after {
          content: "₽";
          font-size: 34px;
          margin-left: 15px;
        }
      }

      .text6,
      .text4 {
        font-family: "TT Norms", sans-serif;
        font-size: 16px;
        color: $black-2;
        margin-bottom: 40px;
        line-height: 1.1;
      }

      .price2 {
        &:after {
          content: "₽/месяц";
        }
      }

      .text9 {
        &:after {
          content: "месяцев";
        }
      }

      .text7 {
        font-family: "TT Norms Italic", sans-serif;
        font-size: 12px;
        color: #666666;
        margin-bottom: 40px;
      }
    }
  }

  .btn-connect:hover {
    color: #010101;
  }

  &.device-storage {
    .col {
      width: 100%;

      .price1:after {
        content: "";
      }

      .price2:after {
        content: "";
      }
    }
  }

  &.mobile {
    display: none;
  }
}

@media (max-width: 640px) {
  .cooperation-options:not(.mobile):not(:last-child) {
    display: none;
  }

  .cooperation-options.mobile, .cooperation-options.device-storage {
    display: block;
    padding: 0 15px;
    margin-bottom: 40px;
    margin-top: 0;

    h2 {
      padding-left: 0;
      font-size: 28px;
      text-align: center;
      margin-bottom: 40px;
    }

    .row {
      .col {
        padding: 0;
        width: 100%;

        .text1 {
          font-size: 24px;
        }

        .text2 {
          font-size: 18px;
          margin-bottom: 20px;

          br {
            display: none;
          }
        }

        .text3 {
          font-size: 16px;
        }

        .text6 {
          br {
            display: none;
          }
        }

        .text4, .text6 {
          font-size: 14px;
          margin-bottom: 20px;
        }

        .text3, .text5, .text8 {
          margin-bottom: 12px;
        }

        .price1, .price2, .text9 {
          font-size: 50px;

          &:after {
            font-size: 22px;
            margin-left: 10px;
          }
        }

        .text7 {
          margin-bottom: 20px;
        }

        .btn-connect {
          margin: 0 auto;
        }
      }

      &:last-child {
        .col {
          text-align: center;
        }
      }
    }
  }

  .cooperation-options:nth-child(3) {
    margin-top: 100px;
  }

  .cooperation-options:nth-child(4) {
    .text7 {
      margin-top: 20px;
    }
  }
}