@import "./variables";

.documents-list {
  width: 100%;
  max-width: 875px;
  margin-left: auto;
  margin-right: auto;

  .document {
    display: flex;
    align-items: flex-start;
    padding: 40px 0;

    & > img:first-child {
      width: 52px;
      height: 63px;
      margin-top: -7px;
      margin-right: 24px;
    }

    &__content {
      font-size: 20px;
      color: $black-2;
      flex: 1;

      &-caption {
        font-family: "TT Norms Bold", sans-serif;
        margin-bottom: 5px;
      }

      .separator {
        height: 1px;
        width: 100%;
        margin: 10px 0 8px;
        background-color: #e1e1e1;
      }

      &-actions {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .download {
          transform: rotate(90deg);
          margin-left: 8px;
        }

        .read, .download {
          width: 24px;
          height: 24px;
          cursor: pointer;

          path {
            fill: $dark-blue
          }

          &:hover {
            path {
              fill: $turquoise
            }
          }
        }

        span {
          margin-left: 11px;
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .page-documents {
    padding: 0 15px;

    .section-first {
      padding-top: 100px;
    }
  }

  .documents-list .document > img:first-child {
    width: 40px;
  }

  .documents-list .document__content-caption {
    font-size: 19px;
  }

  .document__content-description {
    font-size: 16px;
  }

  .documents-list {
    max-width: 350px;
  }

  .documents-list .document {
    padding: 20px 0;
  }
}