.documents-list {
  width: 100%;
  max-width: 875px;
  margin-left: auto;
  margin-right: auto;
}
.documents-list .document {
  display: flex;
  align-items: flex-start;
  padding: 40px 0;
}
.documents-list .document > img:first-child {
  width: 52px;
  height: 63px;
  margin-top: -7px;
  margin-right: 24px;
}
.documents-list .document__content {
  font-size: 20px;
  color: #010101;
  flex: 1;
}
.documents-list .document__content-caption {
  font-family: "TT Norms Bold", sans-serif;
  margin-bottom: 5px;
}
.documents-list .document__content .separator {
  height: 1px;
  width: 100%;
  margin: 10px 0 8px;
  background-color: #e1e1e1;
}
.documents-list .document__content-actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.documents-list .document__content-actions .download {
  transform: rotate(90deg);
  margin-left: 8px;
}
.documents-list .document__content-actions .read, .documents-list .document__content-actions .download {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.documents-list .document__content-actions .read path, .documents-list .document__content-actions .download path {
  fill: #054673;
}
.documents-list .document__content-actions .read:hover path, .documents-list .document__content-actions .download:hover path {
  fill: #35e6f6;
}
.documents-list .document__content-actions span {
  margin-left: 11px;
  font-size: 14px;
}

@media (max-width: 640px) {
  .page-documents {
    padding: 0 15px;
  }
  .page-documents .section-first {
    padding-top: 100px;
  }

  .documents-list .document > img:first-child {
    width: 40px;
  }

  .documents-list .document__content-caption {
    font-size: 19px;
  }

  .document__content-description {
    font-size: 16px;
  }

  .documents-list {
    max-width: 350px;
  }

  .documents-list .document {
    padding: 20px 0;
  }
}

/*# sourceMappingURL=documents.1.css.map */
