@import "./variables";

.page-faq {
  header {
    padding-left: 30px;
    padding-right: 30px;
    height: 100vh;

    .block-faq {
      width: 100%;
      height: 75vh;

      .row {
        width: 100%;
      }

      & > .row:first-child {
        justify-content: flex-start;
      }

      & > .row:last-child {
        height: calc(100% - 100px);
      }

      &__search {
        position: relative;
        width: 100%;
        max-width: 792px;
        margin-bottom: 60px;

        #search {
          height: 36px;
          width: 100%;
          background-color: #ffffff;
          padding: 0 40px 0 13px;
          font-family: "TT Norms", sans-serif;
          font-size: 20px;
          color: $dark-blue;
          box-sizing: border-box;
          border: 1px solid #ebebeb;

          &::placeholder {
            color: #939393
          }

          &:focus {
            border-color: $dark-blue;
          }
        }

        img {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 10px;
          margin: auto 0;
          width: 25px;
        }
      }

      &__questions {
        padding-left: 6px;
        width: 370px;
        height: 100%;
        overflow-y: scroll;
        direction: rtl;

        &::-webkit-scrollbar {
          border-radius: 10px;
          width: 6px;
          background-color: #d7d7d7;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: $turquoise;
        }

        &::-webkit-scrollbar-track {
          border-radius: 10px;
          background-color: #d7d7d7;
        }

        &-list {
          direction: ltr;
          padding-left: 30px;

          .question {
            display: flex;
            padding: 10px 0;
            cursor: pointer;

            &:first-child {
              padding-top: 0;
            }

            &__count {
              font-family: "TT Commons Medium", sans-serif;
              font-size: 12px;
              color: #c1c1c1;
              width: 45px;
              padding-top: 3px;
            }

            &__text {
              font-family: "TT Commons", sans-serif;
              font-size: 18px;
              color: $black;
              flex: 1;
            }

            &:hover {
              .question__text {
                color: $dark-blue;
              }
            }

            &.active {
              .question__text {
                font-family: "TT Commons Bold", sans-serif;
                color: $dark-blue;
              }
            }
          }
        }
      }

      &__answers {
        flex: 1;
        padding: 0 5%;

        &-key {
          font-family: "PT Mono Bold", sans-serif;
          font-size: 24px;
          color: $dark-blue;
          margin-bottom: 40px;
          line-height: 1.2;
        }

        &-value {
          font-family: "TT Norms", sans-serif;
          font-size: 18px;
          color: $black-2;
          line-height: 1.2;
        }
      }
    }
  }
}