.page-faq header {
  padding-left: 30px;
  padding-right: 30px;
  height: 100vh;
}
.page-faq header .block-faq {
  width: 100%;
  height: 75vh;
}
.page-faq header .block-faq .row {
  width: 100%;
}
.page-faq header .block-faq > .row:first-child {
  justify-content: flex-start;
}
.page-faq header .block-faq > .row:last-child {
  height: calc(100% - 100px);
}
.page-faq header .block-faq__search {
  position: relative;
  width: 100%;
  max-width: 792px;
  margin-bottom: 60px;
}
.page-faq header .block-faq__search #search {
  height: 36px;
  width: 100%;
  background-color: #ffffff;
  padding: 0 40px 0 13px;
  font-family: "TT Norms", sans-serif;
  font-size: 20px;
  color: #054673;
  box-sizing: border-box;
  border: 1px solid #ebebeb;
}
.page-faq header .block-faq__search #search::placeholder {
  color: #939393;
}
.page-faq header .block-faq__search #search:focus {
  border-color: #054673;
}
.page-faq header .block-faq__search img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto 0;
  width: 25px;
}
.page-faq header .block-faq__questions {
  padding-left: 6px;
  width: 370px;
  height: 100%;
  overflow-y: scroll;
  direction: rtl;
}
.page-faq header .block-faq__questions::-webkit-scrollbar {
  border-radius: 10px;
  width: 6px;
  background-color: #d7d7d7;
}
.page-faq header .block-faq__questions::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #35e6f6;
}
.page-faq header .block-faq__questions::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #d7d7d7;
}
.page-faq header .block-faq__questions-list {
  direction: ltr;
  padding-left: 30px;
}
.page-faq header .block-faq__questions-list .question {
  display: flex;
  padding: 10px 0;
  cursor: pointer;
}
.page-faq header .block-faq__questions-list .question:first-child {
  padding-top: 0;
}
.page-faq header .block-faq__questions-list .question__count {
  font-family: "TT Commons Medium", sans-serif;
  font-size: 12px;
  color: #c1c1c1;
  width: 45px;
  padding-top: 3px;
}
.page-faq header .block-faq__questions-list .question__text {
  font-family: "TT Commons", sans-serif;
  font-size: 18px;
  color: #000000;
  flex: 1;
}
.page-faq header .block-faq__questions-list .question:hover .question__text {
  color: #054673;
}
.page-faq header .block-faq__questions-list .question.active .question__text {
  font-family: "TT Commons Bold", sans-serif;
  color: #054673;
}
.page-faq header .block-faq__answers {
  flex: 1;
  padding: 0 5%;
}
.page-faq header .block-faq__answers-key {
  font-family: "PT Mono Bold", sans-serif;
  font-size: 24px;
  color: #054673;
  margin-bottom: 40px;
  line-height: 1.2;
}
.page-faq header .block-faq__answers-value {
  font-family: "TT Norms", sans-serif;
  font-size: 18px;
  color: #010101;
  line-height: 1.2;
}

/*# sourceMappingURL=faq.css.map */
