@font-face {
    font-family: 'TT Norms ExtraBold';
    font-display: swap;
    src: url('../fonts/TTNorms-ExtraBoldItalic.eot');
    src: local('TT Norms ExtraBold Italic'), local('TTNorms-ExtraBoldItalic'),
        url('../fonts/TTNorms-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/TTNorms-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms Bold';
    font-display: swap;
    src: url('../fonts/TTNorms-Bold.eot');
    src: local('TT Norms Bold'), local('TTNorms-Bold'),
        url('../fonts/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Bold.woff') format('woff'),
        url('../fonts/TTNorms-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Thin';
    font-display: swap;
    src: url('../fonts/TTNorms-Thin.eot');
    src: local('TT Norms Thin'), local('TTNorms-Thin'),
        url('../fonts/TTNorms-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Thin.woff') format('woff'),
        url('../fonts/TTNorms-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    font-display: swap;
    src: url('../fonts/TTNorms-Regular.eot');
    src: local('TT Norms Regular'), local('TTNorms-Regular'),
        url('../fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Regular.woff') format('woff'),
        url('../fonts/TTNorms-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms ThinItalic';
    font-display: swap;
    src: url('../fonts/TTNorms-ThinItalic.eot');
    src: local('TT Norms Thin Italic'), local('TTNorms-ThinItalic'),
        url('../fonts/TTNorms-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-ThinItalic.woff') format('woff'),
        url('../fonts/TTNorms-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms Italic';
    font-display: swap;
    src: url('../fonts/TTNorms-Italic.eot');
    src: local('TT Norms Italic'), local('TTNorms-Italic'),
        url('../fonts/TTNorms-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Italic.woff') format('woff'),
        url('../fonts/TTNorms-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms Heavy';
    font-display: swap;
    src: url('../fonts/TTNorms-Heavy.eot');
    src: local('TT Norms Heavy'), local('TTNorms-Heavy'),
        url('../fonts/TTNorms-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Heavy.woff') format('woff'),
        url('../fonts/TTNorms-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Light';
    font-display: swap;
    src: url('../fonts/TTNorms-Light.eot');
    src: local('TT Norms Light'), local('TTNorms-Light'),
        url('../fonts/TTNorms-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Light.woff') format('woff'),
        url('../fonts/TTNorms-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms BlackItalic';
    font-display: swap;
    src: url('../fonts/TTNorms-BlackItalic.eot');
    src: local('TT Norms Black Italic'), local('TTNorms-BlackItalic'),
        url('../fonts/TTNorms-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-BlackItalic.woff') format('woff'),
        url('../fonts/TTNorms-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms ExtraLight';
    font-display: swap;
    src: url('../fonts/TTNorms-ExtraLight.eot');
    src: local('TT Norms ExtraLight'), local('TTNorms-ExtraLight'),
        url('../fonts/TTNorms-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-ExtraLight.woff') format('woff'),
        url('../fonts/TTNorms-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms LightItalic';
    font-display: swap;
    src: url('../fonts/TTNorms-LightItalic.eot');
    src: local('TT Norms Light Italic'), local('TTNorms-LightItalic'),
        url('../fonts/TTNorms-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-LightItalic.woff') format('woff'),
        url('../fonts/TTNorms-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms ExtraLightItalic';
    font-display: swap;
    src: url('../fonts/TTNorms-ExtraLightItalic.eot');
    src: local('TT Norms ExtraLight Italic'), local('TTNorms-ExtraLightItalic'),
        url('../fonts/TTNorms-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-ExtraLightItalic.woff') format('woff'),
        url('../fonts/TTNorms-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms BoldItalic';
    font-display: swap;
    src: url('../fonts/TTNorms-BoldItalic.eot');
    src: local('TT Norms Bold Italic'), local('TTNorms-BoldItalic'),
        url('../fonts/TTNorms-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-BoldItalic.woff') format('woff'),
        url('../fonts/TTNorms-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms Medium';
    font-display: swap;
    src: url('../fonts/TTNorms-Medium.eot');
    src: local('TT Norms Medium'), local('TTNorms-Medium'),
        url('../fonts/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Medium.woff') format('woff'),
        url('../fonts/TTNorms-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms Black';
    font-display: swap;
    src: url('../fonts/TTNorms-Black.eot');
    src: local('TT Norms Black'), local('TTNorms-Black'),
        url('../fonts/TTNorms-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Black.woff') format('woff'),
        url('../fonts/TTNorms-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms MediumItalic';
    font-display: swap;
    src: url('../fonts/TTNorms-MediumItalic.eot');
    src: local('TT Norms Medium Italic'), local('TTNorms-MediumItalic'),
        url('../fonts/TTNorms-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-MediumItalic.woff') format('woff'),
        url('../fonts/TTNorms-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms HeavyItalic';
    font-display: swap;
    src: url('../fonts/TTNorms-HeavyItalic.eot');
    src: local('TT Norms Heavy Italic'), local('TTNorms-HeavyItalic'),
        url('../fonts/TTNorms-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-HeavyItalic.woff') format('woff'),
        url('../fonts/TTNorms-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms ExtraBold';
    font-display: swap;
    src: url('../fonts/TTNorms-ExtraBold.eot');
    src: local('TT Norms ExtraBold'), local('TTNorms-ExtraBold'),
        url('../fonts/TTNorms-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-ExtraBold.woff') format('woff'),
        url('../fonts/TTNorms-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'PT Mono';
    font-display: swap;
    src: local('PT Mono'), local('PTMono-Regular'), url('../fonts/ptmono.woff2') format('woff2'), url('../fonts/ptmono.woff') format('woff'), url('../fonts/ptmono.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PT Mono Bold';
    font-display: swap;
    src: local('PT Mono Bold'), local('PTMono-Bold'), url('../fonts/ptmonobold.woff2') format('woff2'), url('../fonts/ptmonobold.woff') format('woff'), url('../fonts/ptmonobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons Thin Italic';
    src: url('../fonts/TTCommons-ThinItalic.eot');
    src: local('TT Commons Thin Italic'), local('TTCommons-ThinItalic'),
    url('../fonts/TTCommons-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTCommons-ThinItalic.woff') format('woff'),
    url('../fonts/TTCommons-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons Light';
    src: url('../fonts/TTCommons-Light.eot');
    src: local('TT Commons Light'), local('TTCommons-Light'),
    url('../fonts/TTCommons-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTCommons-Light.woff') format('woff'),
    url('../fonts/TTCommons-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons Black';
    src: url('../fonts/TTCommons-Black.eot');
    src: local('TT Commons Black'), local('TTCommons-Black'),
    url('../fonts/TTCommons-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTCommons-Black.woff') format('woff'),
    url('../fonts/TTCommons-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons Medium';
    src: url('../fonts/TTCommons-Medium.eot');
    src: local('TT Commons Medium'), local('TTCommons-Medium'),
    url('../fonts/TTCommons-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTCommons-Medium.woff') format('woff'),
    url('../fonts/TTCommons-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons Italic';
    src: url('../fonts/TTCommons-Italic.eot');
    src: local('TT Commons Italic'), local('TTCommons-Italic'),
    url('../fonts/TTCommons-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTCommons-Italic.woff') format('woff'),
    url('../fonts/TTCommons-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-Regular.eot');
    src: local('TT Commons Regular'), local('TTCommons-Regular'),
    url('../fonts/TTCommons-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTCommons-Regular.woff') format('woff'),
    url('../fonts/TTCommons-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons BlackItalic';
    src: url('../fonts/TTCommons-BlackItalic.eot');
    src: local('TT Commons Black Italic'), local('TTCommons-BlackItalic'),
    url('../fonts/TTCommons-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTCommons-BlackItalic.woff') format('woff'),
    url('../fonts/TTCommons-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons ExtraBold';
    src: url('../fonts/TTCommons-ExtraBold.eot');
    src: local('TT Commons ExtraBold'), local('TTCommons-ExtraBold'),
    url('../fonts/TTCommons-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTCommons-ExtraBold.woff') format('woff'),
    url('../fonts/TTCommons-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons Bold Italic';
    src: url('../fonts/TTCommons-BoldItalic.eot');
    src: local('TT Commons Bold Italic'), local('TTCommons-BoldItalic'),
    url('../fonts/TTCommons-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTCommons-BoldItalic.woff') format('woff'),
    url('../fonts/TTCommons-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons DemiBold Italic';
    src: url('../fonts/TTCommons-DemiBoldItalic.eot');
    src: local('TT Commons DemiBold Italic'), local('TTCommons-DemiBoldItalic'),
    url('../fonts/TTCommons-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTCommons-DemiBoldItalic.woff') format('woff'),
    url('../fonts/TTCommons-DemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons Bold';
    src: url('../fonts/TTCommons-Bold.eot');
    src: local('TT Commons Bold'), local('TTCommons-Bold'),
    url('../fonts/TTCommons-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTCommons-Bold.woff') format('woff'),
    url('../fonts/TTCommons-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons ExtraLight';
    src: url('../fonts/TTCommons-ExtraLight.eot');
    src: local('TT Commons ExtraLight'), local('TTCommons-ExtraLight'),
    url('../fonts/TTCommons-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTCommons-ExtraLight.woff') format('woff'),
    url('../fonts/TTCommons-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons DemiBold';
    src: url('../fonts/TTCommons-DemiBold.eot');
    src: local('TT Commons DemiBold'), local('TTCommons-DemiBold'),
    url('../fonts/TTCommons-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTCommons-DemiBold.woff') format('woff'),
    url('../fonts/TTCommons-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons ExtraLight Italic';
    src: url('../fonts/TTCommons-ExtraLightItalic.eot');
    src: local('TT Commons ExtraLight Italic'), local('TTCommons-ExtraLightItalic'),
    url('../fonts/TTCommons-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTCommons-ExtraLightItalic.woff') format('woff'),
    url('../fonts/TTCommons-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons ExtraBold Italic';
    src: url('../fonts/TTCommons-ExtraBoldItalic.eot');
    src: local('TT Commons ExtraBold Italic'), local('TTCommons-ExtraBoldItalic'),
    url('../fonts/TTCommons-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTCommons-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/TTCommons-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons Medium Italic';
    src: url('../fonts/TTCommons-MediumItalic.eot');
    src: local('TT Commons Medium Italic'), local('TTCommons-MediumItalic'),
    url('../fonts/TTCommons-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTCommons-MediumItalic.woff') format('woff'),
    url('../fonts/TTCommons-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons Light Italic';
    src: url('../fonts/TTCommons-LightItalic.eot');
    src: local('TT Commons Light Italic'), local('TTCommons-LightItalic'),
    url('../fonts/TTCommons-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTCommons-LightItalic.woff') format('woff'),
    url('../fonts/TTCommons-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons Thin';
    src: url('../fonts/TTCommons-Thin.eot');
    src: local('TT Commons Thin'), local('TTCommons-Thin'),
    url('../fonts/TTCommons-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTCommons-Thin.woff') format('woff'),
    url('../fonts/TTCommons-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
