.page-owners-premises {
  .section-case {
    .case {
      .col:first-child > .row:first-child .type {
        font-family: "PT Mono Bold", sans-serif;
        font-size: 50px;
        color: #054673;
        margin-right: 30px;
      }

      .col:first-child {
        p {
          font-family: "TT Commons", sans-serif;
          font-size: 18px;
        }

        .dates {
          margin-bottom: 20px;
        }

        .price {
          font-family: "PT Mono Bold", sans-serif;
          font-size: 74px;
          margin-bottom: 20px;

          &:after {
            content: "посетителях";
            font-family: "PT Mono Bold", sans-serif;
            font-size: 24px;
            color: #05528f;
            margin-left: 25px;
          }
        }

        .percent {
          font-family: "PT Mono Bold", sans-serif;
          font-size: 74px;
          width: 200px;

          & + p {
            line-height: 1.2;
            margin-top: -10px;
          }
        }

        .text + .text {
          margin-top: 80px;
        }

        .text + .row {
          margin-top: 30px;
        }

        .row + .row {
          margin-top: 50px;
        }
      }
    }

    &:last-child {
      .case {
        position: relative;
        padding-top: 130px;

        .col:first-child > .row:first-child {
          position: absolute;
          top: 0;
          left: 60px;
        }
      }

      .price {
        &:after {
          content: "человека" !important;
        }
      }
    }
  }
}