@charset "UTF-8";
.page-owners-premises .section-case .case .col:first-child > .row:first-child .type {
  font-family: "PT Mono Bold", sans-serif;
  font-size: 50px;
  color: #054673;
  margin-right: 30px;
}
.page-owners-premises .section-case .case .col:first-child p {
  font-family: "TT Commons", sans-serif;
  font-size: 18px;
}
.page-owners-premises .section-case .case .col:first-child .dates {
  margin-bottom: 20px;
}
.page-owners-premises .section-case .case .col:first-child .price {
  font-family: "PT Mono Bold", sans-serif;
  font-size: 74px;
  margin-bottom: 20px;
}
.page-owners-premises .section-case .case .col:first-child .price:after {
  content: "посетителях";
  font-family: "PT Mono Bold", sans-serif;
  font-size: 24px;
  color: #05528f;
  margin-left: 25px;
}
.page-owners-premises .section-case .case .col:first-child .percent {
  font-family: "PT Mono Bold", sans-serif;
  font-size: 74px;
  width: 200px;
}
.page-owners-premises .section-case .case .col:first-child .percent + p {
  line-height: 1.2;
  margin-top: -10px;
}
.page-owners-premises .section-case .case .col:first-child .text + .text {
  margin-top: 80px;
}
.page-owners-premises .section-case .case .col:first-child .text + .row {
  margin-top: 30px;
}
.page-owners-premises .section-case .case .col:first-child .row + .row {
  margin-top: 50px;
}
.page-owners-premises .section-case:last-child .case {
  position: relative;
  padding-top: 130px;
}
.page-owners-premises .section-case:last-child .case .col:first-child > .row:first-child {
  position: absolute;
  top: 0;
  left: 60px;
}
.page-owners-premises .section-case:last-child .price:after {
  content: "человека" !important;
}

/*# sourceMappingURL=owners-of-premises.css.map */
