@import "./variables";

.page-owner {
  header {
    padding-top: 250px;
    flex-wrap: wrap;
    max-height: initial;
    height: initial;

    #scene_1 {
      .first {
        top: -10% !important;
      }

      .second {
        top: 23% !important;
      }
    }
  }

  &__we-do {
    margin: 0 auto 80px;

    li {
      display: flex;
      align-items: center;
      font-family: "PT Mono Bold", sans-serif;
      font-size: 28px;
      opacity: 0;
      transition: opacity .3s;

      & + li {
        margin-top: 15px;
      }

      &:before {
        content: "";
        display: block;
        width: 0;
        height: 7px;
        background-color: $main-color;
        margin-right: 28px;
        vertical-align: middle;
        transition: width .3s;
      }

      &.go {
        opacity: 1;
      }

      &.go:before {
        width: 46px;
      }
    }
  }

  &__block1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #89a4bc;

    &-left {
      flex: 1;
      background: url(../img/1970.png) center 310px / contain no-repeat;
      margin-right: 50px;

      img {
        position: relative;
        width: 100%;
        bottom: -4px
      }

      #scene-owner {
        height: 500px;

        .first {
          top: initial !important;
          bottom: -25%;
        }

        .second {
          top: initial !important;
          bottom: 0px;
        }

        .three {
          left: -12% !important;
          top: -92% !important;

          img {
            width: 1200px;
          }
        }

        .four {
          left: -15% !important;
          top: -95% !important;

          img {
            width: 1600px;
          }
        }
      }
    }

    &-right {
      padding-top: 170px;
      width: 260px;
      font-size: 14px;
      color: #010101;
      line-height: 1.3;
    }
  }

  .advantages {
    flex-direction: row;
    flex-wrap: wrap;

    padding: 70px 0;
    background: url(../img/blur.svg) center top / contain no-repeat;

    .advantage {
      display: flex;
      align-items: center;
      width: 50%;
      padding: 40px 20px;
      box-sizing: border-box;

      &__caption {
        font-family: "PT Mono Bold", sans-serif;
        font-size: 32px;
        width: 100%;
        margin-bottom: 10px;
      }

      &__description {
        font-size: 14px;
        line-height: 1.2;
        width: 100%;
      }

      &:before {
        content: "";
        display: block;
        width: 100px;
        height: 100px;
        margin-right: 20px;
      }

      &:nth-child(1):before {
        background: url(../img/result.png) center / contain no-repeat;
      }

      &:nth-child(2):before {
        background: url(../img/data.png) center / contain no-repeat;
      }

      &:nth-child(3):before {
        background: url(../img/development.png) center / contain no-repeat;
      }

      &:nth-child(4):before {
        background: url(../img/opacity.png) center / contain no-repeat;
      }
    }
  }
}