.page-owner header {
  padding-top: 250px;
  flex-wrap: wrap;
  max-height: initial;
  height: initial;
}
.page-owner header #scene_1 .first {
  top: -10% !important;
}
.page-owner header #scene_1 .second {
  top: 23% !important;
}
.page-owner__we-do {
  margin: 0 auto 80px;
}
.page-owner__we-do li {
  display: flex;
  align-items: center;
  font-family: "PT Mono Bold", sans-serif;
  font-size: 28px;
  opacity: 0;
  transition: opacity 0.3s;
}
.page-owner__we-do li + li {
  margin-top: 15px;
}
.page-owner__we-do li:before {
  content: "";
  display: block;
  width: 0;
  height: 7px;
  background-color: #00e5a6;
  margin-right: 28px;
  vertical-align: middle;
  transition: width 0.3s;
}
.page-owner__we-do li.go {
  opacity: 1;
}
.page-owner__we-do li.go:before {
  width: 46px;
}
.page-owner__block1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #89a4bc;
}
.page-owner__block1-left {
  flex: 1;
  background: url(../img/1970.png) center 310px/contain no-repeat;
  margin-right: 50px;
}
.page-owner__block1-left img {
  position: relative;
  width: 100%;
  bottom: -4px;
}
.page-owner__block1-left #scene-owner {
  height: 500px;
}
.page-owner__block1-left #scene-owner .first {
  top: initial !important;
  bottom: -25%;
}
.page-owner__block1-left #scene-owner .second {
  top: initial !important;
  bottom: 0px;
}
.page-owner__block1-left #scene-owner .three {
  left: -12% !important;
  top: -92% !important;
}
.page-owner__block1-left #scene-owner .three img {
  width: 1200px;
}
.page-owner__block1-left #scene-owner .four {
  left: -15% !important;
  top: -95% !important;
}
.page-owner__block1-left #scene-owner .four img {
  width: 1600px;
}
.page-owner__block1-right {
  padding-top: 170px;
  width: 260px;
  font-size: 14px;
  color: #010101;
  line-height: 1.3;
}
.page-owner .advantages {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 70px 0;
  background: url(../img/blur.svg) center top/contain no-repeat;
}
.page-owner .advantages .advantage {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 40px 20px;
  box-sizing: border-box;
}
.page-owner .advantages .advantage__caption {
  font-family: "PT Mono Bold", sans-serif;
  font-size: 32px;
  width: 100%;
  margin-bottom: 10px;
}
.page-owner .advantages .advantage__description {
  font-size: 14px;
  line-height: 1.2;
  width: 100%;
}
.page-owner .advantages .advantage:before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
.page-owner .advantages .advantage:nth-child(1):before {
  background: url(../img/result.png) center/contain no-repeat;
}
.page-owner .advantages .advantage:nth-child(2):before {
  background: url(../img/data.png) center/contain no-repeat;
}
.page-owner .advantages .advantage:nth-child(3):before {
  background: url(../img/development.png) center/contain no-repeat;
}
.page-owner .advantages .advantage:nth-child(4):before {
  background: url(../img/opacity.png) center/contain no-repeat;
}
.page-owner .how-it-work .line {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 1055px;
}
.page-owner .how-it-work .step_1 {
  left: -4vw;
  top: 10%;
}
.page-owner .how-it-work .step_2 {
  left: 8vw;
  top: 55%;
}
.page-owner .how-it-work .step_3 {
  left: 18vw;
  top: 13%;
}
.page-owner .how-it-work .step_4 {
  left: 34vw;
  top: 45%;
}
.page-owner .how-it-work button {
  left: calc(50% - 157px);
}

/*# sourceMappingURL=owner.css.map */
