.page-reviews .reviews-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1248px;
}
.page-reviews .reviews-container .reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.page-reviews .reviews-container .reviews .review {
  position: relative;
  width: 482px;
  height: 282px;
  background: #ffffff;
  cursor: pointer;
}
.page-reviews .reviews-container .reviews .review:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #054673;
  opacity: 0.5;
}
.page-reviews .reviews-container .reviews .review:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 48px;
  height: 35px;
  background: url(../img/play.png) center/contain no-repeat;
}
.page-reviews .reviews-container .reviews .review-small:before {
  content: none;
}
.page-reviews .reviews-container .reviews .review-small:after {
  content: none;
}
.page-reviews .reviews-container .reviews .review-small .review-hover {
  background: #ffffff;
}
.page-reviews .reviews-container .reviews .review-small .review-hover-text1 {
  color: #010101;
}
.page-reviews .reviews-container .reviews .review-small .review-hover .btn-transparent {
  color: #055790;
  border-color: #055790;
}
.page-reviews .reviews-container .reviews .review-small .review-hover-text2 {
  color: #7d7d7d;
}
.page-reviews .reviews-container .reviews .review iframe {
  border: none;
}
.page-reviews .reviews-container .reviews .review:nth-child(n+3) {
  margin-top: 1px;
}
.page-reviews .reviews-container .reviews .review:last-child, .page-reviews .reviews-container .reviews .review:nth-child(even) {
  margin-left: 1px;
}
.page-reviews .reviews-container .reviews .review:hover {
  -webkit-box-shadow: 0px 0px 32px -10px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 0px 0px 32px -10px rgba(0, 0, 0, 0.62);
  box-shadow: 0px 0px 32px -10px rgba(0, 0, 0, 0.62);
}
.page-reviews .reviews-container .reviews .review:hover:before {
  content: none;
}
.page-reviews .reviews-container .reviews .review:hover:after {
  content: none;
}
.page-reviews .reviews-container .reviews .review:hover .review-hover {
  z-index: 2;
  opacity: 1;
}
.page-reviews .reviews-container .reviews .review-hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  background: url(../img/review-hover.png) center/cover no-repeat;
  background-size: 125%;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s;
}
.page-reviews .reviews-container .reviews .review-hover:hover {
  z-index: 2;
  opacity: 1;
}
.page-reviews .reviews-container .reviews .review-hover-text1 {
  font-family: "TT Norms Medium", sans-serif;
  color: #ffffff;
  font-size: 18px;
}
.page-reviews .reviews-container .reviews .review-hover .btn-transparent {
  margin: 20px 0;
  height: 32px;
  width: 140px;
  padding: 0;
  color: #ffffff;
  border-color: #ffffff;
}
.page-reviews .reviews-container .reviews .review-hover .btn-transparent:hover {
  color: #35e5f5;
  border-color: #35e5f5;
}
.page-reviews .reviews-container .reviews .review-hover-text2 {
  font-family: "TT Norms", sans-serif;
  color: #ffffff;
  font-size: 12px;
}

.modal.dialog-review .review-company {
  align-items: center;
  justify-content: flex-start;
  width: initial;
  margin-bottom: 38px;
}
.modal.dialog-review .review-company .company-photo {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background: url(../img/photo_skoda.png) center/cover no-repeat;
  margin-right: 20px;
}
.modal.dialog-review .review-company .company-about__fio {
  font-family: "TT Norms Medium", sans-serif;
  font-size: 18px;
  color: #010101;
  margin-bottom: 5px;
}
.modal.dialog-review .review-company .company-about__position {
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
  color: #7d7d7d;
  line-height: 1.2;
}
.modal.dialog-review .separator {
  width: 280px;
  height: 2px;
  margin-left: 30px;
  background: #054673;
  margin-bottom: 30px;
}
.modal.dialog-review .review-text {
  display: block;
  margin-left: 30px;
  font-family: "TT Norms", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 1.3;
  width: calc(100% - 30px);
  margin-bottom: 45px;
}

.ui-dialog .ui-dialog-titlebar-close {
  width: 14px !important;
  height: 14px !important;
  margin: 0;
  top: 0;
}

.ui-dialog-titlebar-close .ui-icon {
  width: 14px;
  height: 14px;
  right: 0;
  top: 0;
  left: initial;
  margin-top: 0;
  filter: grayscale(1);
  opacity: 1;
}
.ui-dialog-titlebar-close .ui-icon:hover {
  filter: none;
}

.ui-dialog .ui-dialog-title {
  margin: 0;
}

.ui-dialog .ui-dialog-titlebar {
  padding: 0;
}

.ui-dialog .ui-dialog-titlebar-close {
  right: 0;
}

@media (max-width: 640px) {
  .page-reviews .reviews-container .reviews .review-hover {
    background-size: 180%;
    z-index: 2;
    opacity: 1;
    background: none;
    padding-top: 0;
    padding-bottom: 20px;
    bottom: 0;
    width: 100%;
    justify-content: flex-end;
  }

  .page-reviews .reviews-container .reviews .review:not(.review-small) .review-hover-text1 {
    margin-bottom: 10px;
  }

  .page-reviews .reviews-container .reviews .review:not(.review-small) .review-hover .btn-transparent {
    display: none;
  }

  .page-reviews .reviews-container .reviews .review-small .review-hover .btn-transparent {
    margin: 10px 0;
  }

  .page-reviews .reviews-container .reviews .review-small .review-hover {
    background: none;
  }

  .page-reviews .reviews-container .reviews .review {
    width: 100%;
    margin-top: 1px;
    display: flex;
  }

  .review:nth-child(7) {
    display: none !important;
  }

  .review:nth-child(6) {
    background: #ffffff url(/site/templates/img/preview-review-3.png) center -105% no-repeat !important;
  }

  .review:nth-child(even) {
    margin-left: 0 !important;
  }

  .review-small {
    width: 100%;
  }

  .modal.dialog-review .review-company {
    justify-content: center;
  }

  .modal.dialog-review .review-company .company-photo {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .modal.dialog-review .review-company .company-about {
    text-align: center;
  }

  .modal.dialog-review .review-company {
    margin-bottom: 20px;
  }

  .modal.dialog-review .separator {
    margin-left: 0;
    width: 100%;
    margin-bottom: 20px;
  }

  .modal.dialog-review .review-text {
    margin-left: 0;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
  }
}

/*# sourceMappingURL=reviews.5.css.map */
