*, *:before, *:after {
  padding: 0;
}

html {
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
  color: #054673;
  word-spacing: 1px;
  box-sizing: border-box;
  line-height: 1;
  overflow: auto;
}
html body {
  overflow-x: hidden;
  background-color: #f5f5f9;
  min-height: 100vh;
  padding-top: 80px;
  min-width: 1280px;
}
html body h4 {
  font-family: "PT Mono Bold", sans-serif;
  font-size: 32px;
}
html body h2 {
  font-family: "PT Mono Bold", sans-serif;
  font-size: 36px;
  line-height: 1.2;
}
html body p {
  font-family: "TT Norms", sans-serif;
  font-size: 14px;
  color: #010101;
  line-height: 1.3;
}
html body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
html body button {
  cursor: pointer;
  outline: none;
  border: none;
}
html body a {
  text-decoration: none;
  cursor: pointer;
}
html body .blockquote {
  font-family: "PT Mono", sans-serif;
  font-size: 14px;
  text-align: right;
  line-height: 1.3;
  padding-right: 20px;
  border-right: 1px solid #35e6f6;
  color: #000000;
}
html body .disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed !important;
}
html body .btn-primary {
  font-family: "TT Norms Medium", sans-serif;
  background-color: #054673;
  color: #ffffff;
  padding: 16px 30px;
  font-size: 18px;
  border-radius: 100px;
  line-height: 1;
}
html body .btn-primary:hover {
  background-color: #35e6f6;
  color: #010101;
}
html body, html p, html h1, html h2, html h3, html h4, html h5, html h6 {
  margin: 0;
}

.main-nav-wrapper {
  position: fixed;
  z-index: 10000;
}
.main-nav-wrapper.menu {
  transform: translate3d(-100vw, 0, 0);
}
.main-nav-wrapper.contacts {
  transform: translate3d(100vw, 0, 0);
}
.main-nav-wrapper.curtain {
  position: fixed;
  -webkit-transition: all 1000ms cubic-bezier(0.68, 0.25, 0.265, 1);
  -moz-transition: all 1000ms cubic-bezier(0.68, 0.25, 0.265, 1);
  -o-transition: all 1000ms cubic-bezier(0.68, 0.25, 0.265, 1);
  transition: all 1000ms cubic-bezier(0.68, 0.25, 0.265, 1);
}
.main-nav-wrapper.active {
  transform: scale(1) !important;
  -webkit-transition: all 1000ms cubic-bezier(0.68, -0.25, 0.265, 1);
  -moz-transition: all 1000ms cubic-bezier(0.68, -0.25, 0.265, 1);
  -o-transition: all 1000ms cubic-bezier(0.68, -0.25, 0.265, 1);
  transition: all 1000ms cubic-bezier(0.68, -0.25, 0.265, 1);
  opacity: 0.98;
  z-index: 9999;
}
.main-nav-wrapper .background {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #12425e;
  z-index: 1000;
  overflow: hidden;
}
.main-nav-wrapper .background .logo {
  position: fixed;
  top: 8%;
  left: 10%;
  width: 190px;
  cursor: pointer;
  z-index: 2;
}
.main-nav-wrapper .background .nav-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-nav-wrapper .background .nav-wrapper nav {
  display: flex;
  flex-direction: column;
  height: 90%;
  cursor: default;
}
.main-nav-wrapper .background .nav-wrapper nav a {
  font-family: "PT Mono", sans-serif;
  font-size: 34px;
  color: #fff;
  line-height: normal;
  text-decoration: none;
}
.main-nav-wrapper .background .nav-wrapper nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-bottom: 5vh;
}
.main-nav-wrapper .background .nav-wrapper nav ul li {
  position: relative;
  display: none;
  padding: 1.2vw 0;
  opacity: 0;
}
.main-nav-wrapper .background .nav-wrapper nav ul li.animated {
  display: block;
}
.main-nav-wrapper .background .nav-wrapper nav ul li .nav-item:hover .strikethrough {
  width: calc(100% + 10px);
}
.main-nav-wrapper .background .nav-wrapper nav ul li:hover .strikethrough {
  width: calc(100% + 10px);
}
.main-nav-wrapper .background .nav-wrapper nav ul li .text-wrapper:hover .strikethrough {
  width: calc(100% + 10px);
}
.main-nav-wrapper .background .contacts-close,
.main-nav-wrapper .background .menu-close {
  opacity: 0;
  transition: opacity 1s;
}
.main-nav-wrapper.active .contacts-close,
.main-nav-wrapper.active .menu-close {
  opacity: 1;
}

.contacts-close,
.menu-close {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 100px;
  margin: auto 0;
  height: 150px;
}
.contacts-close img,
.menu-close img {
  width: 52px;
  margin-bottom: 40px;
  cursor: pointer;
  opacity: 0.5;
}
.contacts-close img:hover,
.menu-close img:hover {
  opacity: 1;
}
.contacts-close__text,
.menu-close__text {
  font-family: "PT Mono", sans-serif;
  font-size: 24px;
  color: #ffffff;
  transform: rotate(-90deg);
}

.contacts-close {
  height: 200px;
}
.contacts-close img {
  margin-bottom: 60px;
}

.page {
  position: relative;
  min-height: calc(100vh - 204px);
  height: 100%;
}
.page .outside-box {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  height: calc(100% - 120px);
  z-index: 9999;
  font-family: "PT Mono", sans-serif;
  font-size: 24px;
}
.page .outside-box.main-menu {
  left: -140px;
}
.page .outside-box.main-menu .menu-item {
  padding-left: 150px;
}
.page .outside-box.main-menu .line {
  position: fixed;
  display: inline-block;
  height: 36%;
  width: 1px;
  background-color: #35e6f6;
  transition: height 0.3s;
}
.page .outside-box.main-menu .line:first-child {
  top: 60px;
  left: 71px;
}
.page .outside-box.main-menu .line:last-child {
  bottom: 60px;
  left: 71px;
}
.page .outside-box.main-menu:hover .line {
  height: 0 !important;
}
.page .outside-box.contacts {
  right: -140px;
}
.page .outside-box.contacts .menu-item {
  padding-right: 150px;
}
.page .outside-box.contacts .line {
  position: fixed;
  display: inline-block;
  height: 36%;
  width: 1px;
  background-color: #35e6f6;
  transition: height 0.3s;
}
.page .outside-box.contacts .line:first-child {
  top: 60px;
  right: 71px;
}
.page .outside-box.contacts .line:last-child {
  bottom: 60px;
  right: 71px;
}
.page .outside-box.contacts:hover .line {
  height: 0 !important;
}
.page .outside-box .menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  transform: rotate(-45deg);
}
.page .outside-box .menu-item .text {
  transform: rotate(-90deg);
  margin-top: auto;
  margin-bottom: auto;
}
.page.page-main .section-first .desktop-to-whom {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@-webkit-keyframes myAnimation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 30px);
  }
}
@keyframes myAnimation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 30px);
  }
}
@-webkit-keyframes myAnimation2 {
  0% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes myAnimation2 {
  0% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes myAnimation3 {
  0% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, 70px);
  }
}
@keyframes myAnimation3 {
  0% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, 70px);
  }
}
.page.page-main .section-first .desktop-to-whom .block {
  width: 314px;
  -moz-transform: translateY(3%);
  -webkit-transform: translateY(3%);
  transform: translateY(3%);
  -moz-animation: myAnimation 4s linear infinite alternate;
  -webkit-animation: myAnimation 4s linear infinite alternate;
  animation: myAnimation 4s linear infinite alternate;
}
.page.page-main .section-first .desktop-to-whom .block__img {
  text-align: center;
  margin-bottom: 25px;
}
.page.page-main .section-first .desktop-to-whom .block__text {
  border-left: 1px solid #899fac;
  padding-left: 20px;
}
.page.page-main .section-first .desktop-to-whom .block__text-caption {
  margin-bottom: 10px;
  color: #12425e !important;
}
.page.page-main .section-first .desktop-to-whom .block:first-child .block__img {
  margin-bottom: -40px;
}
.page.page-main .section-first .desktop-to-whom .block:last-child {
  -moz-animation: myAnimation3 5s linear infinite alternate;
  -webkit-animation: myAnimation3 5s linear infinite alternate;
  animation: myAnimation3 5s linear infinite alternate;
}
.page.page-main .section-first .desktop-to-whom .block:hover .strikethrough {
  width: calc(100% + 10px);
}
.page.page-main .section-first .desktop-to-whom .block:active, .page.page-main .section-first .desktop-to-whom .block:visited {
  color: #12425e;
}
.page.page-main .section-first .desktop-to-whom .block-center {
  margin-top: 13%;
  -moz-animation: myAnimation2 4s linear infinite alternate;
  -webkit-animation: myAnimation2 4s linear infinite alternate;
  animation: myAnimation2 4s linear infinite alternate;
}

#scene_7,
#scene_6,
#scene_5,
#scene_4,
#scene_2,
#scene_1,
#scene-menu,
#scene-contacts {
  left: -30%;
}
#scene_7 .second,
#scene_6 .second,
#scene_5 .second,
#scene_4 .second,
#scene_2 .second,
#scene_1 .second,
#scene-menu .second,
#scene-contacts .second {
  top: 50% !important;
}

#scene_7,
#scene_6,
#scene_5,
#scene_2 {
  top: 0;
}
#scene_7 .second,
#scene_6 .second,
#scene_5 .second,
#scene_2 .second {
  top: 50% !important;
}

#scene_6 {
  left: 10%;
}

#scene_3 {
  top: 0;
  left: 20%;
}
#scene_3 .first {
  top: 5% !important;
}
#scene_3 .second {
  top: 50% !important;
}

#scene_4 .first {
  top: 15% !important;
}

#scene-contacts,
#scene-menu,
#scene_1,
#scene_2,
#scene_3,
#scene_4, #scene_5, #scene_6, #scene_7 {
  position: absolute !important;
  height: 100%;
  font-family: "PT Mono Bold", sans-serif;
  font-size: 460px;
  color: #ffffff;
  max-width: 1920px;
  white-space: nowrap;
  z-index: -1;
}

#scene-contacts,
#scene-menu {
  color: #25516b;
  opacity: 0.2;
  width: 130%;
  height: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  height: 100vh;
  min-height: 900px;
  max-height: 1020px;
  padding: 80px 0 50px 0;
}

.section-first {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  max-width: 1280px;
  height: calc(100vh - 80px);
  min-height: 900px;
  max-height: 1020px;
  box-sizing: border-box;
}
.section-first h1 {
  font-family: "PT Mono Bold", sans-serif;
  font-size: 40px;
}
.section-first > .blockquote {
  position: absolute;
  top: 60px;
  right: 0;
  color: #054673 !important;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.triangle {
  width: 270px;
  height: 270px;
  position: relative;
  -webkit-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  z-index: 800;
  cursor: pointer;
}
.triangle:hover {
  transform: rotate(45deg) scale(1.02);
  background: #fff;
  box-shadow: 24px 3px 42px -12px rgba(0, 0, 0, 0.45);
}

.contacts .triangle:hover {
  box-shadow: 3px 24px 42px -12px rgba(0, 0, 0, 0.45);
}

.effective-analysis {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.effective-analysis .business-opportunities__actions, .effective-analysis__actions {
  margin-left: 368px;
  margin-top: -70px;
}
.effective-analysis .business-opportunities__actions button, .effective-analysis__actions button {
  float: left;
}
.effective-analysis .business-opportunities__actions .btn-primary, .effective-analysis__actions .btn-primary {
  position: relative;
  overflow: hidden;
}
.effective-analysis .business-opportunities__actions .btn-primary:before, .effective-analysis__actions .btn-primary:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5em;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translateX(0) skewX(-45deg);
  animation: move-light 5s infinite linear;
}
@keyframes move-light {
  0% {
    transform: translateX(-4em) skewX(-45deg);
  }
  30% {
    transform: translateX(20em) skewX(-45deg);
  }
  100% {
    transform: translateX(20em) skewX(-45deg);
  }
}
.effective-analysis .business-opportunities__actions .btn-transparent, .effective-analysis__actions .btn-transparent {
  display: flex;
  align-items: center;
  margin-left: 30px;
  padding: 10px 20px;
}
.effective-analysis .business-opportunities__actions .btn-transparent img, .effective-analysis__actions .btn-transparent img {
  margin-left: 20px;
}
.effective-analysis .row {
  align-items: flex-start;
}
.effective-analysis .row h1 {
  padding-top: 160px;
  margin-left: -20px;
  line-height: 1.1;
}
.effective-analysis .row p {
  font-size: 24px;
  text-align: center;
  margin: 80px 0;
  width: 100%;
  max-width: 910px;
  line-height: 1.2;
}
.effective-analysis .row .blockquote {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: left;
  border-right: none;
  border-left: 1px solid #35e6f6;
  padding-right: 0;
  padding-left: 20px;
  font-family: "TT Norms Medium", sans-serif;
  font-size: 20px;
  line-height: 1.2;
}
.effective-analysis .row:last-child {
  justify-content: space-evenly;
  margin-top: 125px;
}

.arrow-continue {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  margin: 0 auto;
  cursor: pointer;
  width: 29px;
}

.communicate > .container {
  margin-bottom: 80px;
}
.communicate .row h2 {
  text-align: center;
  margin-bottom: 15px;
}
.communicate .row p {
  font-size: 18px;
  margin-bottom: 70px;
}
.communicate .text-wrapper {
  width: 100%;
}
.communicate .text-wrapper > * {
  font-family: "PT Mono Bold", sans-serif;
  text-align: center;
}
.communicate .text-wrapper .text1 {
  margin-bottom: 20px;
}
.communicate .text-wrapper .text1, .communicate .text-wrapper .text2 {
  font-size: 28px;
  letter-spacing: 1px;
  color: #054673;
}
.communicate .text-wrapper #unique-macs {
  font-size: 160px;
  line-height: 0.8;
}

.map {
  padding-top: 60px;
  height: 100%;
  width: 100%;
}
.map > .row:first-child {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 70px);
  margin: 20px auto 10px;
}
.map > .row:first-child .owl-carousel-months {
  width: 100%;
}
.map > .row:first-child .owl-carousel-months .owl-stage-outer {
  overflow: hidden;
}
.map > .row:first-child .owl-carousel-months .owl-stage-outer .owl-stage {
  display: flex;
}
.map > .row:first-child .owl-nav {
  position: relative;
}
.map > .row:first-child .owl-nav button {
  background-color: transparent;
}
.map > .row:first-child .owl-nav .owl-prev {
  position: absolute;
  top: -16px;
  left: -30px;
  width: 31px;
}
.map > .row:first-child .owl-nav .owl-next {
  position: absolute;
  top: -16px;
  right: -30px;
  width: 31px;
  transform: rotate(180deg);
}
.map > .row:first-child .months .owl-item {
  cursor: pointer;
}
.map > .row:first-child .months .owl-item > div {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.map > .row:first-child .months .owl-item > div .strikethrough {
  bottom: -10px;
}
.map #city-map {
  width: 100%;
  height: 560px;
}
.map .row:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.map .row:last-child .count-month {
  position: relative;
  z-index: 2;
}
.map .row:last-child .count-month .circle {
  position: absolute;
  top: calc(50% - 105px);
  left: -35px;
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  z-index: -1;
}
.map .row:last-child .count-month .circle svg #bar {
  stroke: #35e6f6;
  stroke-dasharray: 0;
  stroke-dashoffset: 565.48px;
  transition: stroke-dashoffset 1s linear;
  stroke-width: 10px;
  opacity: 0;
}
.map .row:last-child .count-month .circle svg #bar.go {
  stroke-dasharray: 565.48px;
  stroke-dashoffset: 0;
  opacity: 1;
}
.map .row:last-child .count-month #count-month {
  font-family: "PT Mono Bold", sans-serif;
  font-size: 80px;
  line-height: 0.9;
  min-width: 200px;
  z-index: 3;
}
.map .row:last-child .count-month .hint {
  position: absolute;
  top: 65px;
  font-family: "TT Norms", sans-serif;
  font-size: 22px;
  padding-left: 5px;
  z-index: 2;
}
.map .row:last-child p {
  font-size: 20px;
  margin-left: 65px;
  flex: 1;
}

.cases:not(section) {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.cases:not(section) .case {
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.cases:not(section) .case__caption {
  font-family: "PT Mono Bold", sans-serif;
  font-size: 28px;
  margin-bottom: 5px;
}
.cases:not(section) .case:before {
  content: "";
  display: block;
  width: 71px;
  height: 71px;
  margin-right: 45px;
}
.cases:not(section) .case p {
  font-size: 20px;
}
.cases:not(section) .case > div {
  width: calc(100% - 116px);
}

.devices {
  position: relative;
  flex-direction: row;
}
.devices > * {
  width: 50%;
}
.devices__img {
  position: absolute;
  left: 53%;
  top: 27%;
}
.devices__img img {
  width: 600px;
}
.devices__text {
  width: 100%;
  max-width: 800px;
  margin-right: auto;
}
.devices__text-caption {
  line-height: 1.2;
  margin-bottom: 30px;
  font-size: 40px;
}
.devices__text-description {
  font-size: 18px;
  margin-bottom: 70px;
}
.devices__cases .case {
  width: 100%;
}
.devices__cases .case:nth-child(1):before {
  background: url(../img/scanner.svg) center/contain no-repeat;
}
.devices__cases .case:nth-child(2):before {
  background: url(../img/special-po.svg) center/contain no-repeat;
}
.devices__cases .case:nth-child(3):before {
  background: url(../img/antenna.svg) center/contain no-repeat;
}
.devices__cases .case:nth-child(4):before {
  background: url(../img/devices.png) center/contain no-repeat;
}

.data-collection {
  height: 100vh;
}
.data-collection > .row:nth-child(2) {
  border-bottom: 1px solid #35e6f6;
}
.data-collection > .row:nth-child(2) .col {
  box-sizing: border-box;
}
.data-collection > .row:nth-child(2) .col:first-child {
  width: 45%;
}
.data-collection > .row:nth-child(2) .col:last-child {
  width: 55%;
}
.data-collection > .row:nth-child(2) > .col:first-child {
  padding-right: 50px;
}
.data-collection > .row:nth-child(2) > .col:first-child .images {
  position: relative;
  height: 720px;
}
.data-collection > .row:nth-child(2) > .col:first-child .images img {
  position: absolute;
  left: 0;
  top: 0;
}
.data-collection > .row:nth-child(2) > .col:first-child .images .brand {
  top: -15%;
  left: -16%;
}
.data-collection > .row:nth-child(2) > .col:first-child .images .men {
  top: initial;
  bottom: 0;
}
.data-collection > .row:nth-child(2) > .col:first-child .images .women {
  top: initial;
  left: initial;
  bottom: 0;
  right: 0;
}
.data-collection > .row:nth-child(2) > .col:first-child h3 {
  text-align: center;
  padding: 0 20px;
}
.data-collection > .row:nth-child(2) > .col:last-child {
  padding-left: 50px;
}
.data-collection > .row:nth-child(2) > .col:last-child h2 {
  font-size: 40px;
  line-height: 1;
  margin-bottom: 30px;
}
.data-collection > .row:nth-child(2) > .col:last-child > p {
  font-family: "TT Commons", sans-serif;
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 1.2;
}
.data-collection > .row:nth-child(2) > .col:last-child > p:nth-child(4) {
  margin-top: 60px;
}
.data-collection > .row:nth-child(2) > .col:last-child .row {
  align-items: center;
}
.data-collection > .row:nth-child(2) > .col:last-child .row .col:first-child {
  width: 120px;
  height: 100px;
  background: url(../img/devices.png) no-repeat center;
}
.data-collection > .row:nth-child(2) > .col:last-child .row .col:last-child {
  flex: 1;
  max-width: 430px;
  margin-left: 20px;
}
.data-collection > .row:nth-child(2) > .col:last-child .row .col:last-child p {
  font-family: "TT Commons", sans-serif;
  font-size: 18px;
  line-height: 1.2;
}
.data-collection__actions {
  display: flex;
  align-items: center;
}
.data-collection__cases {
  margin-bottom: 50px;
}
.data-collection__cases .case {
  width: 50%;
  align-items: center !important;
  margin: 20px 0 !important;
}
.data-collection__cases .case > div {
  width: calc(100% - 58px);
}
.data-collection__cases .case__caption {
  font-family: "TT Commons Bold", sans-serif !important;
  font-size: 18px !important;
  color: #000000;
}
.data-collection__cases .case:before {
  width: 40px !important;
  height: 40px !important;
  margin-right: 18px !important;
}
.data-collection__cases .case:nth-child(1):before {
  background: url(../img/location.svg) center top/contain no-repeat;
}
.data-collection__cases .case:nth-child(2):before {
  background: url(../img/gender.svg) center top/contain no-repeat;
}
.data-collection__cases .case:nth-child(3):before {
  background: url(../img/moving.svg) center top/contain no-repeat;
}
.data-collection__cases .case:nth-child(4):before {
  background: url(../img/interests.svg) center top/contain no-repeat;
}
.data-collection__cases .case:nth-child(5):before {
  background: url(../img/os.svg) center top/contain no-repeat;
}
.data-collection__cases .case:nth-child(6):before {
  background: url(../img/duration.svg) center top/contain no-repeat;
}
.data-collection h3 {
  font-family: "PT Mono Bold", sans-serif;
  font-size: 24px;
  color: #05528f;
  line-height: 1.2;
  margin-bottom: 20px;
}
.data-collection h3 span:not(.text-wrapper) {
  font-family: "PT Mono", sans-serif;
}

.personal-area {
  background: url(../img/laptop.png) no-repeat 6% 25%;
}
.personal-area h2 {
  width: 100%;
  margin-bottom: 100px;
  line-height: 1;
  font-size: 50px;
  padding-left: 45px;
}
.personal-area .row:nth-child(2) {
  margin-bottom: 150px;
}
.personal-area .row:nth-child(3) {
  margin-bottom: 60px;
}
.personal-area .row:last-child {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.personal-area .row h3 {
  font-family: "PT Mono Bold", sans-serif;
  font-size: 36px;
  width: 100%;
  max-width: 860px;
  margin-left: auto;
  line-height: 1.2;
}
.personal-area .row p {
  font-family: "TT Norms Medium", sans-serif;
  font-size: 24px;
  width: 100%;
  max-width: 860px;
}
.personal-area .row .blockquote {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: left;
  border-right: none;
  border-left: 1px solid #35e6f6;
  font-family: "TT Norms", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  padding: 10px 0 10px 20px;
}

.how-it-work .line {
  margin: 0 auto;
  width: 100%;
  max-width: 935px;
}
.how-it-work .line-mobile {
  display: none;
}
.how-it-work .step_1 {
  left: 30px;
  top: 15%;
}
.how-it-work .step_2 {
  left: 14%;
  top: 96%;
}
.how-it-work .step_3 {
  left: 36%;
  top: -11%;
}
.how-it-work .step_4 {
  left: 50%;
  top: 101%;
}
.how-it-work .step_5 {
  right: 6%;
  top: 21%;
}
.how-it-work button {
  left: calc(50% - 157px);
}

footer {
  background-color: #054673;
  box-shadow: inset 0px 20px 70px 0px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  padding: 60px 0;
}
footer .container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
footer .container .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .container a {
  color: #ffffff;
}
footer .container a:hover, footer .container a.checked {
  text-decoration: underline;
  text-underline-position: under;
  color: #35e6f6;
}
footer .container .logo p {
  margin-top: 10px;
  font-size: 10px;
  color: #0b7cbd;
}
footer .container .device ul,
footer .container .menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "PT Mono", sans-serif;
  font-size: 16px;
}
footer .container .device ul li + li,
footer .container .menu li + li {
  margin-top: 15px;
}
footer .container .device .btn-transparent {
  border-color: #35e6f6;
  color: #ffffff;
}
footer .container .device .btn-transparent:hover {
  color: #35e6f6;
  border-color: #ffffff;
}
footer .container .contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
footer .container .contacts > *:not(:first-child) {
  margin-top: 8px;
}
footer .container .contacts svg {
  width: 24px;
  height: 24px;
}
footer .container .contacts svg path {
  fill: #35e6f6;
}
footer .container .contacts__phone {
  font-family: "PT Mono Bold", sans-serif;
  font-size: 20px;
}
footer .container .contacts__phone:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/telephone.svg) center/contain no-repeat;
  margin-right: 8px;
  vertical-align: middle;
}
footer .container .contacts__email {
  margin-bottom: auto;
}
footer .container .contacts__email:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/mail.svg) center/contain no-repeat;
  margin-right: 8px;
  vertical-align: middle;
}
footer .container .contacts__socials {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
footer .container .contacts__socials a + a {
  margin-left: 10px;
}
footer .container .contacts__socials a {
  text-decoration: none;
}
footer .container .contacts__socials a svg {
  width: 32px;
  height: 32px;
}
footer .container .contacts__socials a:hover svg path {
  fill: #ffffff;
}

.header-mobile-menu {
  width: 100%;
}
.header-mobile-menu .contacts {
  display: flex;
  flex-direction: column;
  padding-top: 40px !important;
}
.header-mobile-menu .contacts > *:not(:first-child) {
  margin-top: 10px;
}
.header-mobile-menu .contacts svg {
  width: 24px;
  height: 24px;
}
.header-mobile-menu .contacts svg path {
  fill: #35e6f6;
}
.header-mobile-menu .contacts__phone {
  font-family: "PT Mono Bold", sans-serif;
  font-size: 18px;
  color: #000000 !important;
}
.header-mobile-menu .contacts__phone:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/telephone.svg) center/contain no-repeat;
  margin-right: 8px;
  vertical-align: middle;
}
.header-mobile-menu .contacts__email {
  margin-bottom: auto;
  color: #000000 !important;
}
.header-mobile-menu .contacts__email:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/mail.svg) center/contain no-repeat;
  margin-right: 8px;
  vertical-align: middle;
}
.header-mobile-menu .contacts__socials {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.header-mobile-menu .contacts__socials a + a {
  margin-left: 10px;
}
.header-mobile-menu .contacts__socials a {
  text-decoration: none;
}
.header-mobile-menu .contacts__socials a svg {
  width: 32px;
  height: 32px;
}
.header-mobile-menu .contacts__socials a:hover svg path {
  fill: #ffffff;
}

.placemark-hint {
  position: relative;
  padding: 10px 12px;
  box-sizing: border-box;
  display: block;
  line-height: 1;
  white-space: nowrap;
  background-color: #ffffff;
  color: #054673;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  font-family: "PT Mono Bold", sans-serif;
  font-size: 30px;
  text-align: left;
}
.placemark-hint .city-name {
  font-family: "TT Norms Medium", sans-serif;
  font-size: 18px;
  color: #010101;
  margin-bottom: 8px;
}
.placemark-hint .text-gray {
  font-family: "TT Norms", sans-serif;
  font-size: 12px;
  color: #818181;
  width: 98px;
  border-top: 1px solid #35e5f5;
  padding: 5px 0;
}

.bord-hint {
  position: relative;
  padding: 1px 8px;
  box-sizing: border-box;
  display: block;
  line-height: 1;
  white-space: nowrap;
  background-color: #ffffff;
  color: #054673;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 14px;
  width: fit-content;
}
.bord-hint:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -9px;
  border: 10px solid transparent;
  border-left: 10px solid #ffffff;
}

.text-wrapper {
  position: relative;
  z-index: 2;
}

.strikethrough {
  position: absolute;
  left: -5px;
  bottom: -2px;
  height: 18px;
  width: 0;
  background-color: #35e6f6;
  transition: width 1s;
  z-index: -1;
}

.strikethrough.go {
  width: calc(100% + 10px);
}

/*#map > ymaps .ymaps-2-1-74-inner-panes .ymaps-2-1-74-places-pane .ymaps-2-1-74-image-with-content {
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}*/
@keyframes bouncing-text {
  /*0% {
    -moz-transform: translateY(3%);
    -webkit-transform: translateY(3%);
    transform: translateY(3%);
  }
  100% {
    -moz-transform: translateY(-3%);
    -webkit-transform: translateY(-3%);
    transform: translateY(-3%);
  }*/
}
.map-wrapper {
  width: 100%;
  height: 100%;
  max-height: 560px;
}

.loader-wrapper {
  position: relative;
}
.loader-wrapper:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0.7;
  z-index: 2;
  pointer-events: none;
}
.loader-wrapper.hidden:before {
  display: none;
}
.loader-wrapper .loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 3;
}
.loader-wrapper.hidden .loader {
  display: none;
}

.loader {
  width: 130px;
}

.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.4;
  display: none;
  z-index: 10000;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
  background: none;
  border: none;
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon {
  background: none;
}

.ui-front {
  z-index: 10000;
}

.ui-dialog {
  width: 100% !important;
  max-width: 682px;
  box-sizing: border-box;
}
.ui-dialog.ui-widget-content {
  background: #ffffff;
  border: none;
  border-radius: 0;
  padding: 25px 25px 0;
}
.ui-dialog .ui-dialog-content {
  padding: 10% 4% 4%;
}
.ui-dialog .ui-widget-header {
  border: none;
  background: none;
}
.ui-dialog-titlebar-close {
  width: 30px !important;
  height: 30px !important;
  border: none;
  background-color: inherit;
  padding: 0 !important;
}
.ui-dialog-titlebar-close .ui-icon {
  background: url(../img/close.svg) center/contain no-repeat !important;
  width: 30px;
  height: 30px;
  top: 28%;
  left: 28%;
  opacity: 0.7;
}
.ui-dialog-titlebar-close:hover .ui-icon {
  background: url(../img/close.svg) center/contain no-repeat !important;
  opacity: 1;
}

.modal {
  max-width: 600px;
  margin: 0 auto;
}
.modal .important {
  margin-right: auto;
}
.modal .important:before {
  content: "*";
  color: #35e6f6;
  font-family: "TT Norms Bold", sans-serif;
  font-size: 20px;
}
.modal__caption {
  text-align: center;
  margin-bottom: 10px;
}
.modal__description {
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
  text-align: center;
}
.modal__form {
  display: flex;
  flex-direction: column;
  margin: 10% 0 10%;
}
.modal__form-row label {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "TT Norms Bold", sans-serif;
  font-size: 20px;
  color: #010101;
}
.modal__form-row:not(:first-child) {
  margin-top: 25px;
}
.modal__form input[type=text], .modal__form input[type=email] {
  font-family: "TT Norms", sans-serif;
  font-size: 18px;
  width: 395px;
  border: none;
  border-bottom: 1px solid #c6cfd5;
  outline: none;
  padding: 5px;
}
.modal__hint {
  font-family: "TT Norms Light", sans-serif;
  font-size: 12px;
  color: #010101;
  text-align: center;
}
.modal__hint a {
  color: #054673;
  text-decoration: underline;
  text-underline-position: under;
}
.modal__hint a:hover {
  color: #35e6f6;
}
.modal button {
  max-width: 200px;
  margin: 12% auto 0;
}

.info {
  display: flex;
  align-items: center;
  width: 215px;
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  text-decoration: underline;
  text-underline-position: under;
  color: #054673;
}
.info:before {
  content: url(../img/info.png);
  margin-right: 15px;
}
.info:hover {
  color: #35e6f6;
}

.how-it-work #scene_2 {
  top: 0;
}
.how-it-work #scene_2 .first {
  top: 0 !important;
}
.how-it-work #scene_2 .second {
  top: 35% !important;
}
.how-it-work h2 {
  margin-bottom: 100px;
  padding-left: 50px;
  width: 100%;
  font-size: 40px;
  text-align: center;
}
.how-it-work__content {
  width: 100%;
  position: relative;
}
.how-it-work__content .imac {
  position: absolute;
  top: 70px;
  right: -19vw;
  width: 80vw;
  max-width: 596px;
  z-index: 2;
}
.how-it-work__content .step {
  display: flex;
  align-items: center;
  position: absolute;
  color: #010101;
}
.how-it-work__content .step:before {
  content: "";
  display: block;
  width: 72px;
  height: 73px;
  margin-right: 10px;
}
.how-it-work__content .step__caption {
  font-family: "TT Norms Medium", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  flex: 1;
}
.how-it-work__content .step__description {
  font-family: "TT Norms", sans-serif;
  font-size: 14px;
  line-height: 1.4;
}
.how-it-work__content .step_1:before {
  background: url(../img/install.svg) center bottom/contain no-repeat;
}
.how-it-work__content .step_2:before {
  background: url(../img/radar.svg) center bottom/contain no-repeat;
}
.how-it-work__content .step_3:before {
  background: url(../img/collect-data.svg) center bottom/contain no-repeat;
}
.how-it-work__content .step_4:before {
  background: url(../img/form-segment.svg) center bottom/contain no-repeat;
}
.how-it-work__content .step_5:before {
  background: url(../img/coins.svg) center bottom/contain no-repeat;
}
.how-it-work__content-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-left: 50px;
}

input {
  outline: none;
}

#scroll-top {
  position: fixed;
  bottom: 40px;
  left: 46px;
  cursor: pointer;
  z-index: 99999;
}

#callback {
  position: fixed;
  font-size: 0;
  bottom: 40px;
  right: 46px;
  background: #054673 url(../img/feather.svg) center/22px 22px no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 99999;
  border: 1px solid #35e6f6;
  cursor: pointer;
  animation: bounce 1s infinite ease-in-out;
}
#callback:hover {
  background-color: #ffffff;
}

@keyframes bounce {
  0% {
    bottom: 40px;
  }
  50% {
    bottom: 50px;
  }
  100% {
    bottom: 40px;
  }
}
@-webkit-keyframes bounce {
  0% {
    bottom: 40px;
  }
  50% {
    bottom: 50px;
  }
  100% {
    bottom: 40px;
  }
}
.btn-transparent {
  font-family: "TT Norms Medium", sans-serif;
  font-size: 18px;
  color: #054673;
  background-color: transparent;
  border: 2px solid #054673;
  border-radius: 100px;
  padding: 14px 35px;
  box-sizing: border-box;
  line-height: 1;
  cursor: pointer;
}
.btn-transparent:hover {
  color: #35e5f5;
  border-color: #35e5f5;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 1280px;
  height: 80px;
  font-family: "TT Norms Medium", sans-serif;
  font-size: 18px;
  color: #000000;
  background-color: #f5f5f9;
  z-index: 3;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header-logo {
  cursor: pointer;
}
.header-logo img {
  width: 189px;
}
.header-menu {
  display: flex;
}
.header-menu__item {
  padding: 10px;
  line-height: 0.8;
  cursor: pointer;
}
.header-menu__item a {
  color: #010101;
}
.header-menu__item.checked a, .header-menu__item:hover a {
  color: #35e5f5;
}
.header-phone {
  font-family: "TT Norms Bold", sans-serif;
}
.header-phone a {
  color: #000000;
  vertical-align: middle;
}
.header-phone a:before {
  content: "";
  display: block;
  float: left;
  width: 23px;
  height: 23px;
  background: url(../img/phone.svg) center/contain no-repeat;
  margin-right: 10px;
}
.header-phone a:hover {
  color: #35e5f5;
}
.header .btn-transparent {
  padding-top: 12px;
  padding-bottom: 12px;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.btn-primary + .btn-transparent {
  margin-left: 30px;
}

.business-opportunities .container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #35e6f6;
}
.business-opportunities__left {
  position: relative;
  width: 45%;
}
.business-opportunities__left .europolis {
  margin-left: -15%;
}
.business-opportunities__left .men {
  position: absolute;
  right: 5%;
  bottom: 0;
}
.business-opportunities__right {
  width: 55%;
}
.business-opportunities__right h2 {
  font-size: 40px;
  margin-bottom: 40px;
}
.business-opportunities__right p {
  font-size: 20px;
  margin-bottom: 50px;
}
.business-opportunities__actions {
  display: flex;
  align-items: center;
}

.promotion {
  padding: 60px 0;
  color: #ffffff;
  background: #521257 url(../img/promotion-bg.jpg) center/cover no-repeat;
}
.promotion.lazy {
  background: #521257 none;
}
.promotion h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
.promotion .row {
  justify-content: space-around;
  align-items: center;
}
.promotion .blockquote {
  text-align: left;
  border-right: none;
  border-left: 4px solid #35e6f6;
  font-family: "TT Norms Medium", sans-serif;
  font-size: 16px;
  color: #ffffff;
  padding-right: 0;
  padding-left: 20px;
}
.promotion .btn-primary {
  background-color: #35e6f6;
  width: 200px;
  color: #000000;
  text-align: center;
}
.promotion .btn-primary:hover {
  color: #ffffff;
  background-color: #fa415f;
}

.promo-2 {
  background: #521257 url(../img/promotion-bg-2.jpg) center/cover no-repeat;
}
.promo-2.lazy {
  background: #521257 none;
}
section.cases {
  padding-top: 130px;
}
section.cases .container h2 {
  padding-left: 83px;
  font-size: 40px;
  margin-bottom: 70px;
}
section.cases .owl-carousel-cases {
  position: relative;
  margin: 0 70px 0 83px;
  width: calc(100% - 153px);
}
section.cases .owl-carousel-cases .owl-stage-outer {
  height: 620px;
  box-sizing: border-box;
}
section.cases .owl-carousel-cases .owl-stage-outer .owl-stage {
  width: 100%;
}
section.cases .owl-carousel-cases .owl-prev {
  position: absolute;
  left: -70px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
section.cases .owl-carousel-cases .owl-next {
  position: absolute;
  right: -70px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
section.cases .owl-carousel-cases .owl-dots {
  text-align: center;
  margin-top: 50px;
}
section.cases .owl-carousel-cases .owl-dots button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #83a2b9;
}
section.cases .owl-carousel-cases .owl-dots button.active {
  border-color: #054673;
  background-color: #35e6f6;
}
section.cases .owl-carousel-cases .owl-dots button + button {
  margin-left: 32px;
}

#ymaps {
  width: 100%;
  height: 600px;
  margin-top: auto;
}

.ymaps-2-1-74-outerHint-pane *:not(.placemark-hint):not(.text-gray) {
  background-color: #ffffff !important;
  padding: 0 !important;
}

.balloon-content {
  font-family: "TT Norms", sans-serif;
  font-size: 14px;
  color: #000000;
  line-height: 1.2;
}
.balloon-content__type {
  font-family: "TT Norms Medium", sans-serif;
  margin-bottom: 8px;
}
.balloon-content .balloon-content__count-macs {
  margin-bottom: 18px;
}
.balloon-content__count-macs .value {
  font-size: 20px;
}
.balloon-content .label {
  font-family: "TT Norms Medium", sans-serif;
  color: #054673;
}
.balloon-content a {
  display: block;
  color: #000000;
}
.balloon-content .phone {
  display: flex;
  align-items: center;
}
.balloon-content .phone:before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  margin-right: 3px;
  background: url(../img/phone.svg) center/contain no-repeat;
  background-size: 80%;
}
.balloon-content .site {
  display: flex;
  align-items: center;
  color: #3984f3;
}
.balloon-content .site:before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  margin-right: 3px;
  background: url(../img/global.svg) center/contain no-repeat;
  background-size: 80%;
}
.balloon-content .left {
  float: left;
  min-width: 180px;
}
.balloon-content .right {
  margin-left: 20px;
  float: left;
}
.balloon-content .right img {
  width: 248px;
}

.balloon-width {
  width: 452px !important;
}

.burger {
  display: none;
  width: 45px;
  height: 45px;
  border: 0;
  position: relative;
  cursor: pointer;
  background: url(../img/burger-bg.jpg) center/cover no-repeat;
  border-radius: 50%;
}
.burger div {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #ffffff;
  width: 60%;
  height: 3px;
  transition: transform 0.2s ease, top 0.2s ease 0.2s, bottom 0.2s ease 0.2s, opacity 0.2s ease 0.2s;
}
.burger div:nth-child(1) {
  top: 13px;
}
.burger div:nth-child(2) {
  top: calc(50% - 2px);
}
.burger div:nth-child(3) {
  bottom: 13px;
}
.burger.active div {
  transition: transform 0.2s ease 0.2s, top 0.2s ease, bottom 0.2s ease, opacity 0.2s ease;
}
.burger.active div:nth-child(1) {
  transform: rotate(45deg);
  top: calc(50% - 2px);
}
.burger.active div:nth-child(2) {
  opacity: 0;
}
.burger.active div:nth-child(3) {
  transform: rotate(-45deg);
  bottom: calc(50% - 2px);
}

.header-mobile-menu {
  display: none;
  flex-direction: column;
  order: 1;
  font-size: 18px;
}
.header-mobile-menu .header-menu__item {
  padding: 15px;
}

@media (max-width: 640px) {
  html body {
    min-width: initial;
    padding-top: 0;
    overflow: hidden;
  }
  html body .btn-primary {
    font-size: 16px;
    padding: 14px 25px;
  }
  html body h1 {
    font-size: 28px;
    text-align: center;
  }

  .page {
    min-height: calc(100vh - 70px);
  }

  .header {
    position: fixed;
    padding: 10px 15px;
    height: 65px;
    min-width: initial;
    box-sizing: border-box;
    transition: height 0.3s;
    overflow: hidden;
    z-index: 100000;
  }
  .header .header-phone + .btn-transparent, .header-menu, .header-phone {
    display: none;
  }
  .header-logo img {
    width: 150px;
  }
  .header .burger {
    display: flex;
  }
  .header .header-menu:not(.header-mobile-menu) {
    display: none;
  }
  .header .container {
    align-items: flex-start;
    height: initial;
  }
  .header .container .header-logo {
    margin-top: 10px;
  }
  .header.open {
    height: 100vh;
  }
  .header.open .header-mobile-menu {
    display: flex;
    margin-top: 30px;
  }

  .effective-analysis .row > img {
    width: 75%;
    max-width: 478px;
    margin-bottom: 20px;
  }
  .effective-analysis .row h1 {
    padding-top: 0;
    margin-left: 0;
    font-size: 19px;
    line-height: 1.2;
    text-align: center;
  }
  .effective-analysis .row:last-child {
    align-items: center;
    margin-top: 20px;
  }
  .effective-analysis .row .blockquote {
    width: 40%;
    height: initial;
    box-sizing: border-box;
    font-size: 11px;
    padding-left: 15px;
  }
  .effective-analysis .row .blockquote:nth-child(odd) {
    width: 52%;
  }
  .effective-analysis .row .blockquote:nth-child(n+3) {
    margin-top: 10px;
  }
  .effective-analysis__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-top: 20px;
  }
  .effective-analysis__actions .btn-connect {
    margin-right: 0 !important;
    margin-bottom: 15px;
    width: 306px;
  }
  .effective-analysis__actions .btn-transparent {
    margin-left: 0;
    padding: 7px 15px;
  }

  .strikethrough {
    height: 12px;
  }

  .btn-transparent {
    font-size: 16px;
    padding: 12px 25px;
  }

  .section-first {
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 500px;
    max-height: initial;
    height: initial;
    padding-top: 70px;
  }

  .arrow-continue {
    display: none;
  }

  section {
    min-height: 500px;
    max-height: initial;
  }

  .data-collection {
    height: initial;
  }
  .data-collection .row:nth-child(2) .col:first-child {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .data-collection .row:nth-child(2) .col:first-child .images {
    height: initial;
    border-bottom: 1px solid #c8c8c8;
  }
  .data-collection .row:nth-child(2) .col:first-child .images .brand {
    position: initial;
    width: 80%;
    max-width: 625px;
  }
  .data-collection .row:nth-child(2) .col:first-child .images .women {
    width: 80%;
    max-width: 491px;
  }
  .data-collection .row:nth-child(2) .col:last-child {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .data-collection .row:nth-child(2) .col:last-child h2 {
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
  }
  .data-collection .row:nth-child(2) .col:last-child p {
    text-align: center;
    font-size: 16px;
  }
  .data-collection .row:nth-child(2) .col:last-child p:nth-child(4) {
    margin-top: 50px;
    font-size: 14px;
  }
  .data-collection__cases {
    margin-bottom: 30px;
  }
  .data-collection__cases .case:before {
    width: 30px !important;
    height: 30px !important;
    margin-right: 12px !important;
  }
  .data-collection__cases .case > div {
    width: initial;
    flex: 1;
  }
  .data-collection__cases .case__caption {
    margin-bottom: 0 !important;
    font-size: 14px !important;
  }
  .data-collection__actions {
    flex-direction: column;
  }
  .data-collection__actions .btn-connect {
    width: 232px;
    margin-bottom: 15px;
  }
  .data-collection > .row:nth-child(2) {
    border-bottom: none;
  }

  #scene-contacts, #scene-menu, #scene_1, #scene_2, #scene_3, #scene_4, #scene_5, #scene_6, #scene_7 {
    font-size: 200px;
  }

  .btn-primary + .btn-transparent {
    margin-left: 0;
  }

  .how-it-work {
    padding: 40px 15px !important;
  }
  .how-it-work h2 {
    padding-left: 0;
    font-size: 28px;
    margin-bottom: 30px;
  }
  .how-it-work .line:not(.line-mobile) {
    display: none;
  }
  .how-it-work .line-mobile {
    display: block;
    padding-top: 60px;
  }
  .how-it-work__content .step:before {
    width: 40px;
    height: 40px;
  }
  .how-it-work__content .step__caption {
    font-size: 14px;
    line-height: 1.1;
  }
  .how-it-work .step_1 {
    top: 0;
  }
  .how-it-work .step_2 {
    left: initial;
    right: 20px;
    top: 20%;
  }
  .how-it-work .step_3 {
    left: 20px;
    top: 40%;
  }
  .how-it-work .step_4 {
    left: initial;
    right: 20px;
    top: initial;
    bottom: 26%;
  }
  .how-it-work .step_5 {
    left: 20px;
    right: initial;
    top: initial;
    bottom: 8%;
  }

  .communicate {
    padding: 50px 0 0 !important;
  }
  .communicate > .container {
    padding: 0 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
  }
  .communicate .text-wrapper .text1, .communicate .text-wrapper .text2 {
    font-size: 21px;
  }
  .communicate .text-wrapper .text2 {
    margin-top: 15px;
  }
  .communicate .text-wrapper #unique-macs {
    font-size: 48px !important;
  }

  #ymaps {
    height: 400px;
  }

  .promotion {
    padding: 30px 15px;
  }
  .promotion h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .promotion .blockquote {
    border: none;
    padding: 0;
    text-align: center;
    margin-bottom: 30px;
  }
  .promotion .blockquote br {
    display: none;
  }

  .devices {
    flex-direction: column;
  }
  .devices__text {
    order: 2;
  }
  .devices__text-caption {
    font-size: 28px;
    text-align: center;
  }
  .devices__img {
    text-align: center;
    position: initial;
    width: 100%;
    order: 1;
    margin: 0 0 30px;
  }
  .devices__img img {
    width: 100%;
    max-width: 600px;
  }
  .devices__cases {
    padding: 0 15px;
    box-sizing: border-box;
  }
  .devices__cases .case {
    margin: 15px 0 !important;
    justify-content: center;
  }
  .devices__cases .case p {
    font-size: 14px !important;
    line-height: 1.2;
  }
  .devices__cases .case__caption {
    font-size: 20px !important;
  }
  .devices__cases .case__description br {
    display: none;
  }
  .devices__cases .case:before {
    margin-right: 20px !important;
    width: 50px !important;
    height: 50px !important;
  }

  section {
    height: initial;
    padding: 40px 0;
  }

  .business-opportunities {
    padding: 40px 15px !important;
  }
  .business-opportunities .container {
    flex-direction: column;
  }
  .business-opportunities__left, .business-opportunities__right {
    width: 100%;
  }
  .business-opportunities__left {
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 30px;
  }
  .business-opportunities__left .men {
    width: 60%;
    max-width: 323px;
  }
  .business-opportunities__left .europolis {
    width: 120%;
    max-width: 600px;
  }
  .business-opportunities__right h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
  }
  .business-opportunities__right p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
  }
  .business-opportunities__right p br {
    display: none;
  }
  .business-opportunities__actions {
    flex-direction: column;
  }
  .business-opportunities__actions .btn-connect {
    margin-bottom: 15px;
    width: 232px;
  }
  .business-opportunities .container {
    border-bottom: none;
  }

  section.cases {
    padding-top: 40px;
  }
  section.cases .container h2 {
    padding-left: 0;
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
  }
  section.cases .owl-carousel-cases {
    width: 100%;
    margin: 0;
  }
  section.cases .owl-carousel-cases .owl-stage-outer {
    height: initial;
  }
  section.cases .owl-carousel-cases .owl-dots {
    margin-top: 20px;
  }
  section.cases .owl-carousel-cases .owl-dots button + button {
    margin-left: 20px;
  }
  section.cases .owl-carousel-cases .case {
    flex-direction: column;
    padding: 0 15px;
    box-sizing: border-box;
  }
  section.cases .owl-carousel-cases .case .col {
    width: 100% !important;
  }
  section.cases .owl-carousel-cases .case .col:first-child > p:last-child {
    text-align: center;
  }
  section.cases .owl-carousel-cases .case .col:first-child .dates {
    text-align: center;
    margin-bottom: 25px;
  }
  section.cases .owl-carousel-cases .case .col:first-child .price {
    font-size: 50px;
    margin-bottom: 15px;
    text-align: center;
  }
  section.cases .owl-carousel-cases .case .col:first-child .price:after {
    font-size: 24px;
    margin-left: 10px;
  }
  section.cases .owl-carousel-cases .case .col:first-child .text {
    text-align: center;
  }
  section.cases .owl-carousel-cases .case .col:first-child .text + .row {
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  }
  section.cases .owl-carousel-cases .case .col:first-child .text br {
    display: none;
  }
  section.cases .owl-carousel-cases .case .col:first-child .percent {
    font-size: 50px;
    line-height: 1;
    width: initial !important;
  }
  section.cases .owl-carousel-cases .case .col:first-child .percent + p {
    flex: 1;
    font-size: 12px;
  }
  section.cases .owl-carousel-cases .case .col:first-child .percent + p br {
    display: none;
  }
  section.cases .owl-carousel-cases .case .col:first-child .percent br {
    display: none;
  }
  section.cases .owl-carousel-cases .case .col:first-child > .row:first-child {
    justify-content: center;
    margin-bottom: 20px;
  }
  section.cases .owl-carousel-cases .case .col:first-child > .row:first-child .type {
    font-size: 20px;
  }
  section.cases .owl-carousel-cases .case .col:first-child > .row:first-child img {
    max-width: 120px;
  }
  section.cases .owl-carousel-cases .case .col:nth-child(2) {
    margin-top: 30px;
  }
  section.cases .owl-carousel-cases .case .col:nth-child(2) img {
    max-width: 100%;
    margin: 0 auto;
  }
  section.cases .owl-carousel-cases .case > p:last-child {
    position: initial !important;
    text-align: center;
    margin: 20px 0;
  }

  .personal-area {
    background: url(../img/laptop.png) center 6% no-repeat;
    background-size: 80%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .personal-area .row h3 {
    font-size: 20px;
    margin-top: 200px;
    text-align: center;
  }
  .personal-area .row h3 .strikethrough {
    display: none;
  }
  .personal-area .row p {
    font-size: 16px;
    text-align: center;
  }
  .personal-area .row:nth-child(2) {
    margin-bottom: 20px;
  }
  .personal-area .row:last-child {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .personal-area .row:last-child .blockquote {
    width: 45%;
    font-size: 11px;
    padding: 5px 0 5px 15px;
    height: initial;
    box-sizing: border-box;
  }
  .personal-area .row:last-child .blockquote:nth-child(3) {
    margin-top: 15px;
  }

  footer {
    display: none;
  }

  #scroll-top {
    bottom: 20px;
    left: 20px;
  }

  .ui-dialog .modal__caption {
    font-size: 28px;
  }
  .ui-dialog .modal__description {
    font-size: 14px;
  }

  .ui-dialog.ui-widget-content {
    padding: 15px 15px 0;
  }

  .ui-dialog .ui-dialog-content {
    padding: 4%;
  }

  .modal__form {
    margin: 20px 0;
  }

  .modal__form-row label {
    font-size: 16px;
  }

  .modal__form input[type=text], .modal__form input[type=email] {
    width: 220px;
    border-radius: 0;
  }

  .modal__form-row:not(:first-child) {
    margin-top: 15px;
  }

  .modal button {
    margin-top: 20px;
  }

  .modal__hint {
    font-size: 11px;
  }
  .modal__hint br {
    display: none;
  }

  .map {
    padding-top: 20px;
  }
}
