@import "./variables";

*, *:before, *:after {
  padding: 0;
}

html {
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
  color: $dark-blue;
  word-spacing: 1px;
  box-sizing: border-box;
  line-height: 1;
  overflow: auto;

  body {
    overflow-x: hidden;
    background-color: #f5f5f9;
    min-height: 100vh;
    padding-top: 80px;
    min-width: 1280px;

    h4 {
      font-family: "PT Mono Bold", sans-serif;
      font-size: 32px;
    }

    h2 {
      font-family: "PT Mono Bold", sans-serif;
      font-size: 36px;
      line-height: 1.2;
    }

    p {
      font-family: "TT Norms", sans-serif;
      font-size: 14px;
      color: $black-2;
      line-height: 1.3;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    button {
      cursor: pointer;
      outline: none;
      border: none;
    }

    a {
      text-decoration: none;
      cursor: pointer;
    }

    .blockquote {
      font-family: "PT Mono", sans-serif;
      font-size: 14px;
      text-align: right;
      line-height: 1.3;
      padding-right: 20px;
      border-right: 1px solid $turquoise;
      color: $black;
    }

    .disabled {
      opacity: 0.5;
      pointer-events: none;
      cursor: not-allowed !important;
    }

    .btn-primary {
      font-family: "TT Norms Medium", sans-serif;
      background-color: $dark-blue;
      color: #ffffff;
      padding: 16px 30px;
      font-size: 18px;
      border-radius: 100px;
      line-height: 1;

      &:hover {
        background-color: $turquoise;
        color: #010101;
      }
    }
  }

  body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}

.main-nav-wrapper {
  position: fixed;
  z-index: 10000;

  &.menu {
    transform: translate3d(-100vw, 0, 0);
  }

  &.contacts {
    transform: translate3d(100vw, 0, 0);
  }

  &.curtain {
    position: fixed;
    -webkit-transition: all 1000ms cubic-bezier(0.68, 0.25, 0.265, 1);
    -moz-transition: all 1000ms cubic-bezier(0.68, 0.25, 0.265, 1);
    -o-transition: all 1000ms cubic-bezier(0.68, 0.25, 0.265, 1);
    transition: all 1000ms cubic-bezier(0.68, 0.25, 0.265, 1);
  }

  &.active {
    transform: scale(1) !important;
    -webkit-transition: all 1000ms cubic-bezier(0.68, -0.25, 0.265, 1);
    -moz-transition: all 1000ms cubic-bezier(0.68, -0.25, 0.265, 1);
    -o-transition: all 1000ms cubic-bezier(0.68, -0.25, 0.265, 1);
    transition: all 1000ms cubic-bezier(0.68, -0.25, 0.265, 1);
    opacity: 0.98;
    z-index: 9999;
  }

  .background {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: #12425e;
    z-index: 1000;
    overflow: hidden;

    .logo {
      position: fixed;
      top: 8%;
      left: 10%;
      width: 190px;
      cursor: pointer;
      z-index: 2;
    }

    .nav-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      nav {
        display: flex;
        flex-direction: column;
        height: 90%;
        cursor: default;

        a {
          font-family: "PT Mono", sans-serif;
          font-size: 34px;
          color: #fff;
          line-height: normal;
          text-decoration: none;
        }

        ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          margin-bottom: 5vh;

          li {
            position: relative;
            display: none;
            padding: 1.2vw 0;
            opacity: 0;

            &.animated {
              display: block;
            }

            .nav-item:hover .strikethrough {
              width: calc(100% + 10px);
            }

            &:hover .strikethrough {
              width: calc(100% + 10px);
            }

            .text-wrapper:hover .strikethrough {
              width: calc(100% + 10px);
            }
          }
        }
      }
    }

    .contacts-close,
    .menu-close {
      opacity: 0;
      transition: opacity 1s;
    }
  }

  &.active {
    .contacts-close,
    .menu-close {
      opacity: 1;
    }
  }
}

.contacts-close,
.menu-close {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 100px;
  margin: auto 0;
  height: 150px;

  img {
    width: 52px;
    margin-bottom: 40px;
    cursor: pointer;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &__text {
    font-family: "PT Mono", sans-serif;
    font-size: 24px;
    color: #ffffff;
    transform: rotate(-90deg);
  }
}

.contacts-close {
  height: 200px;

  img {
    margin-bottom: 60px;
  }
}

.page {
  position: relative;
  min-height: calc(100vh - 204px);
  height: 100%;

  .outside-box {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    height: calc(100% - 120px);
    z-index: 9999;
    font-family: "PT Mono", sans-serif;
    font-size: 24px;

    &.main-menu {
      left: -140px;

      .menu-item {
        padding-left: 150px
      }

      .line {
        position: fixed;
        display: inline-block;
        height: 36%;
        width: 1px;
        background-color: $turquoise;
        transition: height .3s;

        &:first-child {
          top: 60px;
          left: 71px;
        }

        &:last-child {
          bottom: 60px;
          left: 71px;
        }
      }

      &:hover .line {
        height: 0 !important;
      }
    }

    &.contacts {
      right: -140px;

      .menu-item {
        padding-right: 150px
      }

      .line {
        position: fixed;
        display: inline-block;
        height: 36%;
        width: 1px;
        background-color: $turquoise;
        transition: height .3s;

        &:first-child {
          top: 60px;
          right: 71px;
        }

        &:last-child {
          bottom: 60px;
          right: 71px;
        }
      }

      &:hover .line {
        height: 0 !important;
      }
    }

    .menu-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      transform: rotate(-45deg);

      .text {
        transform: rotate(-90deg);
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }

  &.page-main {
    .section-first {
      .desktop-to-whom {
        display: flex;
        justify-content: space-around;
        width: 100%;

        @-webkit-keyframes myAnimation {
          0% {
            transform: translate(0, 0);
          }
          100% {
            transform: translate(0, 30px);
          }
        }

        @keyframes myAnimation {
          0% {
            transform: translate(0, 0);
          }
          100% {
            transform: translate(0, 30px);
          }
        }

        @-webkit-keyframes myAnimation2 {
          0% {
            transform: translate(0, 30px);
          }
          100% {
            transform: translate(0, 0);
          }
        }

        @keyframes myAnimation2 {
          0% {
            transform: translate(0, 30px);
          }
          100% {
            transform: translate(0, 0);
          }
        }

        @-webkit-keyframes myAnimation3 {
          0% {
            transform: translate(0, 20px);
          }
          100% {
            transform: translate(0, 70px);
          }
        }

        @keyframes myAnimation3 {
          0% {
            transform: translate(0, 20px);
          }
          100% {
            transform: translate(0, 70px);
          }
        }

        .block {
          width: 314px;
          -moz-transform: translateY(3%);
          -webkit-transform: translateY(3%);
          transform: translateY(3%);
          -moz-animation: myAnimation 4s linear infinite alternate;
          -webkit-animation: myAnimation 4s linear infinite alternate;
          animation: myAnimation 4s linear infinite alternate;

          &__img {
            text-align: center;
            margin-bottom: 25px;
          }

          &__text {
            border-left: 1px solid #899fac;
            padding-left: 20px;

            &-caption {
              margin-bottom: 10px;
              color: #12425e !important;
            }
          }

          &:first-child {
            .block__img {
              margin-bottom: -40px;
            }
          }

          &:last-child {
            -moz-animation: myAnimation3 5s linear infinite alternate;
            -webkit-animation: myAnimation3 5s linear infinite alternate;
            animation: myAnimation3 5s linear infinite alternate;
          }

          &:hover .strikethrough {
            width: calc(100% + 10px);
          }

          &:active,
          &:visited {
            color: #12425e;
          }
        }

        .block-center {
          margin-top: 13%;
          -moz-animation: myAnimation2 4s linear infinite alternate;
          -webkit-animation: myAnimation2 4s linear infinite alternate;
          animation: myAnimation2 4s linear infinite alternate;
        }
      }
    }
  }
}

#scene_7,
#scene_6,
#scene_5,
#scene_4,
#scene_2,
#scene_1,
#scene-menu,
#scene-contacts {
  left: -30%;

  .second {
    top: 50% !important;
  }
}

#scene_7,
#scene_6,
#scene_5,
#scene_2 {
  top: 0;

  .second {
    top: 50% !important;
  }
}

#scene_6 {
  left: 10%;
}

#scene_3 {
  top: 0;
  left: 20%;

  .first {
    top: 5% !important;
  }

  .second {
    top: 50% !important;
  }
}

#scene_4 {
  .first {
    top: 15% !important;
  }
}

#scene-contacts,
#scene-menu,
#scene_1,
#scene_2,
#scene_3,
#scene_4, #scene_5, #scene_6, #scene_7 {
  position: absolute !important;
  height: 100%;
  font-family: "PT Mono Bold", sans-serif;
  font-size: 460px;
  color: #ffffff;
  max-width: 1920px;
  white-space: nowrap;
  z-index: -1;
}

#scene-contacts,
#scene-menu {
  color: #25516b;
  opacity: 0.2;
  width: 130%;
  height: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  height: 100vh;
  min-height: 900px;
  max-height: 1020px;
  padding: 80px 0 50px 0;
}

.section-first {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  max-width: 1280px;
  height: calc(100vh - 80px);
  min-height: 900px;
  max-height: 1020px;
  box-sizing: border-box;

  h1 {
    font-family: "PT Mono Bold", sans-serif;
    font-size: 40px;
  }

  & > .blockquote {
    position: absolute;
    top: 60px;
    right: 0;
    color: $dark-blue !important;
  }
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.triangle {
  width: 270px;
  height: 270px;
  position: relative;
  -webkit-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  z-index: 800;
  cursor: pointer;

  &:hover {
    transform: rotate(45deg) scale(1.02);
    background: #fff;
    box-shadow: 24px 3px 42px -12px rgba(0, 0, 0, 0.45);
  }
}

.contacts .triangle:hover {
  box-shadow: 3px 24px 42px -12px rgba(0, 0, 0, 0.45);
}

.effective-analysis {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .business-opportunities__actions,
  &__actions {
    margin-left: 368px;
    margin-top: -70px;

    button {
      float: left;
    }

    .btn-primary {
      position: relative;
      overflow: hidden;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1.5em;
        height: 100%;
        background-color: rgba(#fff, 0.5);
        transform: translateX(0) skewX(-45deg);
        animation: move-light 5s infinite linear;
      }
    }

    @keyframes move-light {
      0% {
        transform: translateX(-4em) skewX(-45deg);
      }
      30% {
        transform: translateX(20em) skewX(-45deg);
      }
      100% {
        transform: translateX(20em) skewX(-45deg);
      }
    }

    .btn-transparent {
      display: flex;
      align-items: center;
      margin-left: 30px;
      padding: 10px 20px;

      img {
        margin-left: 20px;
      }
    }
  }

  .row {
    align-items: flex-start;

    h1 {
      padding-top: 160px;
      margin-left: -20px;
      line-height: 1.1;
    }

    p {
      font-size: 24px;
      text-align: center;
      margin: 80px 0;
      width: 100%;
      max-width: 910px;
      line-height: 1.2;
    }

    .blockquote {
      position: relative;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      text-align: left;
      border-right: none;
      border-left: 1px solid $turquoise;
      padding-right: 0;
      padding-left: 20px;
      font-family: "TT Norms Medium", sans-serif;
      font-size: 20px;
      line-height: 1.2;
    }

    &:last-child {
      justify-content: space-evenly;
      margin-top: 125px;
    }
  }
}

.arrow-continue {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  margin: 0 auto;
  cursor: pointer;
  width: 29px;
}

.communicate {
  & > .container {
    margin-bottom: 80px;
  }

  .row {
    h2 {
      text-align: center;
      margin-bottom: 15px;
    }

    p {
      font-size: 18px;
      margin-bottom: 70px;
    }
  }
  .text-wrapper {
    width: 100%;

    & > * {
      font-family: "PT Mono Bold", sans-serif;
      text-align: center;
    }

    .text1 {
      margin-bottom: 20px;
    }

    .text1, .text2 {
      font-size: 28px;
      letter-spacing: 1px;
      color: $dark-blue;
    }

    #unique-macs {
      font-size: 160px;
      line-height: 0.8;
    }
  }
}

.map {
  padding-top: 60px;
  height: 100%;
  width: 100%;

  & > .row:first-child {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 70px);
    margin: 20px auto 10px;

    .owl-carousel-months {
      width: 100%;

      .owl-stage-outer {
        overflow: hidden;

        .owl-stage {
          display: flex;
        }
      }
    }

    .owl-nav {
      position: relative;

      button {
        background-color: transparent;
      }

      .owl-prev {
        position: absolute;
        top: -16px;
        left: -30px;
        width: 31px;
      }

      .owl-next {
        position: absolute;
        top: -16px;
        right: -30px;
        width: 31px;
        transform: rotate(180deg);
      }
    }

    .months {
      .owl-item {
        cursor: pointer;

        & > div {
          position: relative;
          width: fit-content;
          margin: 0 auto;

          .strikethrough {
            bottom: -10px;
          }
        }
      }
    }
  }

  #city-map {
    width: 100%;
    height: 560px;
  }

  .row:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .count-month {
      position: relative;
      z-index: 2;

      .circle {
        position: absolute;
        top: calc(50% - 105px);
        left: -35px;
        display: block;
        height: 200px;
        width: 200px;
        border-radius: 100%;
        z-index: -1;

        svg {
          #bar {
            stroke: $turquoise;
            stroke-dasharray: 0;
            stroke-dashoffset: 565.48px;
            transition: stroke-dashoffset 1s linear;
            stroke-width: 10px;
            opacity: 0;

            &.go {
              stroke-dasharray: 565.48px;
              stroke-dashoffset: 0;
              opacity: 1;
            }
          }
        }
      }

      #count-month {
        font-family: "PT Mono Bold", sans-serif;
        font-size: 80px;
        line-height: 0.9;
        min-width: 200px;
        z-index: 3;
      }

      .hint {
        position: absolute;
        top: 65px;
        font-family: "TT Norms", sans-serif;
        font-size: 22px;
        padding-left: 5px;
        z-index: 2;
      }
    }

    p {
      font-size: 20px;
      margin-left: 65px;
      flex: 1;
    }
  }
}

.cases:not(section) {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  .case {
    display: flex;
    align-items: center;
    margin: 30px 0;

    &__caption {
      font-family: "PT Mono Bold", sans-serif;
      font-size: 28px;
      margin-bottom: 5px;
    }

    &:before {
      content: "";
      display: block;
      width: 71px;
      height: 71px;
      margin-right: 45px;
    }

    p {
      font-size: 20px;
    }

    & > div {
      width: calc(100% - 116px);
    }
  }
}

.devices {
  position: relative;
  flex-direction: row;

  & > * {
    width: 50%;
  }

  &__img {
    position: absolute;
    left: 53%;
    top: 27%;

    img {
      width: 600px;
    }
  }

  &__text {
    width: 100%;
    max-width: 800px;
    margin-right: auto;

    &-caption {
      line-height: 1.2;
      margin-bottom: 30px;
      font-size: 40px;
    }

    &-description {
      font-size: 18px;
      margin-bottom: 70px;
    }
  }

  &__cases {
    .case {
      width: 100%;

      &:nth-child(1):before {
        background: url(../img/scanner.svg) center / contain no-repeat;
      }

      &:nth-child(2):before {
        background: url(../img/special-po.svg) center / contain no-repeat;
      }

      &:nth-child(3):before {
        background: url(../img/antenna.svg) center / contain no-repeat;
      }

      &:nth-child(4):before {
        background: url(../img/devices.png) center / contain no-repeat;
      }
    }
  }
}

.data-collection {
  height: 100vh;

  & > .row:nth-child(2) {
    border-bottom: 1px solid $turquoise;

    .col {
      box-sizing: border-box;

      &:first-child {
        width: 45%;
      }

      &:last-child {
        width: 55%;
      }
    }

    & > .col:first-child {
      padding-right: 50px;

      .images {
        position: relative;
        height: 720px;

        img {
          position: absolute;
          left: 0;
          top: 0;
        }

        .brand {
          top: -15%;
          left: -16%;
        }

        .men {
          top: initial;
          bottom: 0;
        }

        .women {
          top: initial;
          left: initial;
          bottom: 0;
          right: 0;
        }
      }

      h3 {
        text-align: center;
        padding: 0 20px;
      }
    }

    & > .col:last-child {
      padding-left: 50px;

      h2 {
        font-size: 40px;
        line-height: 1;
        margin-bottom: 30px;
      }

      & > p {
        font-family: "TT Commons", sans-serif;
        font-size: 20px;
        margin-bottom: 15px;
        line-height: 1.2;

        &:nth-child(4) {
          margin-top: 60px;
        }
      }

      .row {
        align-items: center;

        .col:first-child {
          width: 120px;
          height: 100px;
          background: url(../img/devices.png) no-repeat center;
        }

        .col:last-child {
          flex: 1;
          max-width: 430px;
          margin-left: 20px;

          p {
            font-family: "TT Commons", sans-serif;
            font-size: 18px;
            line-height: 1.2;
          }
        }
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__cases {
    margin-bottom: 50px;

    .case {
      width: 50%;
      align-items: center !important;
      margin: 20px 0 !important;

      & > div {
        width: calc(100% - 58px);
      }

      &__caption {
        font-family: "TT Commons Bold", sans-serif !important;
        font-size: 18px !important;
        color: $black;
      }

      &:before {
        width: 40px !important;
        height: 40px !important;
        margin-right: 18px !important;
      }

      &:nth-child(1):before {
        background: url(../img/location.svg) center top / contain no-repeat;
      }

      &:nth-child(2):before {
        background: url(../img/gender.svg) center top / contain no-repeat;
      }

      &:nth-child(3):before {
        background: url(../img/moving.svg) center top / contain no-repeat;
      }

      &:nth-child(4):before {
        background: url(../img/interests.svg) center top / contain no-repeat;
      }

      &:nth-child(5):before {
        background: url(../img/os.svg) center top / contain no-repeat;
      }

      &:nth-child(6):before {
        background: url(../img/duration.svg) center top / contain no-repeat;
      }
    }
  }

  h3 {
    font-family: "PT Mono Bold", sans-serif;
    font-size: 24px;
    color: $light-blue;
    line-height: 1.2;
    margin-bottom: 20px;

    span:not(.text-wrapper) {
      font-family: "PT Mono", sans-serif;
    }
  }
}

.personal-area {
  background: url(../img/laptop.png) no-repeat 6% 25%;

  h2 {
    width: 100%;
    margin-bottom: 100px;
    line-height: 1;
    font-size: 50px;
    padding-left: 45px;
  }

  .row {
    &:nth-child(2) {
      margin-bottom: 150px;
    }

    &:nth-child(3) {
      margin-bottom: 60px;
    }

    &:last-child {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    h3 {
      font-family: "PT Mono Bold", sans-serif;
      font-size: 36px;
      width: 100%;
      max-width: 860px;
      margin-left: auto;
      line-height: 1.2;
    }

    p {
      font-family: "TT Norms Medium", sans-serif;
      font-size: 24px;
      width: 100%;
      max-width: 860px;
    }

    .blockquote {
      position: relative;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      text-align: left;
      border-right: none;
      border-left: 1px solid $turquoise;
      font-family: "TT Norms", sans-serif;
      font-size: 20px;
      line-height: 1.2;
      padding: 10px 0 10px 20px;
    }
  }
}

.how-it-work {
  .line {
    margin: 0 auto;
    width: 100%;
    max-width: 935px;
  }

  .line-mobile {
    display: none;
  }

  .step_1 {
    left: 30px;
    top: 15%;
  }

  .step_2 {
    left: 14%;
    top: 96%;
  }

  .step_3 {
    left: 36%;
    top: -11%;
  }

  .step_4 {
    left: 50%;
    top: 101%;
  }

  .step_5 {
    right: 6%;
    top: 21%;
  }

  button {
    left: calc(50% - 157px);
  }
}

footer {
  background-color: $dark-blue;
  box-shadow: inset 0px 20px 70px 0px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  padding: 60px 0;

  .container {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;

    .col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    a {
      color: #ffffff;

      &:hover, &.checked {
        text-decoration: underline;
        text-underline-position: under;
        color: $turquoise
      }
    }

    .logo {
      p {
        margin-top: 10px;
        font-size: 10px;
        color: #0b7cbd;
      }
    }

    .device ul,
    .menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      font-family: "PT Mono", sans-serif;
      font-size: 16px;

      li {
        & + li {
          margin-top: 15px;
        }
      }
    }

    .device {
      .btn-transparent {
        border-color: $turquoise;
        color: #ffffff;

        &:hover {
          color: $turquoise;
          border-color: #ffffff;
        }
      }
    }

    .contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;

      & > *:not(:first-child) {
        margin-top: 8px;
      }

      svg {
        width: 24px;
        height: 24px;

        path {
          fill: $turquoise
        }
      }

      &__phone {
        font-family: "PT Mono Bold", sans-serif;
        font-size: 20px;

        &:before {
          content: "";
          display: inline-block;
          width: 20px;
          height: 20px;
          background: url(../img/telephone.svg) center / contain no-repeat;
          margin-right: 8px;
          vertical-align: middle;
        }
      }

      &__email {
        margin-bottom: auto;

        &:before {
          content: "";
          display: inline-block;
          width: 20px;
          height: 20px;
          background: url(../img/mail.svg) center / contain no-repeat;
          margin-right: 8px;
          vertical-align: middle;
        }
      }

      &__socials {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        a + a {
          margin-left: 10px;
        }

        a {
          text-decoration: none;

          svg {
            width: 32px;
            height: 32px;
          }

          &:hover {
            svg {
              path {
                fill: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}

.header-mobile-menu {
  width: 100%;

  .contacts {
    display: flex;
    flex-direction: column;
    padding-top: 40px !important;

    & > *:not(:first-child) {
      margin-top: 10px;
    }

    svg {
      width: 24px;
      height: 24px;

      path {
        fill: $turquoise
      }
    }

    &__phone {
      font-family: "PT Mono Bold", sans-serif;
      font-size: 18px;
      color: #000000 !important;

      &:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(../img/telephone.svg) center / contain no-repeat;
        margin-right: 8px;
        vertical-align: middle;
      }
    }

    &__email {
      margin-bottom: auto;
      color: #000000 !important;

      &:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(../img/mail.svg) center / contain no-repeat;
        margin-right: 8px;
        vertical-align: middle;
      }
    }

    &__socials {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      a + a {
        margin-left: 10px;
      }

      a {
        text-decoration: none;

        svg {
          width: 32px;
          height: 32px;
        }

        &:hover {
          svg {
            path {
              fill: #ffffff;
            }
          }
        }
      }
    }
  }
}

.placemark-hint {
  position: relative;
  padding: 10px 12px;
  box-sizing: border-box;
  display: block;
  line-height: 1;
  white-space: nowrap;
  background-color: #ffffff;
  color: $dark-blue;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  font-family: "PT Mono Bold", sans-serif;
  font-size: 30px;
  text-align: left;

  //&:before {
  //  content: '';
  //  position: absolute;
  //  left: 0;
  //  bottom: -9px;
  //  border: 10px solid transparent;
  //  border-left: 10px solid #ffffff;
  //}

  .city-name {
    font-family: "TT Norms Medium", sans-serif;
    font-size: 18px;
    color: #010101;
    margin-bottom: 8px;
  }

  .text-gray {
    font-family: "TT Norms", sans-serif;
    font-size: 12px;
    color: #818181;
    width: 98px;
    border-top: 1px solid #35e5f5;
    padding: 5px 0;
  }
}

.bord-hint {
  position: relative;
  padding: 1px 8px;
  box-sizing: border-box;
  display: block;
  line-height: 1;
  white-space: nowrap;
  background-color: #ffffff;
  color: $dark-blue;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 14px;
  width: fit-content;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -9px;
    border: 10px solid transparent;
    border-left: 10px solid #ffffff;
  }
}

.text-wrapper {
  position: relative;
  z-index: 2
}

.strikethrough {
  position: absolute;
  left: -5px;
  bottom: -2px;
  height: 18px;
  width: 0;
  background-color: $turquoise;
  transition: width 1s;
  z-index: -1;
}

.strikethrough.go {
  width: calc(100% + 10px);
}

/*#map > ymaps .ymaps-2-1-74-inner-panes .ymaps-2-1-74-places-pane .ymaps-2-1-74-image-with-content {
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}*/

@keyframes bouncing-text {
  /*0% {
    -moz-transform: translateY(3%);
    -webkit-transform: translateY(3%);
    transform: translateY(3%);
  }
  100% {
    -moz-transform: translateY(-3%);
    -webkit-transform: translateY(-3%);
    transform: translateY(-3%);
  }*/
}

.map-wrapper {
  width: 100%;
  height: 100%;
  max-height: 560px;
}

.loader-wrapper {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0.7;
    z-index: 2;
    pointer-events: none;
  }

  &.hidden:before {
    display: none;
  }

  .loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 3;
  }

  &.hidden {
    .loader {
      display: none;
    }
  }
}

.loader {
  width: 130px;
}

.modal-wrapper {
  position: fixed;
  left: 0; top: 0; bottom: 0; right: 0;
  background-color: #000000;
  opacity: 0.4;
  display: none;
  z-index: 10000;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
  background: none;
  border: none;
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon {
  background: none;
}

.ui-front {
  z-index: 10000;
}

.ui-dialog {
  width: 100% !important;
  max-width: 682px;
  box-sizing: border-box;

  &.ui-widget-content {
    background: #ffffff;
    border: none;
    border-radius: 0;
    padding: 25px 25px 0;
  }

  .ui-dialog-content {
    padding: 10% 4% 4%;
  }

  .ui-widget-header {
    border: none;
    background: none;
  }

  &-titlebar-close {
    width: 30px !important;
    height: 30px !important;
    border: none;
    background-color: inherit;
    padding: 0 !important;

    .ui-icon {
      background: url(../img/close.svg) center / contain no-repeat !important;
      width: 30px;
      height: 30px;
      top: 28%;
      left: 28%;
      opacity: 0.7;
    }

    &:hover {
      .ui-icon {
        background: url(../img/close.svg) center / contain no-repeat !important;
        opacity: 1;
      }
    }
  }
}

.modal {
  max-width: 600px;
  margin: 0 auto;

  .important{
    margin-right: auto;

    &:before {
      content: "*";
      color: $turquoise;
      font-family: "TT Norms Bold", sans-serif;
      font-size: 20px;
    }
  }

  &__caption {
    text-align: center;
    margin-bottom: 10px;
  }

  &__description {
    font-family: "TT Norms", sans-serif;
    font-size: 16px;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin: 10% 0 10%;

    &-row {
      label {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-family: "TT Norms Bold", sans-serif;
        font-size: 20px;
        color: $black-2;
      }

      &:not(:first-child) {
        margin-top: 25px;
      }
    }

    input[type="text"], input[type="email"] {
      font-family: "TT Norms", sans-serif;
      font-size: 18px;
      width: 395px;
      border: none;
      border-bottom: 1px solid #c6cfd5;
      outline: none;
      padding: 5px;
    }
  }

  &__hint {
    font-family: "TT Norms Light", sans-serif;
    font-size: 12px;
    color: $black-2;
    text-align: center;

    a {
      color: $dark-blue;
      text-decoration: underline;
      text-underline-position: under;

      &:hover {
        color: $turquoise
      }
    }
  }

  button {
    max-width: 200px;
    margin: 12% auto 0;
  }
}

.info {
  display: flex;
  align-items: center;
  width: 215px;
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  text-decoration: underline;
  text-underline-position: under;
  color: $dark-blue;

  &:before {
    content: url(../img/info.png);
    margin-right: 15px;
  }

  &:hover {
    color: $turquoise
  }
}

.how-it-work {
  #scene_2 {
    top: 0;

    .first {
      top: 0 !important;
    }

    .second {
      top: 35% !important;
    }
  }

  h2 {
    margin-bottom: 100px;
    padding-left: 50px;
    width: 100%;
    font-size: 40px;
    text-align: center;
  }

  &__content {
    width: 100%;
    position: relative;

    .imac {
      position: absolute;
      top: 70px;
      right: -19vw;
      width: 80vw;
      max-width: 596px;
      z-index: 2;
    }

    .step {
      display: flex;
      align-items: center;
      position: absolute;
      color: #010101;

      &:before {
        content: "";
        display: block;
        width: 72px;
        height: 73px;
        margin-right: 10px;
      }

      &__caption {
        font-family: "TT Norms Medium", sans-serif;
        font-size: 20px;
        line-height: 1.2;
        flex: 1;
      }

      &__description {
        font-family: "TT Norms", sans-serif;
        font-size: 14px;
        line-height: 1.4;
      }
    }

    .step_1:before {
      background: url(../img/install.svg) center bottom / contain no-repeat;
    }

    .step_2:before {
      background: url(../img/radar.svg) center bottom / contain no-repeat;
    }

    .step_3:before {
      background: url(../img/collect-data.svg) center bottom / contain no-repeat;
    }

    .step_4:before {
      background: url(../img/form-segment.svg) center bottom / contain no-repeat;
    }

    .step_5:before {
      background: url(../img/coins.svg) center bottom / contain no-repeat;
    }

    &-bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-left: 50px;
    }
  }
}

input {
  outline: none;
}

#scroll-top {
  position: fixed;
  bottom: 40px;
  left: 46px;
  cursor: pointer;
  z-index: 99999;
}

#callback {
  position: fixed;
  font-size: 0;
  bottom: 40px;
  right: 46px;
  background: $dark-blue url(../img/feather.svg) center / 22px 22px no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 99999;
  border: 1px solid $turquoise;
  cursor: pointer;
  animation: bounce 1s infinite ease-in-out;

  &:hover {
    background-color: #ffffff;
  }
}

@keyframes bounce {
  0% {
    bottom: 40px;
  }
  50% {
    bottom: 50px;
  }
  100% {
    bottom: 40px;
  }
}

@-webkit-keyframes bounce {
  0% {
    bottom: 40px;
  }
  50% {
    bottom: 50px;
  }
  100% {
    bottom: 40px;
  }
}

.btn-transparent {
  font-family: "TT Norms Medium", sans-serif;
  font-size: 18px;
  color: #054673;
  background-color: transparent;
  border: 2px solid #054673;
  border-radius: 100px;
  padding: 14px 35px;
  box-sizing: border-box;
  line-height: 1;
  cursor: pointer;

  &:hover {
    color: #35e5f5;
    border-color: #35e5f5;
  }
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 1280px;
  height: 80px;
  font-family: "TT Norms Medium", sans-serif;
  font-size: 18px;
  color: #000000;
  background-color: #f5f5f9;
  z-index: 3;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &-logo {
    cursor: pointer;

    img {
      width: 189px;
    }
  }

  &-menu {
    display: flex;

    &__item {
      padding: 10px;
      line-height: 0.8;
      cursor: pointer;

      a {
        color: #010101;
      }

      &.checked,
      &:hover {
        a {
          color: #35e5f5;
        }
      }
    }
  }

  &-phone {
    font-family: "TT Norms Bold", sans-serif;

    a {
      color: #000000;
      vertical-align: middle;

      &:before {
        content: "";
        display: block;
        float: left;
        width: 23px;
        height: 23px;
        background: url(../img/phone.svg) center / contain no-repeat;
        margin-right: 10px;
      }

      &:hover {
        color: #35e5f5
      }
    }
  }

  .btn-transparent {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.btn-primary + .btn-transparent {
  margin-left: 30px;
}

.business-opportunities {
  .container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $turquoise;
  }

  &__left {
    position: relative;
    width: 45%;

    .europolis {
      margin-left: -15%;
    }

    .men {
      position: absolute;
      right: 5%;
      bottom: 0;
    }
  }

  &__right {
    width: 55%;

    h2 {
      font-size: 40px;
      margin-bottom: 40px;
    }

    p {
      font-size: 20px;
      margin-bottom: 50px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
  }
}

.promotion {
  padding: 60px 0;
  color: #ffffff;
  background: #521257 url(../img/promotion-bg.jpg) center / cover no-repeat;

  &.lazy {
    background: #521257 none;
  }

  h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
  }

  .row {
    justify-content: space-around;
    align-items: center;
  }

  .blockquote {
    text-align: left;
    border-right: none;
    border-left: 4px solid $turquoise;
    font-family: "TT Norms Medium", sans-serif;
    font-size: 16px;
    color: #ffffff;
    padding-right: 0;
    padding-left: 20px;
  }

  .btn-primary {
    background-color: $turquoise;
    width: 200px;
    color: #000000;
    text-align: center;

    &:hover {
      color: #ffffff;
      background-color: #fa415f;
    }
  }
}

.promo-2 {
  background: #521257 url(../img/promotion-bg-2.jpg) center / cover no-repeat;

  &.lazy {
    background: #521257 none;
  }
}

section.cases {
  padding-top: 130px;

  .container {
    h2 {
      padding-left: 83px;
      font-size: 40px;
      margin-bottom: 70px;
    }
  }

  .owl-carousel-cases {
    position: relative;
    margin: 0 70px 0 83px;
    width: calc(100% - 153px);

    .owl-stage-outer {
      height: 620px;
      box-sizing: border-box;

      .owl-stage {
        width: 100%;
      }
    }

    .owl-prev {
      position: absolute;
      left: -70px;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }

    .owl-next {
      position: absolute;
      right: -70px;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }

    .owl-dots {
      text-align: center;
      margin-top: 50px;

      button {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid #83a2b9;

        &.active {
          border-color: #054673;
          background-color: $turquoise;
        }

        & + button {
          margin-left: 32px;
        }
      }
    }
  }
}

#ymaps {
  width: 100%;
  height: 600px;
  margin-top: auto;
}

.ymaps-2-1-74-outerHint-pane *:not(.placemark-hint):not(.text-gray) {
  background-color: #ffffff !important;
  padding: 0 !important;
}

.balloon-content {
  font-family: "TT Norms", sans-serif;
  font-size: 14px;
  color: #000000;
  line-height: 1.2;

  &__type {
    font-family: "TT Norms Medium", sans-serif;
    margin-bottom: 8px;
  }

  //.balloon-content__owner,
  .balloon-content__count-macs {
    margin-bottom: 18px;
  }

  &__count-macs {
    .value {
      font-size: 20px;
    }
  }

  .label {
    font-family: "TT Norms Medium", sans-serif;
    color: #054673;
  }

  a {
    display: block;
    color: #000000;
  }

  .phone {
    display: flex;
    align-items: center;

    &:before {
      content: "";
      display: block;
      width: 14px;
      height: 14px;
      margin-right: 3px;
      background: url(../img/phone.svg) center / contain no-repeat;
      background-size: 80%;
    }
  }

  .site {
    display: flex;
    align-items: center;
    color: #3984f3;

    &:before {
      content: "";
      display: block;
      width: 14px;
      height: 14px;
      margin-right: 3px;
      background: url(../img/global.svg) center / contain no-repeat;
      background-size: 80%;
    }
  }

  .left {
    float: left;
    min-width: 180px;
  }

  .right {
    margin-left: 20px;
    float: left;

    img {
      width: 248px;
    }
  }
}

.balloon-width {
  width: 452px !important;
}

.burger {
  display: none;
  width: 45px;
  height: 45px;
  border: 0;
  position: relative;
  cursor: pointer;
  background: url(../img/burger-bg.jpg) center / cover no-repeat;
  border-radius: 50%;

  div {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #ffffff;
    width: 60%;
    height: 3px;
    transition: transform .2s ease, top .2s ease .2s, bottom .2s ease .2s, opacity .2s ease .2s;

    &:nth-child(1) {
      top: 13px;
    }
    &:nth-child(2) {
      top: calc(50% - 2px);
    }
    &:nth-child(3) {
      bottom: 13px;
    }
  }
  &.active {
    div {
      transition: transform .2s ease .2s, top .2s ease, bottom .2s ease, opacity .2s ease;
      &:nth-child(1) {
        transform: rotate(45deg);
        top: calc(50% - 2px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        bottom: calc(50% - 2px);
      }
    }
  }
}

.header-mobile-menu {
  display: none;
  flex-direction: column;
  order: 1;
  font-size: 18px;

  .header-menu__item {
    padding: 15px;
  }
}

@media (max-width: 640px) {
  html {
    body {
      min-width: initial;
      padding-top: 0;
      overflow: hidden;

      .btn-primary {
        font-size: 16px;
        padding: 14px 25px;
      }

      h1 {
        font-size: 28px;
        text-align: center;
      }
    }
  }

  .page {
    min-height: calc(100vh - 70px);
  }

  .header {
    position: fixed;
    padding: 10px 15px;
    height: 65px;
    min-width: initial;
    box-sizing: border-box;
    transition: height .3s;
    overflow: hidden;
    z-index: 100000;

    .header-phone + .btn-transparent,
    &-menu, &-phone {
      display: none;
    }

    &-logo {
      img {
        width: 150px;
      }
    }

    .burger {
      display: flex;
    }

    .header-menu:not(.header-mobile-menu) {
      display: none;
    }

    .container {
      align-items: flex-start;
      height: initial;

      .header-logo {
        margin-top: 10px;
      }
    }

    &.open {
      height: 100vh;

      .header-mobile-menu {
        display: flex;
        margin-top: 30px;
      }
    }
  }

  .effective-analysis {
    .row {
      & > img {
        width: 75%;
        max-width: 478px;
        margin-bottom: 20px;
      }

      h1 {
        padding-top: 0;
        margin-left: 0;
        font-size: 19px;
        line-height: 1.2;
        text-align: center;
      }

      &:last-child {
        align-items: center;
        margin-top: 20px;
      }

      .blockquote {
        width: 40%;
        height: initial;
        box-sizing: border-box;
        font-size: 11px;
        padding-left: 15px;

        &:nth-child(odd) {
          width: 52%;
        }

        &:nth-child(n + 3) {
          margin-top: 10px;
        }
      }
    }

    &__actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0;
      margin-top: 20px;

      .btn-connect {
        margin-right: 0 !important;
        margin-bottom: 15px;
        width: 306px;
      }

      .btn-transparent {
        margin-left: 0;
        padding: 7px 15px;
      }
    }
  }

  .strikethrough {
    height: 12px;
  }

  .btn-transparent {
    font-size: 16px;
    padding: 12px 25px;
  }

  .section-first {
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 500px;
    max-height: initial;
    height: initial;
    padding-top: 70px;
  }

  .arrow-continue {
    display: none;
  }

  section {
    min-height: 500px;
    max-height: initial;
  }

  .data-collection {
    height: initial;

    .row:nth-child(2) {
      .col:first-child {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;

        .images {
          height: initial;
          border-bottom: 1px solid #c8c8c8;

          .brand {
            position: initial;
            width: 80%;
            max-width: 625px;
          }

          .women {
            width: 80%;
            max-width: 491px;
          }
        }
      }

      .col:last-child {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;

        h2 {
          font-size: 28px;
          text-align: center;
          margin-top: 30px;
        }

        p {
          text-align: center;
          font-size: 16px;

          &:nth-child(4) {
            margin-top: 50px;
            font-size: 14px;
          }
        }
      }
    }

    &__cases {
      margin-bottom: 30px;

      .case {
        &:before {
          width: 30px !important;
          height: 30px !important;
          margin-right: 12px !important;
        }

        & > div {
          width: initial;
          flex: 1;
        }

        &__caption {
          margin-bottom: 0 !important;
          font-size: 14px !important;
        }
      }
    }

    &__actions {
      flex-direction: column;

      .btn-connect {
        width: 232px;
        margin-bottom: 15px;
      }
    }

    & > .row:nth-child(2) {
      border-bottom: none;
    }
  }

  #scene-contacts, #scene-menu, #scene_1, #scene_2, #scene_3, #scene_4, #scene_5, #scene_6, #scene_7 {
    font-size: 200px;
  }

  .btn-primary + .btn-transparent {
    margin-left: 0;
  }

  .how-it-work {
    padding: 40px 15px !important;

    h2 {
      padding-left: 0;
      font-size: 28px;
      margin-bottom: 30px;
    }

    .line:not(.line-mobile) {
      display: none;
    }

    .line-mobile {
      display: block;
      padding-top: 60px;
    }

    &__content {
      .step {
        &:before {
          width: 40px;
          height: 40px;
        }

        &__caption {
          font-size: 14px;
          line-height: 1.1;
        }
      }
    }

    .step_1 {
      top: 0;
    }

    .step_2 {
      left: initial;
      right: 20px;
      top: 20%;
    }

    .step_3 {
      left: 20px;
      top: 40%;
    }

    .step_4 {
      left: initial;
      right: 20px;
      top: initial;
      bottom: 26%;
    }

    .step_5 {
      left: 20px;
      right: initial;
      top: initial;
      bottom: 8%;
    }
  }

  .communicate {
    padding: 50px 0 0 !important;

    & > .container {
      padding: 0 15px;
      box-sizing: border-box;
      margin-bottom: 30px;
    }

    .text-wrapper {
      .text1, .text2 {
        font-size: 21px;
      }

      .text2 {
        margin-top: 15px;
      }

      #unique-macs {
        font-size: 48px !important;
      }
    }
  }

  #ymaps {
    height: 400px;
  }

  .promotion {
    padding: 30px 15px;

    h2 {
      font-size: 24px;
      margin-bottom: 30px;
    }

    .blockquote {
      border: none;
      padding: 0;
      text-align: center;
      margin-bottom: 30px;

      br {
        display: none;
      }
    }
  }

  .devices {
    flex-direction: column;

    &__text {
      order: 2;

      &-caption {
        font-size: 28px;
        text-align: center;
      }
    }

    &__img {
      text-align: center;
      position: initial;
      width: 100%;
      order: 1;
      margin: 0 0 30px;

      img {
        width: 100%;
        max-width: 600px;
      }
    }

    &__cases {
      padding: 0 15px;
      box-sizing: border-box;

      .case {
        margin: 15px 0 !important;
        justify-content: center;

        p {
          font-size: 14px !important;
          line-height: 1.2;
        }

        &__caption {
          font-size: 20px !important;
        }

        &__description {
          br {
            display: none;
          }
        }

        &:before {
          margin-right: 20px !important;
          width: 50px !important;
          height: 50px !important;
        }
      }
    }
  }

  section {
    height: initial;
    padding: 40px 0;
  }

  .business-opportunities {
    padding: 40px 15px !important;

    .container {
      flex-direction: column;
    }

    &__left, &__right {
      width: 100%;
    }

    &__left {
      border-bottom: 1px solid #c8c8c8;
      margin-bottom: 30px;

      .men {
        width: 60%;
        max-width: 323px;
      }

      .europolis {
        width: 120%;
        max-width: 600px;
      }
    }

    &__right {
      h2 {
        font-size: 28px;
        text-align: center;
        margin-bottom: 30px;
      }

      p {
        font-size: 16px;
        text-align: center;
        margin-bottom: 30px;

        br {
          display: none;
        }
      }
    }

    &__actions {
      flex-direction: column;

      .btn-connect {
        margin-bottom: 15px;
        width: 232px;
      }
    }

    .container {
      border-bottom: none;
    }
  }

  section.cases {
    padding-top: 40px;

    .container {
      h2 {
        padding-left: 0;
        font-size: 28px;
        text-align: center;
        margin-bottom: 30px;
      }
    }

    .owl-carousel-cases {
      width: 100%;
      margin: 0;

      .owl-stage-outer {
        height: initial;
      }

      .owl-dots {
        margin-top: 20px;

        button + button {
          margin-left: 20px;
        }
      }

      .case {
        flex-direction: column;
        padding: 0 15px;
        box-sizing: border-box;

        .col {
          width: 100% !important;
        }

        .col:first-child {
          & > p:last-child {
            text-align: center;
          }

          .dates {
            text-align: center;
            margin-bottom: 25px;
          }

          .price {
            font-size: 50px;
            margin-bottom: 15px;
            text-align: center;

            &:after {
              font-size: 24px;
              margin-left: 10px;
            }
          }

          .text {
            text-align: center;

            & + .row {
              justify-content: center;
              align-items: center;
              width: 90%;
              margin-left: auto;
              margin-right: auto;
              max-width: 300px;
            }

            br {
              display: none;
            }
          }

          .percent {
            font-size: 50px;
            line-height: 1;
            width: initial !important;

            & + p {
              flex: 1;
              font-size: 12px;

              br {
                display: none;
              }
            }

            br {
              display: none;
            }
          }

          & > .row {
            &:first-child {
              justify-content: center;
              margin-bottom: 20px;

              .type {
                font-size: 20px;
              }

              img {
                max-width: 120px;
              }
            }
          }
        }

        .col:nth-child(2) {
          margin-top: 30px;

          img {
            max-width: 100%;
            margin: 0 auto;
          }
        }

        & > p:last-child {
          position: initial !important;
          text-align: center;
          margin: 20px 0;
        }
      }
    }
  }

  .personal-area {
    background: url(../img/laptop.png) center 6% no-repeat;
    background-size: 80%;
    padding-left: 15px;
    padding-right: 15px;

    .row {
      h3 {
        font-size: 20px;
        margin-top: 200px;
        text-align: center;

        .strikethrough {
          display: none;
        }
      }

      p {
        font-size: 16px;
        text-align: center;
      }
    }

    .row:nth-child(2) {
      margin-bottom: 20px;
    }

    .row:last-child {
      flex-wrap: wrap;
      justify-content: space-around;

      .blockquote {
        width: 45%;
        font-size: 11px;
        padding: 5px 0 5px 15px;
        height: initial;
        box-sizing: border-box;

        &:nth-child(3) {
          margin-top: 15px;
        }
      }
    }
  }

  footer {
    display: none;
  }

  #scroll-top {
    bottom: 20px;
    left: 20px;
  }

  .ui-dialog {
    .modal__caption {
      font-size: 28px;
    }

    .modal__description {
      font-size: 14px;
    }
  }

  .ui-dialog.ui-widget-content {
    padding: 15px 15px 0;
  }

  .ui-dialog .ui-dialog-content {
    padding: 4%;
  }

  .modal__form {
    margin: 20px 0;
  }

  .modal__form-row label {
    font-size: 16px;
  }

  .modal__form input[type=text], .modal__form input[type=email] {
    width: 220px;
    border-radius: 0;
  }

  .modal__form-row:not(:first-child) {
    margin-top: 15px;
  }

  .modal button {
    margin-top: 20px;
  }

  .modal__hint {
    font-size: 11px;

    br {
      display: none;
    }
  }

  .map {
    padding-top: 20px;
  }
}