*, *:before, *:after {
  padding: 0;
}

html {
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
  color: #12425e;
  word-spacing: 1px;
  box-sizing: border-box;
  line-height: 1;
}
html body {
  overflow-x: hidden;
  background-color: #f5f5f5;
}
html body h4 {
  font-family: "PT Mono Bold", sans-serif;
  font-size: 32px;
}
html body h2 {
  font-family: "PT Mono Bold", sans-serif;
  font-size: 36px;
}
html body p {
  font-family: "TT Norms", sans-serif;
  font-size: 14px;
  color: #010101;
  line-height: 1.3;
}
html body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
html body button {
  cursor: pointer;
  outline: none;
}
html body a {
  text-decoration: none;
}
html body .blockquote {
  font-family: "PT Mono", sans-serif;
  font-size: 14px;
  text-align: right;
  line-height: 1.3;
  padding-right: 20px;
  border-right: 1px solid #899fac;
}
html body .disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed !important;
}
html body .btn-primary {
  font-family: "PT Mono", sans-serif;
  background-color: #12435f;
  color: #ffffff;
  padding: 15px 30px;
  font-size: 20px;
}
html body .btn-primary:hover {
  background-color: #00f2b5;
}
html body, html p, html h1, html h2, html h3, html h4, html h5, html h6 {
  margin: 0;
}

.page {
  position: relative;
}
.page .outside-box {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  height: calc(100% - 120px);
  z-index: 9999;
  font-family: "PT Mono", sans-serif;
  font-size: 24px;
}
.page .outside-box.main-menu {
  left: 1%;
}
.page .outside-box.contacts {
  right: 0;
}
.page .outside-box .menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.page .outside-box .menu-item .text {
  transform: rotate(-90deg);
}
.page .outside-box .menu-item .line {
  display: inline-block;
  height: 41%;
  width: 1px;
  background-color: #899fac;
}
.page.page-main header {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: calc(100% - 100px);
  max-width: 1280px;
  height: 100vh;
  padding-top: 100px;
  min-height: 700px;
  max-height: 1020px;
}
.page.page-main header h1 {
  width: 224px;
  height: 48px;
  position: absolute;
  top: 60px;
  display: inline-block;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  background: url(../img/logo.png) no-repeat center top;
  background-size: contain;
}
.page.page-main header .desktop-to-whom {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@-webkit-keyframes myAnimation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 30px);
  }
}
@keyframes myAnimation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 30px);
  }
}
@-webkit-keyframes myAnimation2 {
  0% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes myAnimation2 {
  0% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes myAnimation3 {
  0% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, 70px);
  }
}
@keyframes myAnimation3 {
  0% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, 70px);
  }
}
.page.page-main header .desktop-to-whom .block {
  width: 314px;
  -moz-transform: translateY(3%);
  -webkit-transform: translateY(3%);
  transform: translateY(3%);
  -moz-animation: myAnimation 4s linear infinite alternate;
  -webkit-animation: myAnimation 4s linear infinite alternate;
  animation: myAnimation 4s linear infinite alternate;
}
.page.page-main header .desktop-to-whom .block__img {
  text-align: center;
  margin-bottom: 25px;
}
.page.page-main header .desktop-to-whom .block__text {
  border-left: 1px solid #899fac;
  padding-left: 20px;
}
.page.page-main header .desktop-to-whom .block__text-caption {
  margin-bottom: 10px;
}
.page.page-main header .desktop-to-whom .block:first-child .block__img {
  margin-bottom: -40px;
}
.page.page-main header .desktop-to-whom .block:last-child {
  -moz-animation: myAnimation3 5s linear infinite alternate;
  -webkit-animation: myAnimation3 5s linear infinite alternate;
  animation: myAnimation3 5s linear infinite alternate;
}
.page.page-main header .desktop-to-whom .block-center {
  margin-top: 13%;
  -moz-animation: myAnimation2 4s linear infinite alternate;
  -webkit-animation: myAnimation2 4s linear infinite alternate;
  animation: myAnimation2 4s linear infinite alternate;
}
.page.page-main header .blockquote {
  position: absolute;
  top: 60px;
  right: 0;
}

#scene {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute !important;
  height: 100%;
  font-family: "PT Mono Bold", sans-serif;
  font-size: 460px;
  color: #ffffff;
  max-width: 1920px;
  overflow-x: hidden;
}
#scene div {
  white-space: nowrap;
}
#scene div.first {
  top: 0 !important;
}
#scene div.second {
  top: 10% !important;
}
#scene div.three {
  top: 30% !important;
}
#scene div.four {
  top: 40% !important;
}
#scene div.five {
  top: 60% !important;
}
#scene div.six {
  top: 70% !important;
}
#scene div.seven {
  top: 80% !important;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: calc(100% - 100px);
  max-width: 1280px;
  height: 100vh;
  box-sizing: border-box;
  min-height: 1020px;
  max-height: 1020px;
}

header {
  box-sizing: border-box;
}

.effective-analysis .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8% 0 8%;
}
.effective-analysis .row .blockquote {
  width: 337px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.effective-analysis .row .blockquote em {
  font-size: 10px;
}
.effective-analysis .row p {
  font-size: 18px;
  width: 64%;
  max-width: 806px;
}
.effective-analysis .text-wrapper {
  width: 100%;
}
.effective-analysis .text-wrapper .text1 {
  font-size: 50px;
  color: #12425e;
  letter-spacing: 1px;
  padding-left: 10%;
}
.effective-analysis .text-wrapper #unique-macs {
  font-family: "PT Mono Bold", sans-serif;
  font-size: 160px;
  text-align: center;
}
.effective-analysis .text-wrapper .text2 {
  font-size: 50px;
  padding-left: 40%;
}

.map {
  padding-top: 100px;
}
.map .row:first-child {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 70px);
  margin: 20px auto 10px;
}
.map .row:first-child > * {
  display: inline-block;
  float: left;
}
.map .row:first-child .owl-nav {
  position: relative;
}
.map .row:first-child .owl-nav .owl-prev {
  position: absolute;
  top: -16px;
  left: -30px;
  width: 31px;
}
.map .row:first-child .owl-nav .owl-next {
  position: absolute;
  top: -16px;
  right: -30px;
  width: 31px;
  transform: rotate(180deg);
}
.map .row:first-child .months .owl-item {
  cursor: pointer;
}
.map .row:first-child .months .owl-item > div {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.map .row:first-child .months .owl-item > div .strikethrough {
  bottom: -10px;
}
.map #map {
  width: 100%;
  height: 100%;
  max-height: 560px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
  margin-bottom: 5%;
}
.map .row:last-child {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.map .row:last-child #count-month {
  font-family: "PT Mono Bold", sans-serif;
  font-size: 80px;
  line-height: 0.9;
  z-index: 2;
}
.map .row:last-child .hint {
  position: absolute;
  top: 110px;
  font-family: "TT Norms", sans-serif;
  font-size: 22px;
  padding-left: 5px;
  z-index: 2;
}
.map .row:last-child .hint .circle {
  position: absolute;
  top: -127px;
  left: -27px;
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  z-index: -1;
}
.map .row:last-child .hint .circle svg #bar {
  stroke: #00e5a6;
  stroke-dasharray: 0;
  stroke-dashoffset: 565.48px;
  transition: stroke-dashoffset 1s linear;
  stroke-width: 10px;
  opacity: 0;
}
.map .row:last-child .hint .circle svg #bar.go {
  stroke-dasharray: 565.48px;
  stroke-dashoffset: 0;
  opacity: 1;
}
.map .row:last-child p {
  font-size: 18px;
  width: 64%;
  max-width: 806px;
}

.advertising-campaigns h2 {
  text-align: center;
}
.advertising-campaigns .row {
  margin-top: 10%;
  margin-bottom: 0;
}

.devices {
  flex-direction: row;
}
.devices > * {
  width: 50%;
}
.devices__img img {
  width: 95%;
}
.devices__text-caption {
  line-height: 1.2;
  margin-bottom: 30px;
}
.devices__text-description {
  font-size: 18px;
  margin-bottom: 70px;
}
.devices__text button {
  box-shadow: 0 30px 70px 6px rgba(0, 242, 181, 0.5);
}

footer {
  background-color: #12435f;
  color: #ffffff;
  padding: 60px 0;
}
footer .container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
footer .container a {
  color: #ffffff;
}
footer .container a:hover, footer .container a.checked {
  text-decoration: underline;
  text-underline-position: under;
  color: #00e5a6;
}
footer .container .logo p {
  margin-top: 10px;
  font-size: 10px;
  color: #0b7cbd;
}
footer .container ul {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  font-size: 14px;
}
footer .container ul li {
  padding: 28px 0;
}
footer .container .contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
footer .container .contacts > *:not(:first-child) {
  margin-top: 8px;
}
footer .container .contacts svg {
  width: 24px;
  height: 24px;
}
footer .container .contacts svg path {
  fill: #00e5a6;
}
footer .container .contacts__phone {
  font-family: "PT Mono Bold", sans-serif;
  font-size: 20px;
}
footer .container .contacts__phone:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/telephone.svg) center/contain no-repeat;
  margin-right: 8px;
  vertical-align: middle;
}
footer .container .contacts__email:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/mail.svg) center/contain no-repeat;
  margin-right: 8px;
  vertical-align: middle;
}
footer .container .contacts__socials {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
footer .container .contacts__socials a + a {
  margin-left: 10px;
}
footer .container .contacts__socials a {
  text-decoration: none;
}
footer .container .contacts__socials a:hover svg path {
  fill: #ffffff;
}

.placemark-hint {
  position: relative;
  padding: 1px 8px;
  box-sizing: border-box;
  display: block;
  line-height: 1;
  white-space: nowrap;
  background-color: #ffffff;
  color: #12425e;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  font-family: "PT Mono Bold", sans-serif;
  font-size: 30px;
  width: fit-content;
}
.placemark-hint:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -9px;
  border: 10px solid transparent;
  border-left: 10px solid #ffffff;
}

.text-wrapper {
  position: relative;
  z-index: 2;
}

.strikethrough {
  position: absolute;
  left: -5px;
  bottom: -2px;
  height: 18px;
  width: 0;
  background-color: #00e5a6;
  transition: width 1s;
  z-index: -1;
}

.strikethrough.go {
  width: calc(100% + 10px);
}

/*#map > ymaps .ymaps-2-1-74-inner-panes .ymaps-2-1-74-places-pane .ymaps-2-1-74-image-with-content {
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}*/
@keyframes bouncing-text {
  /*0% {
    -moz-transform: translateY(3%);
    -webkit-transform: translateY(3%);
    transform: translateY(3%);
  }
  100% {
    -moz-transform: translateY(-3%);
    -webkit-transform: translateY(-3%);
    transform: translateY(-3%);
  }*/
}

/*# sourceMappingURL=style.css.map */
