*, *:before, *:after {
  padding: 0;
}

html {
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
  color: #12425e;
  word-spacing: 1px;
  box-sizing: border-box;
  line-height: 1;

  body {
    overflow-x: hidden;
    background-color: #f5f5f5;

    h4 {
      font-family: "PT Mono Bold", sans-serif;
      font-size: 32px;
    }

    h2 {
      font-family: "PT Mono Bold", sans-serif;
      font-size: 36px;
    }

    p {
      font-family: "TT Norms", sans-serif;
      font-size: 14px;
      color: #010101;
      line-height: 1.3;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    button {
      cursor: pointer;
      outline: none;
    }

    a {
      text-decoration: none;
    }

    .blockquote {
      font-family: "PT Mono", sans-serif;
      font-size: 14px;
      text-align: right;
      line-height: 1.3;
      padding-right: 20px;
      border-right: 1px solid #899fac;
    }

    .disabled {
      opacity: 0.5;
      pointer-events: none;
      cursor: not-allowed !important;
    }

    .btn-primary {
      font-family: "PT Mono", sans-serif;
      background-color: #12435f;
      color: #ffffff;
      padding: 15px 30px;
      font-size: 20px;

      &:hover {
        background-color: #00f2b5;
      }
    }
  }

  body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}

.page {
  position: relative;

  .outside-box {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    height: calc(100% - 120px);
    z-index: 9999;
    font-family: "PT Mono", sans-serif;
    font-size: 24px;

    &.main-menu {
      left: 1%
    }

    &.contacts {
      right: 0
    }

    .menu-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;

      .text {
        transform: rotate(-90deg);
      }

      .line {
        display: inline-block;
        height: 41%;
        width: 1px;
        background-color: #899fac;
      }
    }
  }

  &.page-main {
    header {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      width: calc(100% - 100px);
      max-width: 1280px;
      height: 100vh;
      padding-top: 100px;
      min-height: 700px;
      max-height: 1020px;

      h1 {
        width: 224px;
        height: 48px;
        position: absolute;
        top: 60px;
        display: inline-block;
        overflow: hidden;
        text-indent: 101%;
        white-space: nowrap;
        background: url(../img/logo.png) no-repeat center top;
        background-size: contain;
      }

      .desktop-to-whom {
        display: flex;
        justify-content: space-around;
        width: 100%;

        @-webkit-keyframes myAnimation {
          0% {
            transform: translate(0, 0);
          }
          100% {
            transform: translate(0, 30px);
          }
        }

        @keyframes myAnimation {
          0% {
            transform: translate(0, 0);
          }
          100% {
            transform: translate(0, 30px);
          }
        }

        @-webkit-keyframes myAnimation2 {
          0% {
            transform: translate(0, 30px);
          }
          100% {
            transform: translate(0, 0);
          }
        }

        @keyframes myAnimation2 {
          0% {
            transform: translate(0, 30px);
          }
          100% {
            transform: translate(0, 0);
          }
        }

        @-webkit-keyframes myAnimation3 {
          0% {
            transform: translate(0, 20px);
          }
          100% {
            transform: translate(0, 70px);
          }
        }

        @keyframes myAnimation3 {
          0% {
            transform: translate(0, 20px);
          }
          100% {
            transform: translate(0, 70px);
          }
        }

        .block {
          width: 314px;
          -moz-transform: translateY(3%);
          -webkit-transform: translateY(3%);
          transform: translateY(3%);
          -moz-animation: myAnimation 4s linear infinite alternate;
          -webkit-animation: myAnimation 4s linear infinite alternate;
          animation: myAnimation 4s linear infinite alternate;

          &__img {
            text-align: center;
            margin-bottom: 25px;
          }

          &__text {
            border-left: 1px solid #899fac;
            padding-left: 20px;

            &-caption {
              margin-bottom: 10px;
            }
          }

          &:first-child {
            .block__img {
              margin-bottom: -40px;
            }
          }

          &:last-child {
            -moz-animation: myAnimation3 5s linear infinite alternate;
            -webkit-animation: myAnimation3 5s linear infinite alternate;
            animation: myAnimation3 5s linear infinite alternate;
          }
        }

        .block-center {
          margin-top: 13%;
          -moz-animation: myAnimation2 4s linear infinite alternate;
          -webkit-animation: myAnimation2 4s linear infinite alternate;
          animation: myAnimation2 4s linear infinite alternate;
        }
      }

      .blockquote {
        position: absolute;
        top: 60px;
        right: 0;
      }
    }
  }
}

#scene {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute !important;
  height: 100%;
  font-family: "PT Mono Bold", sans-serif;
  font-size: 460px;
  color: #ffffff;
  max-width: 1920px;
  overflow-x: hidden;

  div {
    white-space: nowrap;

    &.first {
      top: 0 !important;
    }

    &.second {
      top: 10% !important;
    }

    &.three {
      top: 30% !important;
    }

    &.four {
      top: 40% !important;
    }

    &.five {
      top: 60% !important;
    }

    &.six {
      top: 70% !important;
    }

    &.seven {
      top: 80% !important;
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: calc(100% - 100px);
  max-width: 1280px;
  height: 100vh;
  box-sizing: border-box;
  min-height: 1020px;
  max-height: 1020px;
}

header {
  box-sizing: border-box;
}

.effective-analysis {
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8% 0 8%;

    .blockquote {
      width: 337px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      em {
        font-size: 10px;
      }
    }

    p {
      font-size: 18px;
      width: 64%;
      max-width: 806px;
    }
  }

  .text-wrapper {
    width: 100%;

    .text1 {
      font-size: 50px;
      color: #12425e;
      letter-spacing: 1px;
      padding-left: 10%;
    }

    #unique-macs {
      font-family: "PT Mono Bold", sans-serif;
      font-size: 160px;
      text-align: center;
    }

    .text2 {
      font-size: 50px;
      padding-left: 40%;
    }
  }
}

.map {
  padding-top: 100px;

  .row:first-child {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 70px);
    margin: 20px auto 10px;

    & > * {
      display: inline-block;
      float: left;
    }

    .owl-nav {
      position: relative;

      .owl-prev {
        position: absolute;
        top: -16px;
        left: -30px;
        width: 31px;
      }

      .owl-next {
        position: absolute;
        top: -16px;
        right: -30px;
        width: 31px;
        transform: rotate(180deg);
      }
    }

    .months {
      .owl-item {
        cursor: pointer;

        & > div {
          position: relative;
          width: fit-content;
          margin: 0 auto;

          .strikethrough {
            bottom: -10px;
          }
        }
      }
    }
  }

  #map {
    width: 100%;
    height: 100%;
    max-height: 560px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    margin-bottom: 5%;
  }

  .row:last-child {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    #count-month {
      font-family: "PT Mono Bold", sans-serif;
      font-size: 80px;
      line-height: 0.9;
      z-index: 2;
    }

    .hint {
      position: absolute;
      top: 110px;
      font-family: "TT Norms", sans-serif;
      font-size: 22px;
      padding-left: 5px;
      z-index: 2;


      .circle {
        position: absolute;
        top: -127px;
        left: -27px;
        display: block;
        height: 200px;
        width: 200px;
        border-radius: 100%;
        z-index: -1;

        svg {
          #bar {
            stroke: #00e5a6;
            stroke-dasharray: 0;
            stroke-dashoffset: 565.48px;
            transition: stroke-dashoffset 1s linear;
            stroke-width: 10px;
            opacity: 0;

            &.go {
              stroke-dasharray: 565.48px;
              stroke-dashoffset: 0;
              opacity: 1;
            }
          }
        }
      }
    }

    p {
      font-size: 18px;
      width: 64%;
      max-width: 806px;
    }
  }
}

.advertising-campaigns {
  h2 {
    text-align: center;
  }

  .row {
    margin-top: 10%;
    margin-bottom: 0;
  }
}

.devices {
  flex-direction: row;

  & > * {
    width: 50%;
  }

  &__img {
    img {
      width: 95%;
    }
  }

  &__text {
    &-caption {
      line-height: 1.2;
      margin-bottom: 30px;
    }

    &-description {
      font-size: 18px;
      margin-bottom: 70px;
    }

    button {
      box-shadow: 0 30px 70px 6px rgba(0, 242, 181, 0.5);
    }
  }
}

footer {
  background-color: #12435f;
  color: #ffffff;
  padding: 60px 0;

  .container {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;

    a {
      color: #ffffff;

      &:hover, &.checked {
        text-decoration: underline;
        text-underline-position: under;
        color: #00e5a6
      }
    }

    .logo {
      p {
        margin-top: 10px;
        font-size: 10px;
        color: #0b7cbd;
      }
    }

    ul {
      display: flex;
      justify-content: space-evenly;
      flex: 1;
      font-size: 14px;

      li {
        padding: 28px 0;
      }
    }

    .contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;

      & > *:not(:first-child) {
        margin-top: 8px;
      }

      svg {
        width: 24px;
        height: 24px;

        path {
          fill: #00e5a6
        }
      }

      &__phone {
        font-family: "PT Mono Bold", sans-serif;
        font-size: 20px;

        &:before {
          content: "";
          display: inline-block;
          width: 20px;
          height: 20px;
          background: url(../img/telephone.svg) center / contain no-repeat;
          margin-right: 8px;
          vertical-align: middle;
        }
      }

      &__email {
        &:before {
          content: "";
          display: inline-block;
          width: 20px;
          height: 20px;
          background: url(../img/mail.svg) center / contain no-repeat;
          margin-right: 8px;
          vertical-align: middle;
        }
      }

      &__socials {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        a + a {
          margin-left: 10px;
        }

        a {
          text-decoration: none;

          &:hover {
            svg {
              path {
                fill: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}

.placemark-hint {
  position: relative;
  padding: 1px 8px;
  box-sizing: border-box;
  display: block;
  line-height: 1;
  white-space: nowrap;
  background-color: #ffffff;
  color: #12425e;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  font-family: "PT Mono Bold", sans-serif;
  font-size: 30px;
  width: fit-content;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -9px;
    border: 10px solid transparent;
    border-left: 10px solid #ffffff;
  }
}

.text-wrapper {position: relative; z-index: 2}

.strikethrough {
  position: absolute;
  left: -5px;
  bottom: -2px;
  height: 18px;
  width: 0;
  background-color: #00e5a6;
  transition: width 1s;
  z-index: -1;
}

.strikethrough.go {
  width: calc(100% + 10px);
}

/*#map > ymaps .ymaps-2-1-74-inner-panes .ymaps-2-1-74-places-pane .ymaps-2-1-74-image-with-content {
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}*/

@keyframes bouncing-text {
  /*0% {
    -moz-transform: translateY(3%);
    -webkit-transform: translateY(3%);
    transform: translateY(3%);
  }
  100% {
    -moz-transform: translateY(-3%);
    -webkit-transform: translateY(-3%);
    transform: translateY(-3%);
  }*/
}