



<!--                                <div class="brief-block select-map-city">-->
<!--                                    <div class="key">Тип объекта</div>-->
<!--                                    <div class="value">-->
<!--                                        <div class="select-custom" id="select-map-type-object">-->
<!--                                            <span class="select-custom__span">-->
<!--                                                <span class="select-custom__arrow"></span>-->
<!--                                                <span class="select-custom__option">-->
<!--                                                    <span>Не выбран</span>-->
<!--                                                </span>-->
<!--                                            </span>-->
<!--                                            <select class="select__default"></select>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->




<!--<div class="case item">-->
    <!--<div class="col">-->
        <!--<div class="row">-->
            <!--<span class="type">Компания</span>-->
            <!--<img src="<?= $config->urls->templates ?>img/bm.png" alt="">-->
        <!--</div>-->
        <!--<p class="description">-->
            <!--Компания «Бизнес-мастер» организовывала мастер-класс<br>-->
            <!--Максима Батырева в Тюмени. Для таргетирования была<br>-->
            <!--собрана база клиентов с тех носителей наружной рекламы,<br>-->
            <!--где транслировалась реклама мастер-класса-->
        <!--</p>-->
        <!--<div class="price bm">41 073</div>-->
        <!--<p class="text">увидели outdoor-рекламу мероприятия<br>(по данным, собранным системой О2О)</p>-->
        <!--<p class="text">По собранной аудитории мы настроили<br>таргетированную рекламную кампанию онлайн</p>-->
        <!--<p class="text">Из них:</p>-->
        <!--<div class="row">-->
            <!--<div class="percent">10%</div>-->
            <!--<p>(4 107 человек)<br>перешли на сайт рекламодателя</p>-->
        <!--</div>-->
        <!--<p class="text">Из них:</p>-->
        <!--<div class="row em">-->
            <!--<div class="percent">8%</div>-->
            <!--<p>(329 человек)<br>стали участниками мастер-класса</p>-->
        <!--</div>-->
        <!--<em class="text">-->
            <!--К сожалению зал, забронированный для мероприятия смог вместить<br>-->
            <!--всего 350 гостей, желающих принять участие было гораздо больше-->
        <!--</em>-->
    <!--</div>-->
    <!--<div class="col">-->
        <!--<img src="<?= $config->urls->templates ?>img/diagram3.png" alt="">-->
    <!--</div>-->
<!--</div>-->